[2016-06-24 13:33] jeroendesloovere commented on #1547
Clients who are scared of "databases" and "top-secret" company information.

[2016-06-24 13:35] carakas opened #1550 "Group right checkboxes are buggy on module level"
http://demo.forkcms.com/private/en/groups/edit?token=321jrq1v25&id=1#tabPermissions

[2016-06-27 07:28] #1546 closed

[2016-06-27 07:52] WouterSioen commented on #1544
merged in #1545

[2016-06-27 07:52] #1544 closed

[2016-06-27 12:36] carakas opened #1556 "27.6.2016 as dateformat does not work with SpoonFormDate"

[2016-06-27 12:36] carakas commented on #1556
I get `..2016` as value

[2016-06-28 06:52] carakas opened #1557 "Emails can't parse html in the frontend"

[2016-06-28 09:37] jeroendesloovere opened #1558 "Adding Fork CMS to MAMP (MAC) extras"
Would be nice if "fork cms" is also available for MAC MAMP extras.
![schermafbeelding 2016-06-28 om 11 37 03](https://cloud.githubusercontent.com/assets/588616/16410848/a6832f08-3d24-11e6-8d36-60298b4a3cea.png)

![schermafbeelding 2016-06-28 om 11 35 31](https://cloud.githubusercontent.com/assets/588616/16410843/a1a96f7e-3d24-11e6-9c4e-5aab1e7f813d.png)

[2016-06-28 10:14] jessedobbelaere commented on #1558
Hmm the fact that there are only 4 CMS's listed makes me think the MAMP team selects the software itself, so not sure if we stand a chance :P

[2016-06-28 10:23] WouterSchoofs opened #1559 "Placeholders formbuilder"
There is a bug for having placeholders in textfields etc.
@WouterSioen said that the rendering of the form tags has changed. It cloud be some issue in there.

[2016-06-28 11:43] jeroendesloovere commented on #1558
A "no" we have, a "yes" we can get :-D

[2016-06-28 12:43] Katrienvh opened #1562 "New group get not allowed error on pages module"
I created a new group with all rights active on the pages module? I can edit pages but still there is an that the module is not allowed.

[2016-06-28 12:44] Katrienvh opened #1563 "Group with rights to edit groups can not edit groups"
I made a new group with the rights to edit groups of users but the item don't show up in de menu

[2016-06-28 13:29] carakas opened #1564 "placing multiple content blocks on a page failes"
It will just show the last content block x times, this is because the frontend template parses everything in one turn, this makes it possible for actions/widgets to overwrite each other

[2016-06-28 13:36] carakas commented on #402
This has been completed with the release of fork 4.0.0

[2016-06-28 13:36] #402 closed

[2016-06-28 14:40] WouterSioen commented on #1564
related to https://github.com/forkcms/forkcms/issues/1498 and https://github.com/forkcms/forkcms/issues/1470

[2016-06-28 14:42] carakas commented on #1470
I am pro local scope

[2016-06-29 06:52] WouterSioen commented on #1550
probably related #1563 and #1564

[2016-06-29 07:53] carakas opened #1567 "sprintf is used in some templates, format should be used"
http://twig.sensiolabs.org/doc/filters/format.html

replace sprintf with format in the templates and depricate sprintf

[2016-06-29 08:20] #1559 closed

[2016-06-29 08:21] #1557 closed

[2016-06-29 09:06] #1383 closed

[2016-06-29 09:09] WouterSioen commented on #1556
I wanted to say "who uses this anyway" but this page https://en.wikipedia.org/wiki/Date_format_by_country indicates that a lot of countries doe it that way :)

[2016-06-29 09:10] #1543 closed

[2016-06-29 09:17] jeroendesloovere commented on #1383
@carakas did you tested "mailto" and "external" links? I don't remember very correctly, but I think that they were broken to.

[2016-06-29 09:19] jeroendesloovere commented on #1383
Hmmm, looked into my PR and I had added some extra tracking for internal links.
Mailto and external links should work I guess.

[2016-06-29 09:20] carakas commented on #1383
maybe you can create a new pr for the extra tracking you added

[2016-06-29 09:27] carakas opened #1569 "show errors in forms after/below the form field not between the form field and the label"

[2016-06-29 09:48] #1521 closed

[2016-06-29 09:48] WouterSioen commented on #1529
fixed

[2016-06-29 09:48] #1529 closed

[2016-06-29 13:46] #1481 closed

[2016-06-29 14:08] #1564 closed

[2016-06-29 14:09] #1498 closed

[2016-06-29 14:09] #1470 closed

[2016-06-30 08:03] guytarded opened #1575 "getnavigation crashes when having only a home page AND setting parent to 1"
Exception is thrown which states that the parent doesn't exist.
Possible solution: return empty navigationlist.

[2016-06-30 09:29] jeroendesloovere opened #1576 "Monolog swift mailer is throwing error when trying to send mail"
When changing
![schermafbeelding 2016-06-30 om 11 29 11](https://cloud.githubusercontent.com/assets/588616/16483705/e2d9702e-3eb5-11e6-83b6-0bb79adf7313.png)
to
![schermafbeelding 2016-06-30 om 11 26 52](https://cloud.githubusercontent.com/assets/588616/16483695/d9525c28-3eb5-11e6-8d0a-4b3868574b19.png)

You get an error in the website
![schermafbeelding 2016-06-30 om 11 21 29](https://cloud.githu

[2016-06-30 11:42] Katrienvh opened #1578 "alert bar fades out but still stands above the header"
When the alert bars fades out , its still stand above the header. Cause of that you can not change the language of click on any other thing in the header

[2016-06-30 11:55] WouterSioen commented on #1556
fixed in spoon, not fixed in fork yet (see #1579)

[2016-06-30 21:12] carakas opened #1585 "Triton needs an update"
We have a very nice backend now but the triton theme looks old and is not responsive.
I think this gives a bad first impression

[2016-06-30 23:07] carakas opened #1588 "Ajax actions and normal actions with the same name get handled by the same rights"
i.e
The tags module has an ajax action edit an a normal action edit.
They show up as separate permissions in the datagrid, but if you select only one and save both are activated since there is no difference in the name

[2016-06-30 23:23] carakas commented on #1558
what I also wonder is how they can update it. The downside of something like this is that they keep offering an outdated version of fork. And since fork doesn't have an auto-update function like wordpress I don't this this is a good idea

[2016-06-30 23:30] carakas commented on #1558
I've sended an email to request more info on how they select this. Even if we don't go ahead with this, I still think it would be interesting to know

[2016-06-30 23:33] #1556 closed

[2016-07-01 06:16] jeroendesloovere commented on #1558
@carakas 👍 thanks! Good work.

[2016-07-01 06:22] #1550 closed

[2016-07-01 06:22] #1563 closed

[2016-07-01 06:22] #1549 closed

[2016-07-01 06:22] #1578 closed

[2016-07-01 06:24] WouterSioen commented on #1588
I think this can only be changed with database changes, so this can only be fixed in a major release (saving the type op action, or pre/suffixing it in the action name)

[2016-07-01 06:49] carakas commented on #1588
I already feared that, thats why I added RFC

[2016-07-01 06:56] #1562 closed

[2016-07-01 06:59] #1575 closed

[2016-07-01 07:24] #1569 closed

[2016-07-01 07:36] jeroendesloovere commented on #1576
Why is this one closed?

[2016-07-01 07:38] WouterSioen commented on #1576
because your fix was merged? ;)

[2016-07-01 07:39] WouterSioen commented on #1576
https://github.com/forkcms/forkcms/pull/1577

[2016-07-01 07:41] jeroendesloovere commented on #1576
In this issue monolog.handler.swift is not working!

The fix (#1577) you mention is something entirely different => monolog.handler.main

[2016-07-01 07:43] WouterSioen commented on #1576
ok, my bad, sorry! With all those issues going so fast, I was losing track ;)

[2016-07-01 07:57] #1567 closed

[2016-07-01 12:25] carakas opened #1598 "Add number form field"
This should include a number of things that now need to be set via parameters or be done when getting the value, like replacing , with .

[2016-07-01 12:57] carakas opened #1599 "Add TemplateModifier showBool alias to DataGridFunctions"
we often forget where the function is and reimplement it. adding an alias to the datagrid functions that uses the template modifier probably will resolve this

[2016-07-01 18:02] jeroendesloovere opened #1600 "Installation contains invisible text"
<img width="992" alt="schermafbeelding 2016-07-01 om 20 01 27" src="https://cloud.githubusercontent.com/assets/588616/16530110/a74bb3d4-3fc6-11e6-82ed-3fa6b02a6e98.png">
<img width="1034" alt="schermafbeelding 2016-07-01 om 20 01 31" src="https://cloud.githubusercontent.com/assets/588616/16530111/a76c2b6e-3fc6-11e6-97d2-637b466c4b9f.png">

[2016-07-02 13:05] carakas opened #1601 "Install button should be removed after installation"
If you click on the detail of a module after its installation the install button is still visible
If you click on it you get an error stating that the item does not exist. This is confusing since the module is intalled and does work

[2016-07-02 13:07] WouterSioen commented on #1600
Hmm, I already fixed some of this, but didn't notice these ones.

[2016-07-02 17:27] jeroendesloovere commented on #1600
I've used "create-project", did not check if it is 4.0.4

[2016-07-02 18:24] carakas opened #1603 "validate the info.xml of a theme before installing"
one of the things that should be checked is if the name of the theme in the info.xml matches the folder name. if this is not the case the theme wil say it is installed but it won't show up as installed

[2016-07-02 19:39] carakas commented on #1598
not going to do this after all since we probably will move to symfony forms soon

[2016-07-02 19:39] #1598 closed

[2016-07-02 19:41] carakas commented on #1547
if you would implement this I don't think you should secretly save it anyway.

[2016-07-02 19:42] carakas commented on #1558
They are currently looking into this. Will get back with more info soon

[2016-07-02 19:45] carakas opened #1606 "Add way to install modules with composer"

[2016-07-04 06:43] WouterSioen commented on #1598
you can already use symfony forms if you want to ;)

[2016-07-04 06:45] #1601 closed

[2016-07-04 08:52] #1535 closed

[2016-07-04 12:55] #1600 closed

[2016-07-04 13:01] guytarded commented on #1606
This would be great!

[2016-07-04 13:05] guytarded commented on #1547
Same idea here as @carakas . Just send is just send, not decieving your client

[2016-07-04 13:07] carakas commented on #1547
Ill add this to https://github.com/forkcms/forkcms/pull/1602 in order to prevent merge errors

[2016-07-05 08:26] jeroendesloovere opened #1612 "FormBuilder: add sum field"
**Problem**

Sometimes spammers can create a script that fills in the form with random data.
Which pollutes your database.

**Solution**

Adding an extra possible "field-type", "sum", could prevent this.
(or use an external captcha)
![schermafbeelding 2016-07-05 om 10 25 11](https://cloud.githubusercontent.com/assets/588616/16578430/d0585864-429a-11e6-8b36-ff79fd262abd.png)

[2016-07-05 08:28] carakas commented on #1612
I would go for a captcha field in that case and let them choose the type with settings

[2016-07-05 08:40] jessedobbelaere commented on #1612
I'm more fan of a honeypot. I added this on the Fork forum once, and no spam anymore since then. It's just a fake field hidden for normal users, but spam bots fill it in usually. And when it's filled in, we throw an error.

[code]

[code]

Then in the Action:

[code]

[2016-07-05 08:47] carakas commented on #1612
if we would add a captcha I also would suggest to use the Google captcha
but the honneypot sounds nice to but can give problems for people who use a text-to-speach browser, like blind people.

so maybe we can add a prevent spam field or something (bad at naming things)
with the options:

- honneypot
- Google Captcha (do you need to have api credentials for this?)
- Checksum

[2016-07-05 09:45] carakas opened #1613 "Add support for database DATETIME strings to the DataGridFunctions"

[2016-07-06 07:57] WouterSioen commented on #1612
akismet in the formbuilder is rather hard to achieve. I did this some times but this was really nasty.

[2016-07-06 07:58] WouterSioen commented on #1585
Absolutely agree to this, but we'll need to find someone with some time to do this.

[2016-07-06 08:05] WouterSioen commented on #1537
I'll close this because saving the upload path isn't possible using html forms, and there are good enough solutions using the cli.

[2016-07-06 08:05] #1537 closed

[2016-07-06 08:13] WouterSioen commented on #1405
This one is fixed

[2016-07-06 08:13] #1405 closed

[2016-07-07 06:08] jeroendesloovere commented on #1576
@forkcms/core-contributors Anybody has a solution?

[2016-07-07 07:01] WouterSioen commented on #1576
@jeroendesloovere

Have you tried this as configuration?

[code]

That's how it's configured on the Symfony documentation (http://symfony.com/doc/2.8/cookbook/logging/monolog_email.html)

I guess it changed since symfony 2.3.

[2016-07-08 06:51] jeroendesloovere commented on #1612
I'm also not a fan of using external services for our contact forms, which should last forever.

[2016-07-08 06:52] jeroendesloovere commented on #1612
I've created a "checksum" for a client, is that an option?

[2016-07-08 07:08] carakas commented on #1612
you can always PR it and then we can see it from there and comment on the PR ?

[2016-07-11 06:27] WouterSioen commented on #1576
poke @jeroendesloovere

[2016-07-11 06:27] WouterSioen commented on #1531
or http://twig.sensiolabs.org/doc/extensions/intl.html

[2016-07-11 07:33] jessedobbelaere commented on #1576
I still seem to be getting the error with this config, will have to do some debugging when I have time :)

<details>
ContextErrorException in MessageFactory.php line 47:
Warning: Missing argument 1 for Symfony\Bundle\MonologBundle\SwiftMailer\MessageFactory::createMessage()
</details>

[2016-07-11 09:39] jeroendesloovere commented on #1576
Nope, did not found the time yet.
Thanks @jessedobbelaere for testing this.

[2016-07-12 06:58] WouterSioen commented on #1532
@jeroendesloovere this is Spoon code, and should be an issue in there.

I've tested it though and the cookie is removed in the request itself, but is still there in the next request. I'll look into it.

[2016-07-12 07:03] WouterSioen commented on #1532
hmm, it is a symfony issue, but it won't be that easy to fix. The problem is that you should do `clearCookie` on the response object. We don't have it available though in our controllers. I'll think about another solution.

[2016-07-12 08:38] WouterSioen commented on #1576
@jessedobbelaere @jeroendesloovere I've tried it with this config:

[code]

And it worked:

<img width="1106" alt="screen shot 2016-07-12 at 10 37 54" src="https://cloud.githubusercontent.com/assets/1398405/16760581/b79231e2-481c-11e6-8774-25c7026176b2.png">

[2016-07-12 12:18] #1532 closed

[2016-07-12 12:18] #1531 closed

[2016-07-12 12:18] #1576 closed

[2016-07-12 15:44] #1430 closed

[2016-07-12 22:17] jeroendesloovere commented on #1164
New PR #1629

[2016-07-13 15:40] dubgeiser opened #1630 "Make file system check more robust for checking og:image urls"
In https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Engine/Header.php#L346 a check is made to verify if a given image really exists on the file system.
This seems a sane check, but it poses a problem:
Facebook fetches the images served via og:image and stores it on its own servers and while it is possible to make Facebook re-scrape urls and so make it "clear" its cache, it does _no

[2016-07-14 07:03] WouterSioen commented on #1630
The easiest way to fix this seems to me to change `if (!is_file(PATH_WWW . $image)) {` into `if (!is_file(PATH_WWW . strtok($image, '?'))) {` which will allow you to add GET parameters to the image name.

We could also use `filemtime` to automatically fetch the last modification time of the image and automatically append it to the url. This introduces an extra file system check though, which would

[2016-07-14 07:08] WouterSioen commented on #1630
I also pretty sure the "absolute url" check doesn't work on https.

`if (mb_substr($image, 0, 7) != SITE_PROTOCOL . '://') {` will only work when the `SITE_PROTOCOL` is 4 letters long.

[2016-07-14 08:57] WouterSioen opened #1631 "replace all cronjobs with cli commands."

[2016-07-15 12:52] WouterSioen commented on #1127
I'll close this as there is no progress in here.

[2016-07-15 12:52] #1127 closed

[2016-07-18 09:09] jeroendesloovere commented on #1631
Are there cronjobs in the Fork CMS Core?

[2016-07-18 11:37] WouterSioen commented on #1631
there were at least.

[2016-07-18 11:37] WouterSioen commented on #1631
but I would even remove the possibility to use cronjobs through http.

[2016-07-19 21:14] jacob-v-dam opened #1637 "Other form shows up when one is submitted"
In fork 4.0.5 I have a page which has two forms.
![image](https://cloud.githubusercontent.com/assets/310526/16966717/297a0958-4e06-11e6-9c21-75fa6b8bdd9e.png)

But when i submit the top form, I get the fields of the second form and the success message. The second form does not show the success message, it only shows the right form.
![image](https://cloud.githubusercontent.com/assets/310526/1696673

[2016-07-20 06:34] WouterSioen commented on #1637
@jacob-v-dam are these both form builder forms? I'm looking for the easiest way to reproduce this.

[2016-07-20 06:41] jacob-v-dam commented on #1637
Yes they are.

[2016-07-20 06:42] jacob-v-dam commented on #1637
I extend a template file instead of include, could this be the problem?

[2016-07-20 06:49] WouterSioen commented on #1637
That should normally not cause any problems. I'll look if I can reproduce it.

[2016-07-20 06:56] WouterSioen commented on #1637
@jacob-v-dam can you test this fix? https://github.com/forkcms/forkcms/pull/1638

[2016-07-20 07:36] #1630 closed

[2016-07-20 07:36] #1417 closed

[2016-07-20 07:36] #1209 closed

[2016-07-20 14:12] jan-oliva opened #1640 "Diacritics DB vs frontend presentation"
For example
When I create blog post and set title **"ěščřžýáíé"**  , Title is stored in database converted to HTML entities.
On frontend title shown with html entities. When in widget template on frontend use |raw, title shown correctly.
On backend title is shown correctly.

I think that texts (varchar)  should saved by as original text and  without must use |raw for display each varchar.

[2016-07-20 20:56] bramds opened #1641 "Dashboard widget can't be hidden anymore"
Dashboard widgets can't be hidden in the groups module anymore.  Checkboxes do not show up as checked to show which modules are shown on the dashboard and which not. = all widgets are shown all the time.

[2016-07-22 07:50] #1637 closed

[2016-07-22 13:49] jacob-v-dam opened #1643 "Editing header and text in formbuilder results in new elements"
The header and textfield are added as new fields when you edit those in an existing form.

[2016-07-22 13:50] jacob-v-dam opened #1644 "Label should be edit in stead of add when editing an form element"
As my title says:
![image](https://cloud.githubusercontent.com/assets/310526/17059135/10d5b03a-5024-11e6-9d0d-117313dc9479.png)

[2016-07-26 13:57] #1643 closed

[2016-07-26 13:57] WouterSioen commented on #1644
fix is merged

[2016-07-26 13:57] #1644 closed

[2016-07-26 13:57] WouterSioen commented on #1640
fix merged in #1649

[2016-07-26 13:57] #1640 closed

[2016-07-29 08:08] WouterSioen commented on #1641
I've been looking in to this, but this system is really strange. You can check dashboard widgets for a group, but a user can be in different groups. How can we correctly determine which group to use?

[2016-07-29 11:51] #1641 closed

[2016-07-30 13:50] jessedobbelaere opened #1653 "Non-existent service "session.handler""
Go to a page, insert an editor block, press the image button, press the browse server button to open CKFinder. This error will be thrown:

You have requested a non-existent service "session.handler".
/Users/jessedobbelaere/Dropbox/www/fork-cms/imagetest/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/Container.php

/Users/jessedobbelaere/Dropbox/www/fork-cms/imagetest/src/Backend/

[2016-08-04 09:16] bkluiter commented on #1653
Got the same problem. It says something about the XML. Can't load the XML from the webserver.

[2016-08-07 15:46] jacob-v-dam commented on #1631
It would be nice if you can register an cronjob via the module to one cronjob handler. Just call one script which handles all the cronjob actions.

By this you could set the runtime of each job within the module.

[2016-08-08 06:58] #1653 closed

[2016-08-08 13:19] carakas opened #1656 "Add google maps api key to frontend"
This wasn't implemented in #1468
@bartdc will you do this?

[2016-08-08 13:22] #1474 closed

[2016-08-08 13:48] carakas commented on #1656
was already fixed in #1528

[2016-08-08 13:48] #1656 closed

[2016-08-08 13:57] #1406 closed

[2016-08-08 13:59] #1599 closed

[2016-08-08 14:49] carakas opened #1657 "Security - forgot passoword leaks if the email is linked to a backend account"
## Type

- Security issue

## Problem description

## Steps to reproduce

## Expected behavior / Proposed solutions

I think it should always return the same message, something like: if your email address is known to us, you should get your password reset mail soon

[2016-08-08 14:57] StijnVrolijk commented on #1657
The only issue I see with your solution is that if someone were to make a typo ( such as info@project.com instead of info@project.net ) they might wait endlessly for an email to arrive which was never sent in the first place. When this happens, guess what they're reaction is? Yeah it's "Hey mister developer, I found a bug! I can't reset my password!".

Of course we all know you can't fix stupid.

[2016-08-08 14:59] carakas commented on #1657
you can add a warning that they need to be sure they type it correctly? :p It is a fine line between security and user friendliness

[2016-08-08 15:01] StijnVrolijk commented on #1657
That's kind of my point. I think this is a nudge too far towards security.
Even though there is this minor security flaw, I haven't heard of too many Fork websites that have been hacked let alone the backend.

I think our time is better spent in preventing bruteforcing which has little to no influence on user experience.

[2016-08-08 20:50] carakas commented on #1631
I'm not really in favour of a master cronjob, I prefer multiple small ones, that way the control stays in the hands of the user

[2016-08-09 06:55] mathiashelin opened #1658 "Incorrect redirects when switching languages in the backend"
## Type

- Non critical bug

## Problem description

When you're on the edit action of a module in the backend and you switch the language, you get redirected to the edit action in the other language, which always throws an error because that specific item does not exist in that language.

## Steps to reproduce

Go to `/private/en/faq/edit?id=1` and change your language to nl. You will get redirec

[2016-08-09 07:01] carakas commented on #1606
symlinks are not an option because that won't work on windows servers

[2016-08-09 07:02] carakas commented on #1488
any update on this ?

[2016-08-09 08:16] guytarded commented on #1606
Windows filesystem does support symlinks. Maybe it is possible then. More info on [MSDN](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363878(v=vs.85).aspx)

[2016-08-09 08:32] carakas commented on #1547
since a database change is needed for this it will be added in 5.0.0

[2016-08-09 12:22] mathiashelin opened #1659 "Add Slack as support channel in composer.json"
## Type

- Enhancement

## Problem description

Slack should be added as support channel to composer.json file.

[2016-08-09 13:44] carakas opened #1660 "Add some more keywords to composer.json"
## Type

- Enhancement

## Problem description

At the moment fork only has cms as keyword, I think we could improve the visibility by adding some extra keywords

## Steps to reproduce

look in the composer.json

## Expected behavior / Proposed solutions

to find more keywords

[2016-08-09 13:44] WouterSioen commented on #1660
#fork #cms #fork cms #content management system

any more?

[2016-08-09 14:40] jessedobbelaere commented on #1660
#symfony maybe :-)

[2016-08-09 17:39] GhaziTriki opened #1662 "Exception when accessing to mailmotor in backend"
## Type

- Critical bug

## Problem description

[code]

Click on "Mailmotor" in backend.

## Expected behavior / Proposed solutions

Should see mailmotor backend page.

[2016-08-09 17:42] GhaziTriki opened #1663 "SQL Syntax error when accessing to blog comment in backend"
## Type

- Critical bug

## Problem description

[code]

## Steps to reproduce

Go to Modules -> Blog -> Comments in backend http://192.168.33.150/private/en/blog/comments

## Expected behavior / Proposed solutions

Should see list of comments.

[2016-08-09 21:18] carakas commented on #1663
@GhaziTriki did you make any changes ?
What fork version is it ?

The page does work on the demo
http://demo.forkcms.com/private/en/blog/comments

[2016-08-09 21:23] carakas commented on #1663
@GhaziTriki is it possible that you have `only_full_group_by` enabled on your mysql server ? Do you have some additional information for us ?

[2016-08-09 21:35] GhaziTriki commented on #1663
I have installed ForkCMS on a new Vagrant VM with PHP 7.0 and MySQL Server 5.7.

[2016-08-10 11:16] #1660 closed

[2016-08-10 12:18] carakas commented on #1663
@GhaziTriki and the fork version is 4.1 ?

[2016-08-10 12:34] carakas commented on #1657
ok, I'll close this issue

[2016-08-10 12:34] #1657 closed

[2016-08-10 13:19] #1659 closed

[2016-08-10 13:25] carakas commented on #1663
@GhaziTriki it is because of the option `only_full_group_by` if you disable that option you should be fine for now

[2016-08-10 13:51] carakas commented on #1663
we will include a fix for this in 4.1.1

[2016-08-10 13:55] GhaziTriki commented on #1663
I confirm the issue is with version 4.1.0 of ForkCMS

[2016-08-10 14:17] GhaziTriki commented on #1663
I confirm when disabling `only_full_group_by` and cleaning the cache blog comments backend page works perfectly.

[2016-08-10 14:56] carakas commented on #1663
fixed in #1667

[2016-08-10 14:56] #1663 closed

[2016-08-10 14:57] carakas commented on #1662
fixed in #1665

[2016-08-10 14:57] #1662 closed

[2016-08-10 14:57] carakas commented on #1658
fixed in #1666

[2016-08-10 14:57] #1658 closed

[2016-08-10 21:15] GhaziTriki opened #1669 "Browsing to http://mywebsite.dev/autoload.php shows a blank page"
## Type

- Non critical bug

## Problem description

When I try to access to http://mywebsite.dev/autoload.php I get a blank page. It could be a security issue if someone added additional code to that file.

## Steps to reproduce

Juse browse to http://mywebsite.dev/autoload.php

## Expected behavior / Proposed solutions

It should display a forbidden or a 404 error page.

[2016-08-12 07:50] jonasdekeukelaere opened #1670 "Locale in (CLI) console command"
## Type
- Critical bug

## Problem description
You don't have access to the locale (in Language class) by default.
When you try to set the locale in (Backend)Language through `Language::setLocale($language);`, the Language class tries to set a cookie, which fails in CLI commands.
You can set the locale in (Frontend)Language though, but it's a bit weird having frontend locale in a backend command.

[2016-08-16 11:38] jeroendesloovere opened #1672 "Backend Location module, getCoordinates is not functioning"
## Type

- Critical bug

## Problem description

In google you can define two keys, a browser key and a server key, for getting the coordinates we need a server key, but in the frontend we need a browser key...

[Google source](https://developers.google.com/maps/faq#switch-key-type)

## Steps to reproduce

## Expected behavior / Proposed solutions

[2016-08-16 11:46] carakas commented on #1672
@jeroendesloovere will you create a fix for this ?

[2016-08-16 13:56] carakas commented on #1631
@jacob-v-dam also if one cronjob crashes in that handler it might take down all the cronjobs with it

[2016-08-17 12:44] jeroendesloovere commented on #1558
Any news about this?

[2016-08-17 12:45] carakas commented on #1558
it was too late for the current release but they asked me to contact them again in october

[2016-08-18 10:13] carakas commented on #1669
@GhaziTriki can you create a PR for this ?

[2016-08-18 10:14] GhaziTriki commented on #1669
@carakas yes of course

[2016-08-20 22:34] keksmampfer opened #1677 "Missing translation"
## Type:
- Non critical bug

## Problem description
Version: 4.1.1
Multi-language installation
* DE (Main)
* EN
* FR

In \Frontend\Themes\name\Core\Layout\Templates\Languages.html.twig I want to use {{ lng.name }}. It prints {$msgDE} for the main language at every language. The other languages are fine.

{{ dump(languages) }}:
[code]

I digged a little bit deeper. Cause I am new to Fork, i only fo

[2016-08-21 08:21] keksmampfer opened #1678 "LANGUAGE not set"
## Type
- Non critical bug

## Problem description
Version 4.1.1 - Multi language installation

{{ dump(LANGUAGE) }} returns NULL

## Expected behavior / Proposed solutions

return current language code: en, de, fr ...

[2016-08-21 09:21] jonasdekeukelaere commented on #1678
It should be FRONTEND_LANGUAGE in the frontend, I think

[2016-08-21 10:23] keksmampfer commented on #1678
Yes, that is working! Is there somewhere a documentation of the parameters, that are available?

Then there are some templates with the wrong tag:

Core:
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Layout/Templates/Head.html.twig#L2
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Layout/Templates/Default.html.twig#L3
https://github.com/forkcms/forkcms/blob/mas

[2016-08-21 11:55] carakas commented on #1677
First of all welcome and thank you for contributing
The translations can be found in the locale.xml files, they are imported into the database when installing fork, or when installing the module the locale.xml belongs to.
You can find the translations in in the locale table of the database.
I'll create a PR to add the translation for this.

If you want you can always re-import a locale.xml file at

[2016-08-21 11:58] carakas commented on #1677
and if you want to manually add a translation that is also possible at `/private/locale`

[2016-08-21 12:31] #1669 closed

[2016-08-21 12:33] carakas commented on #1678
fixed with #1671

[2016-08-21 12:33] #1678 closed

[2016-08-21 12:34] #1677 closed

[2016-08-21 13:15] carakas commented on #1488
I've turned the list into a checklist, I'm doing some things now and checking them off as I go along

[2016-08-21 13:18] carakas commented on #1488
@jessedobbelaere about the space between the label and the field, do you still have this?
I see a message there, so it might be that you are missing a translation
<img width="452" alt="screen shot 2016-08-21 at 15 17 14" src="https://cloud.githubusercontent.com/assets/3634654/17837395/7ec1b4fe-67b2-11e6-97d8-0d5df41eddba.png">

[2016-08-21 13:50] carakas commented on #1488
@freshface  Translations bug, no results without value http://jmp.sh/nuJRYb7  was not a bug, the module just doesn't have module specific translations.

For other modules it works, or maybe it got fixed by now :)

[2016-08-21 16:20] jessedobbelaere commented on #1488
@carakas Yes seems like the label is there now. Asterix look fine too 👍
About the button paddings, nvm that

[2016-08-22 06:49] WouterSioen commented on #1558
don't forget to put this in your agenda then ;)

[2016-08-22 11:46] jeroendesloovere commented on #1612
We (SIESQO) have decided to create a PR with our "checksum" field solution.
Can't tell when do, but it's coming.

[2016-08-23 09:08] carakas commented on #1672
@jeroendesloovere can you recreate a fix for this? The previous MR was closed because it was getting too messy, it would be best to start from a clean branch based on forkcms/master

[2016-08-23 11:42] WouterSioen commented on #1483
Thats odd, I have 9 queries with 2 themes (core and triton).

Can you still reproduce this?

[2016-08-23 11:46] #588 closed

[2016-08-23 13:58] carakas opened #1689 "Command to enable a language"
## Type

- Feature

## Problem description

Sometimes you want to enable a language after the installation, this is possible but a lot of work.
A command could solve all this

## Expected behavior / Proposed solutions

if on single language enable multi language
set all the correct settings
import all the locale for the core and installed modules

[2016-08-24 21:53] carakas commented on #1672
don't forget to take https://github.com/forkcms/forkcms/pull/1673#issuecomment-241993336 into account

[2016-08-24 22:03] carakas commented on #1434
Just tested this and it is no longer an issue, probably fixed by https://github.com/forkcms/forkcms/pull/1642

[2016-08-24 22:03] #1434 closed

[2016-08-24 22:08] carakas commented on #1407
this will be fixed when #1632 lands
it adds
[code]
in `config_test.yml`

[2016-08-24 22:14] carakas commented on #1408
Fork `3.6.8` is a rather old fork (2 years old)
You can always try it on `3.9.6` and see if it was fixed before fork 4
and look to backport it.
Since we currently only support fork 4 I'll close this.

Feel free to contact us on slack if you need further assistance

[2016-08-24 22:14] #1408 closed

[2016-08-24 22:15] carakas commented on #405
first part of this is in #1632

[2016-08-24 22:18] carakas commented on #407
first step for this is in #1632

[2016-08-24 22:18] carakas commented on #408
@guytarded any update on this?

[2016-08-24 22:22] carakas commented on #570
@jeroendesloovere any update on this?

[2016-08-24 22:23] carakas commented on #585
since you can no longer change this in fork 4 this is no longer an issue

[2016-08-24 22:23] #585 closed

[2016-08-24 22:26] carakas commented on #587
this is still an issue for fork 4

[2016-08-24 22:28] carakas commented on #600
this has been resolved in fork 4

[2016-08-24 22:28] #600 closed

[2016-08-24 22:29] carakas commented on #620
any update on this?

[2016-08-24 22:31] carakas commented on #709
@jeroendesloovere I would save this in profile settings

[2016-08-24 22:31] carakas commented on #734
@jeroendesloovere could you look for a library to implement this?

[2016-08-24 22:32] carakas commented on #872
anybody willing to implement this?

[2016-08-24 22:33] carakas commented on #874
@vytsci do you have time to create a command for this?
you can take a look at the locale:import command as an example

[2016-08-24 22:35] carakas commented on #915
anybody willing to implement this?

[2016-08-24 22:36] carakas commented on #927
@jeroendesloovere is this still needed?
if so, can you create a PR for this

[2016-08-24 22:37] carakas commented on #930
@GhaziTriki can you create a PR for this?
you can use the button with dropdown like @tijsverkoyen proposed

[2016-08-24 22:38] GhaziTriki commented on #930
Sure I can do this. Please be patient.

[2016-08-24 22:43] carakas commented on #1053
is fixed by #1602

[2016-08-24 22:49] carakas commented on #1142
@jeroendesloovere is this still an issue or was his solved already

[2016-08-24 22:51] carakas commented on #1171
BC Break because of database changes caused by using translatable

[2016-08-24 22:51] carakas commented on #1177
@jeroendesloovere any update on this?

[2016-08-24 22:52] carakas commented on #1347
@vytsci any update on this?

[2016-08-24 22:53] carakas commented on #1361
@vytsci any update on this?

[2016-08-24 22:54] carakas commented on #1391
@jeroendesloovere is this still the case?

[2016-08-24 22:55] carakas commented on #1392
@sverraest can you create a PR for this?

[2016-08-24 22:57] carakas commented on #1449
@jeroendesloovere can you create a PR for this

[2016-08-24 22:57] carakas commented on #1450
@jeroendesloovere can you create a PR for this?

[2016-08-24 22:59] carakas commented on #1473
@jeroendesloovere any update on this?

[2016-08-24 22:59] carakas commented on #1483
@jeroendesloovere any update on this?

[2016-08-24 23:00] carakas commented on #1484
@jeroendesloovere any update on this?

[2016-08-24 23:02] carakas commented on #555
instead of this a checksum will be added, see #1612

[2016-08-24 23:02] #555 closed

[2016-08-24 23:07] jessedobbelaere commented on #872
Sure i'll check when I can have a look. A command or an actual button on the modules page, what would be best? Button?

[2016-08-24 23:12] carakas commented on #930
no problem, just checking ;)

[2016-08-24 23:15] carakas commented on #872
I think a button would be nice, but only show it when the uninstaller actually exists

[2016-08-25 05:04] vytsci commented on #874
Hello, sorry do not have time at all atm. Ill have more time on september.

[2016-08-25 05:11] vytsci commented on #1347
I have to take a look at what code looks atm. Ive started this task long ago. But Fork has changed "a bit" so i need to take a grasp on what is done. Ill let u know today.

[2016-08-25 06:18] jeroendesloovere commented on #1450
I don't know if it's possible that when installing Fork CMS the locale is already available to the moduleInstaller?

[2016-08-25 06:20] jeroendesloovere commented on #1449
@jessedobbelaere are you willing to create a PR for this?

[2016-08-25 06:21] jeroendesloovere commented on #1177
@carakas you are setting the right steps in your PR for Doctrine + ContentBlocks with a CopyContentBlockToOtherLocale Command. Such a feature could/should be written for every module. Then we can use these...

[2016-08-25 06:22] jeroendesloovere commented on #1177
No further update on this, since I'm waiting for Doctrine integration and Entities.

[2016-08-25 06:23] WouterSioen commented on #1450
I think locale is available from the moment you imported it in your installer.

[2016-08-25 06:25] WouterSioen commented on #872
This could also be a god user only action? I wouldn't want any clients removing modules and breaking their site.

[2016-08-25 06:34] tijsverkoyen commented on #927
I would remove the push-notification in general, as the app is not maintained.

[2016-08-25 06:36] WouterSioen commented on #927
+1

[2016-08-25 06:37] tijsverkoyen commented on #709
@jeroendesloovere https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Engine/Model.php#L298

[2016-08-25 06:41] jeroendesloovere commented on #927
Sending Push Notifications from the CMS is awesome in theory.
Unfortunately we at SIESQO never had any customer question about using it.

Deleting push-notifications from the core seems logical.
Since in the future we can replace with Doctrine Entities + Events and a Push notifications bundle.

[2016-08-25 06:41] #927 closed

[2016-08-25 06:51] jeroendesloovere opened #1691 "Remove Push Notifications from Core. Fixes #927"
## Type

- Enhancement

## Problem description

## Expected behavior / Proposed solutions

[2016-08-25 06:56] jeroendesloovere commented on #1142
@WouterSioen Can you take a look at this, since you are more aware of the issue. I just found it :-P

[2016-08-25 07:02] jeroendesloovere commented on #734
Find this less important then all the other open issues.
Something for later or is somebody else willing to do this?

[2016-08-25 07:33] jessedobbelaere commented on #1449
I can, but it will be somewhere in September :-)

[2016-08-25 07:44] jeroendesloovere commented on #1449
Would be lovely. I've assigned you, so you can't get out of it anymore :-P

[2016-08-25 08:00] jeroendesloovere commented on #1391
No, this seems to be fixed.

[2016-08-25 08:00] #1391 closed

[2016-08-25 08:05] jeroendesloovere commented on #1483
Hi @WouterSioen,
I've just tested this and it still exists.

Steps to reproduce:
* Copy/paste a theme from a customer
* Install it
* **Active that theme**, in my case this increases the database queries from "10" to "116"
![schermafbeelding 2016-08-25 om 10 05 04](https://cloud.githubusercontent.com/assets/588616/17961349/6a9ab7c2-6aab-11e6-9440-7ad03e31a3ee.png)

[2016-08-25 08:09] tijsverkoyen commented on #1631
In the pre-open-source version of Fork there was a system which only required 1 cronjob every minute. In the code it was calculated which registered cronjob should be executed.

We removed it for several reasons:
* You have to manage concurring jobs, eg: when a jobs is ran every minute, but the execution-time spans more then a minute.
* You have to implement a system that notifies someone on error

[2016-08-25 08:23] tijsverkoyen commented on #1483
So this is only happening on activating a theme. Seems like a whole other issue.

[2016-08-25 08:31] carakas commented on #1558
closed because this issue isn't a bug in fork or something (I will still contact them in october)

[2016-08-25 08:31] #1558 closed

[2016-08-25 08:35] tijsverkoyen commented on #1585
Maybe we should go with a very basic bootstrap-theme? Or something very light like the default of Wordpress.

[2016-08-25 08:40] #570 closed

[2016-08-25 08:40] #620 closed

[2016-08-25 08:42] #734 closed

[2016-08-25 08:45] jessedobbelaere commented on #1585
Won't really use a bootstrap theme as default, doesn't seem to fit with the brand... It should be something that impresses the users when they first open the demo.
Just a flat design/hipster makeover of triton would be nice, and we can maybe ship the bootstrap fork theme from @ikoene too with fork cms?

[2016-08-25 08:49] ikoene commented on #1585
It's been a while since I've used it though, we should test it first. Maybe let a frontender have a look at it.

[2016-08-25 08:49] tijsverkoyen commented on #959
I really disagree on this issue. Fork is **not** intended for developers, Fork's target audience is the end-user.

In my personal opinion the whole part of installing modules, managing themes thru the interface is clutter, as end-clients won't install modules, the developers will do this on the initial setup.

[2016-08-25 08:58] #1392 closed

[2016-08-25 09:00] carakas commented on #1177
ok, feel free to create a PR for this when possible

[2016-08-25 09:00] #1177 closed

[2016-08-25 09:31] jeroendesloovere commented on #1483
When installing a theme, activating it and then reactivating the previous theme.
The queries still remain.

In my example:
It goes from "116" queries to "114" when activating "triton" again.

[2016-08-25 09:35] carakas commented on #1483
I've looked at the code behind it and it has to do with porting the pages from one theme to another. It is not something that can be changed overnight
since it is only on those specific actions I don't think this is a big issue so I'll close it since I don't see a solution for it at the moment

[2016-08-25 09:35] #1483 closed

[2016-08-25 11:50] jeroendesloovere opened #1695 "tools/prepare_for_reinstall doesn't delete the /app/cache"
## Type

- Non critical bug

## Problem description

## Steps to reproduce

## Expected behavior / Proposed solutions

[2016-08-25 11:51] WouterSioen commented on #1695
@carakas didn't you change something about this?

[2016-08-25 11:55] carakas commented on #1695
there is already a pr for this https://github.com/forkcms/forkcms/pull/1681

[2016-08-25 12:40] carakas commented on #1695
the issue isn't closed until the PR lands :)

[2016-08-25 14:22] #1695 closed

[2016-08-26 08:54] WouterSioen commented on #1672
@jeroendesloovere will you have time for this today? If you haven't, we'll move this to the next bugfix release. (which will probably be 4.2.1)

[2016-08-26 09:30] #1672 closed

[2016-08-26 13:55] GhaziTriki opened #1698 "Failed to remove directory when running /remove_cache and cache not cleared"
## Type

- Non critical bug

## Problem description

Three errors are displayed in console when running `remove_cache`in tools. The cache directories are not deleted.

The line 26 of remove_cache only works when run as sudo.

![image](https://cloud.githubusercontent.com/assets/4991088/18007724/856b53b8-6ba5-11e6-922a-ab5d17bffba0.png)

## Steps to reproduce

Just run the following command `./tools

[2016-08-26 13:57] carakas commented on #1698
it looks to me like a permission problem on the filesystem

[2016-08-26 14:00] GhaziTriki commented on #1698
There is no permission issue as you can see in the attached output of `ls -laR app/cache/`. The folder is under a shared vagratn folder with default permissions.
[permissions.txt](https://github.com/forkcms/forkcms/files/439426/permissions.txt)

[2016-08-27 20:33] GhaziTriki opened #1700 "Locale {$lblAllCategories} missing"
## Type

- Non critical bug

## Problem description

I have seen in the French version of the website this label {$lblAllCategories}, it means it is not in the localisation files.

## Steps to reproduce

Install the website with all modules and sample data.

## Expected behavior / Proposed solutions

Find a text instead of {$lblAllCategories}. If you could point me where to find that label and add

[2016-08-29 17:37] #1450 closed

[2016-08-29 18:07] #1473 closed

[2016-08-29 18:21] carakas opened #1705 "When going back in the installer you can't unselect a module"
## Type

- Non critical bug

## Problem description

When going back while installing fork you can't uncheck a module you want to install

## Steps to reproduce

1. install fork
2. select a module
3. go to the next step
4. go back to the previous step
5. uncheck the module
6. go back to the previous step
7. find that the module is checked again

## Expected behavior / Proposed solutions

the modul

[2016-08-29 18:27] carakas opened #1706 "Show warning that cookies are required in the backend"
## Type

- Non critical Bug

## Problem description

when cookies are disabled and you try to login to the backend you get an error

## Steps to reproduce

disable cookies and try to log in

## Expected behavior / Proposed solutions

show a warning and catch the error and show a nice error message

[2016-08-29 18:37] #1700 closed

[2016-08-29 18:38] #1691 closed

[2016-08-31 06:14] jeroendesloovere commented on #1450
If anybody else wants to integrate pages with the correct language.
You can [view an integration example here](https://github.com/forkcms/forkcms/pull/1694/files#diff-1e2c53601229a1e81a5b65ad4e60b0beR161).
Just use a loop to iterate all the languages and then set `Language::setLocale($language);`

[2016-08-31 06:18] carakas commented on #1450
I did add some fixes for it in https://github.com/forkcms/forkcms/commit/1fc5281e0e62b0280c3a39dd772c14d90756c762 and https://github.com/forkcms/forkcms/commit/7f2f020d27f76b56cc162585da0b4df26a3dcb0e

you need to set the language back to the original one to prevent your page showing up in an other language after that

[2016-08-31 07:18] jeroendesloovere opened #1708 "Blog dashboard widget has false link"
## Type

- Non critical bug

## Problem description

## Steps to reproduce

1. Install Fork CMS (install the blog module + examples)
2. Visit the dashboard, there you see the following:
![schermafbeelding 2016-08-31 om 09 17 22](https://cloud.githubusercontent.com/assets/588616/18119600/bccff3d6-6f5b-11e6-8c10-27d70c661a70.png)

## Expected behavior / Proposed solutions

[2016-08-31 07:43] #1708 closed

[2016-08-31 07:47] jeroendesloovere opened #1710 "ContentBlocks Entity ->create should contain $userId"
## Type

- Enhancement

## Problem description

An import where Authentication is not set, will not work and you can't set the $userId that you like.

[Code](https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/ContentBlocks/Entity/ContentBlock.php#L162)

## Steps to reproduce

[2016-08-31 12:46] WouterSioen commented on #1710
Good catch: we should avoid coupling stuff like this.

[2016-08-31 13:01] #1705 closed

[2016-08-31 13:06] WouterSioen commented on #405
step 1: delete all triggerEvents + deprecate the triggerEvent method
step 2: add events for everything

[2016-08-31 13:08] #407 closed

[2016-08-31 13:09] WouterSioen commented on #475
won't fix

[2016-08-31 13:09] #475 closed

[2016-08-31 13:10] WouterSioen commented on #531
@jeroendesloovere does the new mailmotor use OAuth?

[2016-08-31 13:11] #531 closed

[2016-08-31 13:14] WouterSioen commented on #709
@jeroendesloovere do you still find this issue interesting? Can you otherwise close this? (or create a PR if you still want it)

[2016-08-31 13:14] jeroendesloovere commented on #531
Currently not

[2016-08-31 13:15] jeroendesloovere commented on #709
Hi, no, currently we aren't in the need for such a feature.

[2016-08-31 13:15] #709 closed

[2016-08-31 13:16] WouterSioen commented on #959
we wouldn't add it in the interface, but a CLI command may be a good idea for stuff like this.

[2016-08-31 13:18] WouterSioen commented on #1052
We won't fix this for now.

[2016-08-31 13:18] #1052 closed

[2016-08-31 13:20] jeroendesloovere opened #1713 "ContentBlocks Entity ->updateWidget() updates all data values"
## Type

- Enhancement

## Problem description

The updateWidget() updates the data array completely, which means that custom fields can't be used. Proposal to only update "extra_label" which sets the title of the ContentBlock.

[Code](https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/ContentBlocks/Entity/ContentBlock.php#L304)

## Expected behavior / Proposed solutions

Only upda

[2016-08-31 13:21] WouterSioen commented on #1142
The API needs to be deprecated and altered by an easy way to add new API endpoints. This will also fix the usage of SpoonTemplate.

[2016-08-31 13:22] WouterSioen commented on #1361
duplicate of #408

[2016-08-31 13:22] #1361 closed

[2016-08-31 13:23] WouterSioen commented on #1407
fixed in #1632

[2016-08-31 13:23] #1407 closed

[2016-08-31 13:25] WouterSioen commented on #1484
maybe a CLI command for this? our client's can't be able to do this. It's a developer only action.

[2016-08-31 13:27] WouterSioen commented on #1499
will be fixed with https://github.com/forkcms/forkcms/issues/1142

[2016-08-31 13:27] #1499 closed

[2016-08-31 13:33] WouterSioen commented on #1585
@jessedobbelaere we could create another theme above bootstrap for the demo, and a more "default" bootstrap when you download/clone fork.

[2016-08-31 13:39] WouterSioen commented on #1613
Will be fixed when we use doctrine everywhere

[2016-08-31 13:39] #1613 closed

[2016-08-31 13:42] WouterSioen commented on #1698
@GhaziTriki does it work when you execute the command from inside your vagrant box/docker container?

[2016-08-31 13:45] WouterSioen commented on #1706
maybe use a try catch to handle the exception.

[2016-08-31 13:56] WouterSioen opened #1714 "Symfony integration"
- [x] Replace SpoonCookie/SpoonSession with Request/Response object #399
- [x] Refactor Fork hooks using EventDispatcher #405
- [ ] Refactor locale module using Translation #408
- [ ] Refactor Fork and Pages with Routing component #409
- [ ] Replace SpoonThumbnail/SpoonFile #708
- [x] Refactor out all exit statements #1105
- [ ] Refactor out constants #1106
- [x] Refactor API #1142
- [x] Refactor

[2016-08-31 13:56] #399 closed

[2016-08-31 13:56] #405 closed

[2016-08-31 13:56] #408 closed

[2016-08-31 13:56] #409 closed

[2016-08-31 13:56] #708 closed

[2016-08-31 13:56] #1105 closed

[2016-08-31 13:56] #1106 closed

[2016-08-31 13:57] #1142 closed

[2016-08-31 13:59] WouterSioen opened #1715 "CLI developer tools"
## Type
- Enhancement
## Problem description

Developer tools should be moved to the CLI
- [ ] Module generator (in progress)
- [ ] Module uninstaller #872
- [ ] Modules extras viewer/editor #874
- [ ] Edit and check modules extra in the backend #959
- [ ] Add a "delete theme" action #1484
- [x] Replace all cronjobs with cli commands. #1631
- [x] Command to enable a language #1689 (in progress)

[2016-08-31 14:00] #872 closed

[2016-08-31 14:00] #874 closed

[2016-08-31 14:00] #959 closed

[2016-08-31 14:00] #1484 closed

[2016-08-31 14:00] #1631 closed

[2016-08-31 14:00] #1689 closed

[2016-08-31 14:04] GhaziTriki commented on #1698
Yes it happens when executed from inside a vagrant box, even within a shared folder.

[2016-08-31 14:08] tijsverkoyen commented on #1698
Can you run `whoami` in your console.

[2016-08-31 14:11] carakas commented on #1488
Alert/ Message padding won't be fixed

[2016-08-31 14:11] #1171 closed

[2016-08-31 14:18] WouterSioen opened #1717 "Installer UI could use some love."
## Type
- Enhancement

[2016-08-31 14:20] GhaziTriki commented on #1698
The current user is `vagrant`

[2016-08-31 14:22] tijsverkoyen commented on #1698
The problem is that de folder is owned by the user `ubuntu` if the permissions.txt is still relevant. And therefore the folders can't be deleted.

[2016-08-31 14:26] GhaziTriki commented on #1698
I will try changing the ownership of the folder and get back with a feedback.

[2016-08-31 14:29] #528 closed

[2016-09-02 07:22] #1713 closed

[2016-09-02 07:24] #1710 closed

[2016-09-02 07:29] #1540 closed

[2016-09-02 11:51] #1488 closed

[2016-09-02 12:02] #1706 closed

[2016-09-04 23:20] jessedobbelaere opened #1728 "Tags are not working"
## Type

- Critical bug

## Problem description

Tags are not working in the latest Fork CMS. Don't know since when this is broken.

## Steps to reproduce

Go to the [Blog module > Add](http://dev.fork-cms.dev/private/nl/blog/add) on the Demo. Fill in some tags in the field. No tags are saved. Probably the Js library that is not loaded or configured right.

## Expected behavior / Proposed solution

[2016-09-05 07:18] carakas commented on #1728
@jessedobbelaere I just tried this in the demo and it worked, you should press enter before the tag is created, in fork 3 you got a notice that you still had tags that wouldn't be saved.
Can you update the issue

[2016-09-05 07:27] jessedobbelaere commented on #1728
Oh wow. Normally i'm used to tags fields that create the tag when you click outside the field (focus lost from the field). This should be done then as a UX improvement... I'll close this :)

[2016-09-05 07:27] #1728 closed

[2016-09-05 07:28] carakas commented on #1728
@jessedobbelaere can you create a new issue (or even better, a PR) to update the behaviour to what you expect?

[2016-09-07 07:55] carakas opened #1731 "Improve the error message when adding locale"
## Type
- Enhancement
## Problem description

unclear error message when adding translation
## Steps to reproduce

add a translation in the locale module
## Expected behavior / Proposed solutions

explain what is wrong about the label name instead of saying it is not a valid label

explain the casing etc

[2016-09-09 13:21] wouterverstuyf opened #1732 "hideContentTitle is being ignored"
## Type

- Non-critical bug _ although I really need it :) _

## Problem description

In the past we could use the parameter "hideContentTitle" to set the title invisible. This parameter is being ignored now.

## Steps to reproduce

Example: http://demo.fork-cms.com/nl/blog/detail/nunc-sediam-est
The title "blog" (from the page where the blog module is linked to) is also being printend on a blog d

[2016-09-18 09:18] GhaziTriki opened #1734 "FormBuilder: classname property not applied for all fields"
## Type

- Non critical bug

## Problem description

Setting CSS class name property for any form field is not applied at the frontend.

## Steps to reproduce

- Create a form.
- Add a new field.
- Set a custom CSS class name.
- Load the form in the frontend.

## Expected behavior / Proposed solutions

The style should be applied to form field.

[2016-09-18 09:25] GhaziTriki opened #1735 "FormBuilder: user can request editing multiple fields at the same time"
## Type

- non critical bug

## Problem description

A user can request editing multiple form fields at the same time. It causes the browser process stop displaying the page due to heavy JS/AJAX workload. Some other times the modal div is not removed.

## Steps to reproduce

- Create a form.
- Add 4 fields.
- Click on edit button of each field while the response of the first edit has not been rece

[2016-09-18 09:39] GhaziTriki opened #1736 "FormBuilder: CSS class cannot be set for "submit" field"
## Type
- Enhancement
## Problem description

When implementing some themes, setting the CSS class property for the "submit" field.
## Steps to reproduce

Edit the submit field of a form.
## Expected behavior / Proposed solutions

Add classname property to submit field.

[2016-09-18 09:40] GhaziTriki commented on #1736
It could be awesome if it can also be done for "Heading" text element.

[2016-09-19 15:21] jeroendesloovere opened #1737 "Backend datagrid "Edit" button layout"
## Type

- Non critical bugfix

## Problem description

In the backend, when typing `$this->dgRecent->addColumn('Edit'` this is not supported.
You need to type `$this->dgRecent->addColumn('edit'` to get the button layout right.

## Expected behavior / Proposed solutions

add/Add/edit/Edit/... should all work the same

P.S.: in older fork cms 3.9.* this worked just fine.

[2016-09-19 15:23] carakas commented on #1737
it's a small bug, can you provide a fix for it? probably just a strtolower

[2016-09-20 06:03] GhaziTriki opened #1738 "FormBuilder: hitting enter when editing a form field validates the main form"
## Type

- Non critical bug

## Problem description

When editing a from field form then typing "Enter" in keybaord, the page is main form is validated instead of the one in prompt.

## Steps to reproduce

- Create a form.
- Create a form field.
- Hit "Enter" after editing a form field without clicking on "Save".

## Expected behavior / Proposed solutions

The form field should be validated instea

[2016-09-20 06:15] GhaziTriki opened #1739 "Installer: installed modules sequence "Extensions" should be the first to be installed"
## Type

- Non critical bug

## Problem description

When adding an extra to install for a module that it is installed before the "Extensions" module we get an exception ```Base table or view not found: 1146 Table 'my_db.modules_extras' doesn't exist```. ForkCMS is based on modules, it sounds logic to make "Extensions" (akka Modules) module to be installed first. We would avoid putting delegating

[2016-09-20 07:37] GhaziTriki commented on #1739
@carakas do you agree that `Extensions` module should be installed first?

[2016-09-20 07:40] carakas commented on #1739
if it causes the above problems I think it is a good reason to install it first

[2016-09-20 07:44] carakas commented on #1739
I might be inclined to add it to the CoreInstaller

[2016-09-20 08:46] GhaziTriki commented on #1739
@carakas you are right, we might consider that a developer needs to add an extra to `Locale` and `Extensions` modules. Better making `modules_extras` table installed whtin Core.

[2016-09-20 09:10] #1732 closed

[2016-09-20 09:20] #1739 closed

[2016-09-20 11:58] #1734 closed

[2016-09-20 12:33] #1737 closed

[2016-09-20 15:27] #1738 closed

[2016-09-20 15:28] #1735 closed

[2016-09-20 15:29] carakas commented on #1670
@jonasdekeukelaere any update on this?

[2016-09-20 15:38] jonasdekeukelaere commented on #1670
No time

[2016-09-22 08:41] GhaziTriki opened #1748 "Export/Import content blocks feature"
## Type

- Feature

## Problem description

Having an Export/Import feature for content blocks would be very helpful when migrating websites.

[2016-09-22 08:43] carakas commented on #1748
Won't fix
If you want to migrate you can always manually copy the records

[2016-09-22 08:43] #1748 closed

[2016-09-23 11:11] #1670 closed

[2016-09-24 05:57] jeroendesloovere opened #1750 "Old "loading" icon"
## Type

- Enhancement

## Problem description

<img width="201" alt="schermafbeelding 2016-09-24 om 07 55 23" src="https://cloud.githubusercontent.com/assets/588616/18806423/5bc6a812-822c-11e6-99c1-19ef77bb17bd.png">

## Steps to reproduce

1. Modules > Blog > Click on "Add article"
2. Click in the category dropdown and choose "Add category"
3. Enter a title and press enter, then you see the old

[2016-09-25 11:09] GhaziTriki opened #1751 "Page unassigned blocks not detected when switching template multiple times without saving"
## Type
- Non critical bug
## Problem description

Unassigned blocks are detected as assigned when switching template on and off.
## Steps to reproduce

http://screencast.com/t/raX3cRij4t
## Expected behavior / Proposed solutions

Correctly detect blocks when switching template multiple times.

[2016-09-25 11:16] GhaziTriki opened #1752 "FormBuilder widget does not provide link to the form in page edit"
## Type

- Enhancement

## Problem description

When adding a form in a page, we don't see any edit button like the content block.

## Steps to reproduce

Add or edit page then put a form inside it.

## Expected behavior / Proposed solutions

Have the edit button for form in page edit/add action.
![image](https://cloud.githubusercontent.com/assets/4991088/18814963/2b7e65f4-8322-11e6-91c7-061fa2c3a

[2016-09-27 11:46] The50 opened #1753 "TwigTemplate - rendering inside ajax calls"
## Type
- Non critical bug

## Problem description
After the updated Fork version the template rendering has changed a little bit. At the moment then I try to render some template I get an error which says that I'm not passing enough arguments.

Function itself needs these arguments:
public function __construct(\Twig_Environment $environment, TemplateNameParserInterface $parser, FileLocatorInterfa

[2016-09-27 12:07] StijnVrolijk commented on #1753
I think you are using the Twig template in an incorrect manner.
Templating is now used as a service so you could just use the following code:
```$itemsTpl = $this->get('templating')```

This will return an instance of TwigTemplate ready to go.

The reason we do this is so we only have one instance of the templating engine across the entire environment. By calling `new Template()` you are basically

[2016-09-27 12:21] The50 commented on #1753
Yes, the reason I need this is that I use the Load More function with Ajax and I want to render my HTML via Ajax, send it back to JavaScript and append it somewhere in my page. This way I won't have to write HTML in my JS file. Or there is another function I could use to render some HTML?

[2016-09-27 12:30] StijnVrolijk commented on #1753
I suggest using [Handlebars](http://handlebarsjs.com/) to do this kind of stuff. Sending HTML over an AJAX call is not very smart performance wise.

By using Handlebars you just send your json encoded format to you javascript and render the handlebars template. More information can be found on the [Handlebars website](http://handlebarsjs.com/)

[2016-09-27 13:07] The50 commented on #1753
Thank you for the info, appearently all I needed was "$this->get('templating')".

[2016-09-27 13:08] #1753 closed

[2016-09-27 16:00] carakas commented on #1466
http://docs.doctrine-project.org/en/latest/cookbook/working-with-datetime.html overwriting the datetime of doctrine with this might be a solution while on version 4.X.X

[2016-10-01 02:24] ajm113 commented on #1750
Can it be one of the icons in Font Awesome? i.e.
![icon](https://cloud.githubusercontent.com/assets/9935420/19011182/7cb1a63c-8743-11e6-81a9-6242116f0ffd.png)

Or does it need to be exactly the same looking icon?

[2016-10-01 05:36] StijnVrolijk commented on #1750
I don't know from the top of my head but if there's a loading icon somewhere else in the backend, this one should match it.

If there's not, any icon will do for me as long as it fits the theme. Font awesome is probably the best solution since it's already implemented afaik.

[2016-10-03 12:45] carakas commented on #1698
@GhaziTriki any update on this?

[2016-10-03 17:54] ajm113 commented on #1750
I was going to suggest sticking with Font Awesome for flexibility, and easier to download since it's already loaded on page load. But I can take another look around.

[2016-10-05 12:27] jeroendesloovere opened #1764 "CSS word-wrap bug for tooltip"
## Type
- Non critical bug

## Problem description

When adding something like
[code]
With msg.WidgetViewsHelp being the following text
`Alle widgets uit /src/Frontend/Modules/MediaLibrary/Widgets/ worden hier automatisch getoond. U kan daar zelf widgets toevoegen.`

## Expected behavior / Proposed solutions

Which contains words that are long, the css `word-wrap: break-word;` should be applied.
O

[2016-10-05 22:11] carakas commented on #1751
I'm not sure if we can fix this in a BC way

[2016-10-06 08:26] carakas commented on #1446
if you have this issue you can always look at this repository https://github.com/jeroendesloovere/fork-cms-module-formbuilder-upload-field

[2016-10-07 09:16] #1764 closed

[2016-10-10 13:11] jeroendesloovere opened #1769 "Add extra parameter in src/Backend/Engine/Base/Action->getParameter"
## Type
- Enhancement
## Problem description

Current method =>

[code]

For example, current code:

[code]

New code:

[code]

[2016-10-10 13:41] jeroendesloovere opened #1770 "macro.buttonIcon bug with variables"
## Type

- Non critical bug

# Problem description

In src/Backend/Modules/Blog/Actions/Index.php the following doesn't work
[code]
#{filterCategory.id} is not working. It just doesn't show the id.
But if you do {{filterCategory.id}} outside the twig extension, it does work perfectly.

[2016-10-10 20:26] carakas commented on #1769
isn't this already part of the parameter bags of the request?

[2016-10-11 08:07] #1770 closed

[2016-10-11 12:17] jeroendesloovere opened #1776 "SEO is missing a "navigation_title" field"
## Type
- Enhancement
## Problem description

## Steps to reproduce

## Expected behavior / Proposed solutions

[2016-10-11 12:20] carakas commented on #1776
what is wrong with page title ?

[2016-10-11 12:36] carakas commented on #1466
I'll fix this in a not BC Break way

[2016-10-11 12:39] jeroendesloovere opened #1777 "Can't overwrite {% if showBlogDelete %}"
## Type
- Non critical bug
## Problem description

## Steps to reproduce

[code]
## Expected behavior / Proposed solutions

[2016-10-11 12:42] carakas commented on #1777
The value of that parameter is the direct result of the permissions the authenticated user has, so this is the intended behaviour.

[2016-10-11 12:43] jeroendesloovere commented on #1776
Page title is for the browsers page title. This is different then Navigation title.

Example:
* Title = "Frequently asked questions"
* Navigation title = "FAQ" (currently doesn't exists in the SEO tab, you can only do this in the pages module)
* Page title = "Frequently asked questions which can help you find products."

[2016-10-11 13:05] carakas commented on #1466
the real issue here was that doctrine didn't store the datetimes in UTC but in the timezone dat was currently used in fork, its fixed in #1778

[2016-10-11 13:10] jeroendesloovere commented on #1777
Hmmm, which means that you can't overwrite this, even if for example that item must not be deleted if it has children.

I can find myself in your solution, but then we need to throw an error if you try to set $this->tpl->assign('showBlogDelete', false);
What do you think?

[2016-10-11 13:13] carakas commented on #1777
I think that if you

[2016-10-11 13:15] carakas commented on #1777
you can set it, the cms just overwrites it. an error might be an idea but where do you stop since all those things are generated dynamically

[2016-10-15 08:49] jeroendesloovere opened #1781 "Backend formatdate and formatdatetime throwing error"
## Type
- Non critical bug
## Problem description

## Steps to reproduce

[code]

`{{ item.createdOn|formattime }}` is working!
## Expected behavior / Proposed solutions

[2016-10-16 11:52] carakas opened #1783 "Page detail buttons look strange in dutch"
## Type
- Non Critical Bug
## Problem description

<img width="900" alt="screen shot 2016-10-16 at 13 49 55" src="https://cloud.githubusercontent.com/assets/3634654/19417229/94091c5a-93a7-11e6-84af-e327f92d931e.png">

these buttons look a bit odd
## Steps to reproduce

Set the backend language to dutch
## Expected behavior / Proposed solutions

nicer spacing between the buttons, preferable still n

[2016-10-16 22:41] #1466 closed

[2016-10-17 06:39] ciryk opened #1786 "PDOException on remove cache or app/console"
## Type
- Non critical bug
## Problem description

[code]
## Steps to reproduce

## Expected behavior / Proposed solutions

[2016-10-19 10:44] Lennerd320i opened #1793 "Mailmotor - templates still TPL format"
## Type

- Critical bug

## Problem description

I ticked the Critical bug as without a solution to these, the mailmotor isn't functional.
Let me describe.

I use mailmotor with campaignmonitor (createsend) and am migrating to version 4.2.x (coming from 3.x.x), so I knew I had to adapt my own template to be functional.
While testing with the default and blank template included in the Fork release,

[2016-10-19 11:25] carakas commented on #1793
There is a PR with a refactored Mail Motor that should fix it from @jeroendesloovere #1629
It just hasn't passed yet

[2016-10-19 12:40] carakas commented on #1793
I created a PR for it so it is fixed while we wait for the new mailmotor to land

[2016-10-19 12:51] Lennerd320i commented on #1793
Thanks @carakas !

[2016-10-19 14:54] jeroendesloovere commented on #1466
Hoeray!

[2016-10-20 08:28] #1793 closed

[2016-10-20 08:33] #1750 closed

[2016-10-20 11:32] carakas commented on #1752
turns out it was a bug,
it was added when creating a form but deleted when editing it

[2016-10-20 11:44] #1752 closed

[2016-10-20 11:49] #962 closed

[2016-10-20 12:06] carakas commented on #542
fixed in #1522

[2016-10-20 12:06] #542 closed

[2016-10-24 09:07] jeroendesloovere opened #1802 "FAQ > index: Categories are not sorted properly"
## Type

- Enhancement

## Problem description

## Steps to reproduce

![schermafbeelding 2016-10-24 om 11 06 26](https://cloud.githubusercontent.com/assets/588616/19639749/ef7bba06-99d9-11e6-81e1-fe3307b07b0b.png)
![schermafbeelding 2016-10-24 om 11 04 50](https://cloud.githubusercontent.com/assets/588616/19639689/c1a4dd06-99d9-11e6-8c4e-b5cfab52f73e.png)

## Expected behavior / Proposed solution

[2016-10-24 09:17] carakas commented on #1802
@jeroendesloovere can you fix this?

[2016-10-24 09:19] StijnVrolijk commented on #1802
i'll deal with this

[2016-10-24 10:25] #1802 closed

[2016-10-25 12:57] jeroendesloovere opened #1808 "Error thrown when src/Frontend/Cache/Search folder not exists"
## Type
- Non critical bug
## Problem description

## Steps to reproduce

## Expected behavior / Proposed solutions

Two possible solutions:
1. Add a check to see if the folder exists.
2. Step one + throw a custom error that the folder doesn't exists.

[2016-10-25 14:52] The50 opened #1809 "Symfony bundle on Fork"
## Type
- Feature

## Problem description
With the latest update of Symfony framework integration it should be possible to use Symfony bundles on our Fork projects. Is there any info on how I could get it done?

## Steps to reproduce
I have my bundle files in Project root -> plugins folder and now the main problem is how should I get it working? Do I have to create a module which calls to the bund

[2016-10-25 15:01] carakas commented on #1809
The installer of fork is a bundle
The easiest way would be to look at how it is used
If you want to do things with it in the Backend you will need to create a fork module and call the bundle from there

[2016-10-25 15:01] #1809 closed

[2016-10-28 15:00] jeroendesloovere opened #1816 "Installing a module that relies on CacheItemPoolInterface"
## Type
- Non critical bug
## Problem description

[code]

<img width="622" alt="schermafbeelding 2016-10-28 om 16 53 30" src="https://cloud.githubusercontent.com/assets/588616/19810789/17f7e98e-9d2f-11e6-9814-6a7e02cc1b37.png">

[code]
## Steps to reproduce

## Expected behavior / Proposed solutions

[2016-10-29 16:16] carakas opened #1817 "Move to password_hash for our passwords"
## Type
- Enhancement
## Problem description

We currently have some custom combination of hashing algorithms to has our passwords
## Expected behavior / Proposed solutions

We should move to the password hashing methods of php.

We can use the method `password_needs_rehash` to detect if the password has already converted
We also van use `password_get_info` to detect the hashing algorithm, in our

[2016-11-07 10:39] jeroendesloovere commented on #1776
We are closing this for now.

[2016-11-07 10:39] #1776 closed

[2016-11-07 10:42] jeroendesloovere commented on #1769
So you are suggesting to remove all \SpoonFilter::getGetValue (in AJAX Actions) to be replaced by request?

[2016-11-07 10:43] carakas commented on #1769
yes

[2016-11-07 10:45] jeroendesloovere commented on #1449
@jessedobbelaere Any news on this?
Maby we can close this one since it probably has a small use case and the doctrine/symfony form integration will shake things up a little?

[2016-11-07 10:46] jeroendesloovere commented on #1769
Will be fixed when https://github.com/forkcms/forkcms/issues/1714 is done.

[2016-11-07 10:46] #1769 closed

[2016-11-07 10:47] jessedobbelaere commented on #1449
Fine for me :P haven't had time and this ticket got lost in the matrix

[2016-11-07 10:53] #1449 closed

[2016-11-07 14:39] jeroendesloovere commented on #1164
New PR #1831

[2016-11-07 20:37] #1777 closed

[2016-11-08 06:53] wouterverstuyf opened #1832 "Previous/Next page navigation accepts hidden pages"
## Type

- Non critical bug

## Problem description

When you use the Previous/Next pages widget, also hidden pages will be showed what ends up in a 404 error.

## Steps to reproduce

Add the widget to a supage, and add some other subpages on the same level.

## Expected behavior / Proposed solutions

Correct navigation, filter the hidden pages.

[2016-11-08 07:00] wouterverstuyf commented on #1832
I will create a PR.
Update : fixed by adding the following lines.

Just below rule 65 in PreviousNextNavigation.php:
`
$pages = $navigation['page'][$pageInfo['parent_id']];
`

`            // unset the hidden pages
            foreach($pages as $id => $page) {
                if($page['hidden']) {
                    unset($pages[$id]);
                }
            }
`

[2016-11-08 09:06] jeroendesloovere opened #1834 "Layout issue"
## Type

- Enhancement

## Problem description

<img width="289" alt="schermafbeelding 2016-11-08 om 10 05 22" src="https://cloud.githubusercontent.com/assets/588616/20092959/f1d3db22-a59a-11e6-9167-2e2f33fe557d.png">

[2016-11-08 09:15] carakas commented on #1834
is already fixed by #1829
![Uploading Screen Shot 2016-11-08 at 10.13.52.png…]()

[2016-11-08 09:15] #1834 closed

[2016-11-08 09:22] #1832 closed

[2016-11-08 10:37] carakas opened #1835 "Form type for image and file"
## Type

- Enhancement

## Problem description

you now need to do extra stuff to trigger the lifecycle callbacks if the file or image is the only thing that has changed, this should be easier

## Expected behavior / Proposed solutions

a form type that handles it for you

[2016-11-08 10:38] carakas commented on #1835
I'm currently working on an implementation of this for a symfony framework
should be backported to here

[2016-11-08 14:43] #1783 closed

[2016-11-13 12:45] GhaziTriki opened #1838 "Better detection for nginx in install"
## Type

- Enhancement

## Problem description

![image](https://cloud.githubusercontent.com/assets/4991088/20245694/f41f5b12-a9a6-11e6-823c-1ba366b83051.png)

Install is configured to detect Apache2 only.

## Steps to reproduce

Run a ForkCMS install on a nginx server.

## Expected behavior / Proposed solutions

Install should be able to detect nginx using `$_SERVER["SERVER_SOFTWARE"]`

[2016-11-14 14:33] carakas commented on #1808
no need to throw an error as far as I can see

[2016-11-14 14:48] carakas commented on #1808
The directory has a .gitignore and therefore we can expect it to be there

[2016-11-14 14:48] #1808 closed

[2016-11-14 14:49] carakas commented on #1786
closed since there is no further update, contact me if you want to continue with this

[2016-11-14 14:49] #1786 closed

[2016-11-14 14:53] carakas commented on #1751
Since we can't really fix this in a BC Way and you can just refresh if you took the wrong template this will be marked as won't fix

[2016-11-14 14:53] #1751 closed

[2016-11-16 16:35] carakas commented on #1816
@jeroendesloovere can you provide more info?

[2016-11-16 16:39] carakas opened #1839 "Fix tests for HHVM"
## Type

- Non critical bug

## Problem description

The hhvm tests fail because they can't create a zip of a theme

## Steps to reproduce

run the tests on hhvm

## Expected behavior / Proposed solutions

working tests

[2016-11-16 16:46] jeroendesloovere commented on #1816
You can reproduce as follows:
Possibility 1:
Install a new Fork CMS with the MediaLibrary Module. [How to install MediaLibrary module](https://github.com/forkcms/fork-cms-module-media-library/blob/master/docs/fork-cms-media-module-installation.md)

Possibility 2:
- create a file that uses @cache.pool (example: https://github.com/forkcms/fork-cms-module-media-library/blob/master/src/Backend/Modules

[2016-11-16 17:04] carakas commented on #1816
why do you need the cache in the installer? Looks to me like this is more an issue with the media module

[2016-11-16 20:52] jeroendesloovere commented on #1816
No, that's not what I meant.
I didn't need it in the installer,
but in the module its services.yml.

[2016-11-19 19:47] ciryk opened #1841 "Bug when having three words in ChoiceType choices"
## Type

- Critical bug

## Problem description

Having a collection type of choicetypes with choices labels longer than 3 words give an error. F.e. a select option with label "one two" works, but ons with "one two three" doesn't.

## Steps to reproduce

Create a Symfony form with a CollectionType consisting of ChoiceType's as an entry type. Give the ChoiceType these choices : array(0 => 'one two

[2016-11-21 09:51] carakas commented on #1838
@GhaziTriki can you work on a fix for this since you already have the correct environment for this?

[2016-11-21 11:24] GhaziTriki commented on #1838
@carakas I will take a look at it :)

[2016-11-22 21:59] carakas opened #1844 "Can't upload module zip with fork.entity.create_schema in the installer"
## Type

- Non critical bug

## Problem description

You can't upload a zip with a module that uses doctrine entities. It throws errors when trying to install the module.

## Steps to reproduce

have a module that uses the service `fork.entity.create_schema` in the installer

## Expected behavior / Proposed solutions

The module should be installed. Maybe we should redirect before trying to instal

[2016-11-28 10:51] Lennerd320i opened #1852 "Form Builder - enter is being displayed as <br />"
## Type

- Non critical bug

## Problem description

When someone adds text in the "textarea" part of a form, and the form is sent, every "enter" is displayed within the mail as <br />.

## Steps to reproduce

Create a form with a textarea, go through the front end, try e.g. test ENTER test and send it. In the mail sent, the enter will be html wise translated to <br />.

## Expected behavior / Pro

[2016-11-28 14:03] carakas commented on #1852
@Lennerd320i is it your own theme? or triton/default theme?

[2016-11-28 14:10] Lennerd320i commented on #1852
@carakas my own, but the templates used are those stock within Fork, so nothing modified.

[2016-11-28 14:14] carakas commented on #1852
you need to add `|raw` in the template there it is parsed

[2016-11-28 14:14] carakas commented on #1852
can you create the PR for it?

[2016-11-28 15:38] Lennerd320i commented on #1852
@carakas The solution proposed by you did the trick.
I do hope I created the PR as it should.

kr

[2016-11-29 12:21] #1852 closed

[2016-11-29 12:22] carakas commented on #1841
fixed in https://github.com/forkcms/forkcms/pull/1851

[2016-11-29 12:22] #1841 closed

[2016-11-30 09:35] GhaziTriki opened #1859 "Switching theme back does not load the correct positions"
## Type

- Non Critical bug

## Problem description

When creating a customer theme and enabling it, then enabling Triton and finally re-enabling the custom theme, positions from the current theme are not loaded.

## Steps to reproduce

- Create a custom theme; we will name it here "RIADVICE"; with a template `home` two positions: sliders & main.
- Enable the new theme.
- Add content blocks to the

[2016-11-30 09:41] carakas commented on #1859
when switching a theme you should check the pages, we try to match it but there is no guarantee that it will work, I'm also not sure if we can fix this without overkill for the actual use of it.

I'm not sure if this is something we should "fix", but maybe I misunderstood the issue

[2016-11-30 09:54] GhaziTriki opened #1860 "Google maps is geolocating incorrectly in some countries"
## Type

- Non critical bug

## Problem description

ForkCMS puts the street number before the street name for geolocating addresses. The address number should come first.

## Steps to reproduce

Create a location with the following parameters:
- Street name: Rue de Annaba
- Street number: 16
- ZIP: 2074
- City: Mourouj

The geolocated address is incorrect.

## Expected behavior / Proposed solutio

[2016-11-30 09:55] carakas commented on #1860
can you provide a link to the documentation stating this?

[2016-11-30 09:57] StijnVrolijk commented on #1860
What exactly does Fork request?
[Streetname][Streetnumber][Zip][City] should be the logical structure but Google is pretty smart about this. I've used the geocoding api quite a few times and it handles everything i throw at it

[2016-11-30 15:57] GhaziTriki opened #1861 "Last and first pagination url and label are not displayed"
## Type

- Non critical bug

## Problem description
The value of url and label for first and last item in pagination are null.

## Steps to reproduce

Create a log of blog posts to make pagination displayed.

## Expected behavior / Proposed solutions

I will provide a pull request.

[2016-11-30 16:08] GhaziTriki commented on #1860
I have found an element of answer at this link : http://stackoverflow.com/questions/7764244/correct-address-format-to-get-the-most-accurate-results-from-google-geocoding-ap

And in the official geocoder sample : http://googlemaps.github.io/js-v2-samples/geocoder/singlegeocode.html the address number comes first.

In all application I have developed the house number comes before the street name and

[2016-11-30 16:12] carakas commented on #1860
it is indeed :)

[2016-11-30 16:12] carakas commented on #1860
@GhaziTriki can you create a PR for this?

[2016-11-30 16:13] GhaziTriki commented on #1860
@carakas yes it should be an easy one (if I find the file where I need to look inside). Which is file is it?

[2016-11-30 16:18] carakas commented on #1860
it is in the engine of the location module, both back and frontend

[2016-11-30 16:23] GhaziTriki commented on #1860
@carakas is it also ok to put the street number before the street name in the backend form?

[2016-11-30 16:33] StijnVrolijk commented on #1860
@GhaziTriki I think it's best to leave it as is. When looking at other countries ( http://www.bitboost.com/ref/international-address-formats.html ) I think most of them use the street + number format.

[2016-11-30 16:41] GhaziTriki commented on #1860
I have created a pull request. However I think that the address creation should be more flexible. What we have now is that all fields are mandatory. The street number and the zip code should be optional as the street name and the city should be enough, or at least the street number.

[2016-11-30 16:51] tijsverkoyen commented on #1860
Personally, I think the address should be a textarea. People can enter the address in their own format.

[2016-11-30 16:53] GhaziTriki commented on #1860
@tijsverkoyen it is a more flexible solution that should work better

[2016-12-01 14:00] #1861 closed

[2016-12-01 14:51] #1164 closed

[2016-12-01 16:22] AhrimanSefid opened #1865 "install not load in loclhost"
hi.
me install localhost in win x 64 wamp 2.5
Server Software: Apache/2.4.9 (Win64) PHP/5.5.12
not load install page.
`
paragonie/random_compat suggests installing ext-libsodium (Provides a modern crypto API that can be used to generate random bytes.)
league/flysystem suggests installing league/flysystem-aws-s3-v2 (Allows you to use S3 storage with AWS SDK v2)
league/flysystem suggests installing

[2016-12-01 16:23] carakas commented on #1865
can you give us more information?

[2016-12-01 16:25] carakas commented on #1865
it is because you are using windows remove "cd tools && bash ./remove_cache" from composer.json
that should fix your problem

[2016-12-01 17:56] AhrimanSefid commented on #1865
me remove line but not update or install.

[2016-12-01 17:58] carakas commented on #1865
what is the error you get

[2016-12-01 17:58] AhrimanSefid commented on #1865
noting

[2016-12-01 18:01] AhrimanSefid commented on #1865
C:\wamp\www\fork>composer update
You are running composer with xdebug enabled. This has a major impact on runtime performance. See https://getcomposer.org/xdebug
Loading composer repositories with package information
Updating dependencies (including require-dev)

Fatal error: Allowed memory size of 1073741824 bytes exhausted (tried to allocate 134217728 bytes) in phar://C:/ProgramData/ComposerSetu

[2016-12-01 18:03] carakas commented on #1865
this is not a fork issue but an composer issue.

I don't know if it works on windows but on mac and linux you can run `php -d memory_limit=-1 /usr/local/bin/composer install`

[2016-12-01 18:03] #1865 closed

[2016-12-01 18:05] AhrimanSefid commented on #1865
C:\wamp\www\fork>php -d memory_limit=-1 /usr/local/bin/composer install
Could not open input file: /usr/local/bin/composer

C:\wamp\www\fork>
C:\wamp\www\fork>php -d memory_limit=-1 composer install
Could not open input file: composer

C:\wamp\www\fork>php -d memory_limit=-1 C:\wamp\www\fork composer install
Could not open input file: C:\wamp\www\fork

[2016-12-01 18:09] AhrimanSefid commented on #1865
![image](https://cloud.githubusercontent.com/assets/1332246/20806045/8efcb6b4-b80e-11e6-8e3e-f602f686437d.png)

[2016-12-01 18:57] GhaziTriki commented on #1865
@AhrimanSefid The best solution that I have tested to install ForkCMS on a Apahce server for windows is to create a virtual host for it.

[2016-12-01 21:56] #1781 closed

[2016-12-02 07:07] GhaziTriki commented on #1168
Could this feature be added to the official documentation? I suggest adding a new tag "need documentation", I think it will make updating documentation easy and iterative. It is better than thinking about updating it all and doing nothing at the end.

[2016-12-02 08:15] jeroendesloovere opened #1866 "<link rel="alternate" ...> is missing in Fork CMS"
## Type

- Enhancement

## Problem description

<img width="871" alt="schermafbeelding 2016-12-02 om 09 07 53" src="https://cloud.githubusercontent.com/assets/588616/20826952/d5ae1a16-b86e-11e6-8f8a-1d9ae332316f.png">

## Steps to reproduce

1. Install a new Fork CMS with *multiple languages*
2. Add pages in one language, then use the `copy` action from the Pages module
3. The new pages in the oth

[2016-12-02 10:09] carakas commented on #1168
there is already a `needs documentation PR` label
for new features

[2016-12-05 15:59] jeroendesloovere commented on #915
Information about sitemap generator:
- [Automatically generate a sitemap in laravel](https://murze.be/2016/08/automatically-generate-a-sitemap-in-laravel/)
- [Improving the performance of php based crawler](https://murze.be/2016/12/improving-performance-php-based-crawler/)

[2016-12-05 16:04] carakas commented on #915
@jeroendesloovere this issue is closed, if you want to implement this you can create a PR :)

[2016-12-06 08:39] GhaziTriki commented on #1859
Here is a video recording of the issue: https://www.dropbox.com/s/hmiefqs29yx5ys1/2016-12-06_0632.swf?dl=0
However is you save your page later the positions are then correctly set.

[2016-12-10 08:41] Ceaus opened #1877 "Installation fails: PHP Fatal error: Call to undefined function"
## Type

## Problem description

I am running the installation in docker in the official openSUSE container (Leap 42.2).
The installation of 4.4.0 fails to complete and stops with an error message.

After running

    composer.phar create-project forkcms/forkcms

all dependencies are correctly installed. However the installation fails to complete. The last few lines of console  output are:

    ph

[2016-12-10 11:01] carakas commented on #1877
I'll look into it

[2016-12-10 11:17] carakas commented on #1877
First of al :) if you download the zip from our site everything should work out of the box.
so you don't need to run composer.phar create-project forkcms/forkcms if you already have the zip, nor do you need to run composer install

[2016-12-10 12:07] carakas commented on #1860
@GhaziTriki I closed your PR because the implementation would cause issues for people who have street + number in their country.

What I suggest is that you create a new pr and add a setting in the backend to the location module where you can set the format of the address. The default should be the format we have now, but then you can also add the format you need

[2016-12-10 13:02] carakas commented on #1877
did you run the composer install command inside the container?

[2016-12-10 15:49] Ceaus commented on #1877
If you download the zip from our site everything should work out of the box.

There are no further installation instructions than the README.md inside the zip. And that instructs me as follows:

    ## Installation

    1. Make sure your have [composer](https://getcomposer.org/) installed.
    2. Run `composer create-project forkcms/forkcms .` in your document root.
    3. Browse to your website

[2016-12-10 17:56] carakas commented on #1877
Remark: If you are using GIT instead of composer create-project or the zip-file from http://www.fork-cms.com, you should install our dependencies. The dependencies are handled by composer

It's mentioned in here but the phrasing could be perhaps more clear

[2016-12-11 08:59] Ceaus opened #1878 "403 links in the installation instructions"
## Type

- Non critical bug
## Problem description

In the installation page on http://docs.fork-cms.com/documentation/detail/installation/installation there are quite a few 403 links. Such as:

- "server meets the minimum requirements for Fork "
http://docs.fork-cms.com/documentation/detail/installation/03.%20minimum_requirements.md
- " Start by taking a look at our Frequently Asked Questions."
h

[2016-12-11 09:47] carakas commented on #1878
@ceaus we have a report for our documentation site, can you create this issue there? Or a problem fixing it would be even better. http://github.com/forums/documentation

[2016-12-11 09:47] #1878 closed

[2016-12-11 09:48] carakas commented on #1878
Stupid autocorrect

[2016-12-11 09:49] carakas commented on #1878
https://github.com/forkcms/documentation

[2016-12-11 11:44] Ceaus commented on #1878
Done: https://github.com/forkcms/documentation/issues/66

[2016-12-12 07:57] jeroendesloovere opened #1880 "FormBuilder: Add the possibility to change the formField-ID."
## Type

- Feature

## Problem description

## Expected behavior / Proposed solutions

[2016-12-12 07:58] carakas commented on #1880
Won't this add a lot of complexity since we will also have to check that they are unique?

[2016-12-12 21:35] GhaziTriki opened #1883 "Make blog image sizes configurable in a file"
## Type

- Enhancement

## Problem description

We actually need to edit Add and Edit actions and something like the line below to put additional thumbnail generating
[code]

## Expected behavior / Proposed solutions

Should be possible to add or update generated thumbnails sizes in a configuration file for the Blog module.

[2016-12-12 21:42] carakas commented on #1883
You van just create the directories manually the code is just there in case the directories are missing but it is a bit Overkill, they should just be creatief in the installer in my opinion

[2016-12-14 10:20] #1866 closed

[2016-12-15 08:52] GhaziTriki opened #1891 "Tag Related never load Blog posts images"
## Type

- Non critical bug

## Problem description

Blog image posts are never loaded by the Tag Related widget

## Steps to reproduce

Dump the items in related widget layout.

## Expected behavior / Proposed solutions

The `image` column should be loaded at line below to make that images are processed some lines after
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/Blog/Engi

[2016-12-15 13:29] GhaziTriki opened #1893 "Weird display for "intl" module in install"
## Type

- Non critical bug

## Problem description

The intl php module description is weird, we see and orphan `">`

![image](https://cloud.githubusercontent.com/assets/4991088/21225771/b3cdde5e-c2d2-11e6-992b-3da1ec4f7a16.png)

## Steps to reproduce

Go to the first step of installing ForkCMS.

## Expected behavior / Proposed solutions

Should be easy to fix in the template.

[2016-12-17 14:30] GhaziTriki opened #1895 "Adding location widget to page does not work"
## Type

- Critical bug

## Problem description

If a user adds a location widget to page, the widget is not added

## Steps to reproduce

1. Create a new location.
2. Add that new location widget to a page.
3. Check the page.

## Expected behavior / Proposed solutions

The location widget should be displayed in the page.

[2016-12-17 14:31] carakas commented on #1895
did you add all the configuration for it? (api key)

[2016-12-17 15:42] GhaziTriki commented on #1895
Yes the Location is correctly configured.

[2016-12-18 05:17] Sellato opened #1896 "Need to fix error "Mixed Content: The page at 'https://server.com/en/blog/detail/post-one' was loaded over HTTPS, but requested an insecure script ""
## Type
- Critical bug

## Problem description

If using HTTPS protocol there is an error:

`Mixed Content: The page at 'https://hatmaker.crafterspark.com/en/blog/detail/old-copper-crashed-hat' was loaded over HTTPS, but requested an insecure script`

`'http://platform.linkedin.com/in.js?fork%5Bmodule%5D=&fork%5Baction%5D=&fork%5Blanguage%5D=en&_=1482036206716'. This request has been blocked; the

[2016-12-18 09:54] GhaziTriki opened #1897 "Stylesheet injection to French website making the site floating right"
## Type

- Critical visual bug

## Problem description

The French website is floating at the right instead of taking the width of all the page. Chrome developer console show the style below as `injected stylesheet` form the `body` tag.

[code]

## Steps to reproduce

Switch the frontend language to French.

## Expected behavior / Proposed solutions

The French website should not be floating right

[2016-12-18 09:56] carakas commented on #1897
HAHAHAHAHAHA

[2016-12-18 10:00] GhaziTriki commented on #1897
It is a true bug, you can check it here http://demo.fork-cms.com/fr

[2016-12-18 10:05] carakas commented on #1897
Can't reproduce it

[2016-12-18 10:05] GhaziTriki commented on #1897
Zoho Projects extension for chrome was injecting that style.

[2016-12-18 10:05] #1897 closed

[2016-12-18 10:50] carakas commented on #1896
Can you create a pr for it?

[2016-12-18 10:57] Sellato commented on #1896
sorry, I can't :(

[2016-12-18 23:17] jessedobbelaere commented on #1896
They all can be changed to https links instead of http imo. Made a quick PR. Result can be checked on https://dokku.jessedobbelae.re/blog/detail/nunc-sediam-est

[2016-12-19 04:16] Sellato commented on #1896
Great!

Made your PR by hands. Works fine. No more errors like "mixed-content" and "gravatar"!
Result can be checked on - https://hatmaker.crafterspark.com/en/blog

Thanks!

[2016-12-19 09:04] #1896 closed

[2016-12-19 12:56] Mirau89 opened #1900 "Autocomplete not working in frontend"
## Type

- Critical bug

## Problem description

When the Search form widget is added to a page, the autocomplete is not working.

## Steps to reproduce

Put search form widget in a page.

## Expected behavior / Proposed solutions

Load `Search.js` when the search form widget is added to a page.

[2016-12-19 22:01] freshface commented on #1893
Made a PR for it https://github.com/forkcms/forkcms/pull/1901

[2016-12-20 07:45] adeacetis commented on #1880
@carakas IMHO it's up to the marketeer / webmaster or whomever to check duplicated ID's out. I mean we should let the user decide whether he wants to override default behavior or not.

[2016-12-20 08:26] carakas commented on #1880
We can take a second look at this after this module has been ported to symfony forms

[2016-12-20 08:28] carakas commented on #1893
Close because it has been merged

[2016-12-20 08:28] #1893 closed

[2016-12-20 09:03] jeroendesloovere opened #1902 "Backend css bug"
## Type

- Non critical bug

## Problem description

## Expected behavior / Proposed solutions

[2016-12-20 09:48] Mirau89 commented on #1900
The autocomplete work properly with triton theme.

[2016-12-20 09:54] carakas opened #1903 "ZipArchive not found"
## Type

- Non critical bug

## Problem description

We use `ZipArchive` to install themes and modules from a zip but we don't show a warning in the installer if it isn't installed.

## Steps to reproduce

Try to upload a module on a php installation without ZipArchive

## Expected behavior / Proposed solutions

That is is explained in the docs and checked in the installer

[2016-12-20 12:28] jeroendesloovere opened #1904 "Backend: Pages tree structure "redirect" icon bug"
## Type

- Non critical bug

## Problem description/Steps to reproduce

<img width="223" alt="schermafbeelding 2016-12-20 om 13 25 51" src="https://cloud.githubusercontent.com/assets/588616/21350531/10b98184-c6b8-11e6-9081-0df78c3ce6f3.png">

## Expected behavior / Proposed solutions

[2016-12-20 12:32] carakas commented on #1900
@Mirau89 so it is only in your own theme?

[2016-12-20 19:32] GhaziTriki commented on #1900
Yes it does not work with other theme, however it works well on the search index page.

[2016-12-20 19:36] carakas commented on #1900
I think it is related to your theme, just tried it with our own bootstrap theme and it is loaded.
Going to close this issue since it doesn't look like it is a bug in fork.
You can always contact me on slack to see if we can figure this one out

[2016-12-20 19:36] #1900 closed

[2016-12-20 20:02] #1904 closed

[2016-12-20 21:42] carakas commented on #1900
The reason was that the template modifier parsewidget was used.
The autoloading only works when the action/widget is added via the pages module in the backend

[2016-12-21 13:14] Lennerd320i opened #1909 "New Mailmotor - list ID's (campaignmonitor) and single opt-in"
## Type

- Critical bug
- Non critical bug

## Problem description

Hi, I picked both the critical and non critical bug, as for me (personally) it's in between.
I'm using campaignmonitor for my newsletter needs, and with the 4.4.1 version, the new Mailmotor was integrated. Besides the fact that we are now forced to send newsletters through the campaignmonitor website and not longer through our bac

[2016-12-21 13:47] jeroendesloovere commented on #1909
Hi Lennerd, I've created the new mailmotor module.
Here are some answers to your questions.

## 1) Double Opt-in

**My answer**
This is `true` by default, because otherwise your list will be spammed for death.
=> I think, we aren't going to change this behavior, nor add a backend setting for this**, not, @carakas ?

**A possible solution**
You can overwrite this default `true` by adding a fifth pa

[2016-12-21 13:49] #1909 closed

[2016-12-21 13:56] jeroendesloovere opened #1910 "Mailmotor: create a backend setting for "double_opt_in""
## Type

- Enhancement

## Problem description

## What we want?

* A new "checkbox setting"-field in the mailmotor settings where you can define $doubleOptin = true

[2016-12-21 13:57] jeroendesloovere commented on #1909
Just created the issue #1910,
which will add a setting in the backend to enable/disable double-opt-in.

[2016-12-21 14:25] jacob-v-dam opened #1911 "DateType value converted to UTC results in a wrong date"
## Type

- Critical bug

## Problem description

Saving a date with Symfony Forms would subtract one day from the date due to the UTC date conversion.

## Steps to reproduce

Create a form and add a DateType:
`->add(
			'date',
			DateType::class,
			[
				'required' => true,
				'label'    => 'lbl.Date',
				'input'    => 'datetime',
				'format'   => 'dd-MMMM-yyyy',
				'data'     => $builder->g

[2016-12-21 14:45] ciryk commented on #1911
It's not really a whole day. It substracts one hour ( UTC time ) and therefor when you save it as a date it'll strip down the 23:00:00 and therefor not convert it back. But even when it's saved in database on edit it doesn't convert it back to 00:00:00 from the correct day. When you parse them in the datagrid they will get converted back.

[2016-12-21 21:25] GhaziTriki opened #1912 "The server returned a 400 Bad Request when trying to login after a long period"
## Type

- Critical bug

## Problem description

After trying to login to the backend and the page was open since some hours we get the following message

[code]

## Steps to reproduce

- Open the backend login page.
- Wait for about two hours (I think it is related to the CSRF token expiry)
- Authenticate to the backend.

## Expected behavior / Proposed solutions

We should simply redirected to t

[2016-12-21 21:30] carakas commented on #1912
This is on purpose as part of the protection of the backend.

[2016-12-21 21:30] #1912 closed

[2016-12-22 13:24] Lennerd320i commented on #1909
Hi Jeroen,

thanks for your answers.
The false arguement is working, however additional changes do have to be made (to skip the notice about a confirmation mail, but that's minor, but might be interesting in the issue #1910 that your opened).
The list_id thingy is giving me an internal error, but I have to dig deeper into the why this error is produced.

kr,

Lennerd

[2016-12-22 19:18] jeroendesloovere commented on #1909
Hi @Lennerd320i,
Thanks for coming back to me.

**Solution for disabling the double-opt-in confirmation message**
I have a solution for your confirmation message, just add the following:
[code]

Then the message "subscription succesfull" will be shown.

**List id**
Maby it's a bug in the campaign-monitor-bundle.
Can you debug an put the errors here?

[2016-12-23 11:07] jeroendesloovere opened #1917 "Backend DataGrid: enableSequenceByDragAndDrop() isn't adding "ORDER BY i.sequence ASC" to the query"
## Type

- Non critical bug

## Problem description

## Steps to reproduce

1. Create a DataGrid
2. Add `$this->enableSequenceByDragAndDrop();`

Then witness that the items aren't ordered by sequence.

## Expected behavior / Proposed solutions

[2016-12-23 11:31] carakas commented on #1917
won't fix

[2016-12-23 11:31] #1917 closed

[2016-12-23 13:27] jeroendesloovere commented on #1917
:-(

[2016-12-26 12:42] Lennerd320i commented on #1909
Hi @jeroendesloovere ,

I'm going to provide you the error log asap.

kr,

Lennerd

[2016-12-30 09:47] mathiashelin opened #1919 "Parsewidget doesn't load widget js/css"
## Type

- Non critical bug

## Problem description

When using parsewidget, the widget js & css aren't added, so the widget probably won't work correctly.

## Steps to reproduce

Use parsewidget to parse the search form. Autohint & styling won't properly work.

## Expected behavior / Proposed solutions

The js & css should be loaded.

[2016-12-30 09:48] mathiashelin opened #1920 "500 error when checkbox "Overwrite" is enabled when editing a theme template"
## Type

- Critical bug

## Problem description

When you edit a theme template and you enable "overwrite", you get a 500 error.

## Steps to reproduce

Same as above

## Expected behavior / Proposed solutions

The pages using the current template, should be overwritten with the defined positions.

[2017-01-02 11:03] Lennerd320i commented on #1909
Hi @jeroendesloovere ,

At last had the time to do error checking.
The log at itself  doesn't provide any usefull information, but with the env at debug mode, I got this (I changed the list id in the error below):

Attempted to call an undefined method named "get" of class "Frontend\Modules\Mailmotor\Command\SubscriptionHandler".

500 Internal Server Error - UndefinedMethodException

Stack Trace

[2017-01-03 11:21] mathiashelin opened #1922 "CKEditor: custom styles don't work anymore"
## Type

- Non critical bug

## Problem description

If you have css scoped like a.class or h3.class, those styles would appear in the styles dropdown of ckeditor, but they don't appear anymore.

## Steps to reproduce

Add something like `a.custom-class { color: #f00; }` in your theme css. The style won't appear in the styles dropdown of ckeditor while selecting an a-element.

## Expected behavior

[2017-01-03 15:46] #1883 closed

[2017-01-03 15:47] carakas commented on #1922
@GhaziTriki since you updated the editors, could you take a look at this?

[2017-01-03 20:44] freshface commented on #1922
Indeed, noticed this to.
It loads up q lot of unnecessary styles.

[2017-01-05 09:15] jeroendesloovere opened #1924 "Integrate twig-cache-extension into core"
## Type

- Feature

## Problem description

## Expected behavior / Proposed solutions

[2017-01-05 10:15] jeroendesloovere opened #1925 "Bug in Meta Entity + meta template?"
## Type

- Non critical bug

## Problem description

[2017-01-06 00:34] jessedobbelaere commented on #1922
Yes please, the bootstrap ones should be removed from the dropdown.
I usually make an editor.scss file where I put these `a.btn` scoped classnames that should popup in there.

[2017-01-09 10:28] myspulin opened #1927 "Doctrine constraints missing after module installation"
## Type

- Non critical bug

## Problem description

Hello,

after installation of the module (https://github.com/forkcms/fork-cms-module-media-library) and issuing command: php app/console doctrine:schema:update --dump-sql I have got these sqls:

ALTER TABLE mediagroupmediaitem ADD CONSTRAINT FK_BCC51AD86776CC71 FOREIGN KEY (
mediaGroupId) REFERENCES MediaGroup (id) ON DELETE CASCADE;
ALTER TABLE

[2017-01-11 18:36] jeroendesloovere commented on #1909
I'll fix this tomorrow

[2017-01-12 09:16] jeroendesloovere commented on #1909
hi @Lennerd320i, this is a bug you introduced by using `$this->get('fork.settings')->get('Mailmotor', 'list_id');` in the SubscriptionHandler. `$this->get` doesn't exists.

You have to use the following instead:
[code]

[2017-01-12 10:18] Lennerd320i commented on #1909
Hi @jeroendesloovere ,

I changed the code you provide before (for the list-id thing), and it's working great now.

If allowed, I do have an offtopic question.
I'm using the subscribe widget, and after entering an address and clicking submit, I keep getting the module subscribe page, where I have to click a second time submit to get my address pushed in the list. Before (old mailmotor version) the

[2017-01-12 10:24] jeroendesloovere commented on #1909
Hi @Lennerd320i

Thanks for mentioning this!
Indeed, in the past I created a fix for this.

Strange, I thought I fixed this with the following rule:
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/Mailmotor/Actions/Subscribe.php#L97
Can you create an issue for this, so I won't forget to double check.

[2017-01-12 10:34] Lennerd320i opened #1931 "Formbuilder - text field as numeric issue"
## Type

- Non critical bug
- Enhancement

## Problem description

When creating e.g. a contact form, and you add a field "phonenumber" with a text field configured to be numeric, you have 2 arrows allowing you to enter -1, -2, ...

## Steps to reproduce

Create contact form, add text field and configure it to be a numeric value, go to the frontend and you'll notice it immediately.

## Expected be

[2017-01-12 10:36] carakas commented on #1931
the arrows are part of html5
a phone number is not a numeric field but a phone field, not sure if we have that in form builder but it that case I would just use text

[2017-01-12 10:36] #1931 closed

[2017-01-12 10:40] Lennerd320i commented on #1931
Ok, tnx @carakas !

[2017-01-12 10:46] Lennerd320i opened #1932 "Mailmotor - double action submit needed for subscription to list"
## Type

- Enhancement
- Feature

## Problem description

When using the subscribe widget, and after entering an address and clicking submit, the module subscribe page shows up. A 2nd submit action is needed to get the address pushed in a list and get the confirmation message.

## Steps to reproduce

Add a mailmotor subscribe widget on e.g. the home page, enter an address, click submit. The mailmo

[2017-01-12 10:47] Lennerd320i commented on #1909
Hi @jeroendesloovere ,

opened issue #1932.

This issue (1909) for me is completely solved.

tnx and kr,

Lennerd

[2017-01-13 14:34] #1927 closed

[2017-01-13 14:45] carakas commented on #1585
triton will die
long live bootstrap

[2017-01-13 14:45] #1585 closed

[2017-01-13 14:49] carakas commented on #1603
@StijnVrolijk take a look at xsd validation

[2017-01-13 14:50] tijsverkoyen commented on #1603
and http://php.net/manual/en/domdocument.schemavalidate.php

[2017-01-13 14:56] carakas commented on #1736
will be fixed in #1930

[2017-01-13 15:00] carakas commented on #1844
related #1816

[2017-01-13 15:01] carakas commented on #1860
the separate fields will be replaced with a single textarea for the address

[2017-01-13 15:02] #1877 closed

[2017-01-13 15:03] carakas commented on #1895
will be fixed in fork 5

[2017-01-13 15:03] #1895 closed

[2017-01-13 15:03] #1902 closed

[2017-01-13 15:06] carakas commented on #1919
won't fix
you should loud it manually

[2017-01-13 15:06] #1919 closed

[2017-01-13 15:07] carakas commented on #1922
fixed in #1926

[2017-01-13 15:15] carakas opened #1937 "user templates"
## Type

- Feature

[2017-01-13 15:16] carakas opened #1938 "PSR-4"
## Type

- Feature

[2017-01-16 10:47] tijsverkoyen commented on #1736
This can be done by overruling the template from within a theme. You should overrule the template: `/src/Frontend/Modules/FormBuilder/Layout/Widgets/Form.html.twig`

In v5 this will become easier, as the themes can/will be simpler, since we started using the Twig-block, you can extend these templates.

As an example we have the default markup for the TagCloud-widget, which is:

    {% if widgetTag

[2017-01-16 10:47] #1736 closed

[2017-01-16 10:53] jeroendesloovere commented on #1932
Note to self: I thought I used this line to prevent this.
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/Mailmotor/Actions/Subscribe.php#L97

[2017-01-16 12:51] jeroendesloovere commented on #408
Have the core devs talked about which file format they would prefer; XML, PHP or YAML?

[2017-01-18 10:44] carakas opened #1943 "Remove `Kernel:defineForkConstants`"
Remove `Kernel:defineForkConstants`

in twig we should see what parameters we will still assign to the template but it is best to scope them, for this take a look at app from symfony in the twig bridge

[2017-01-18 10:58] #1891 closed

[2017-01-18 17:44] decthomas opened #1944 "Analytics connector doesn't pass in profile id"
## Type

- Critical bug

## Problem description

After having coupled an Analytics account in the backend (Settings > Modules > Analytics), the backend dashboard shows the following error:
`Error calling GET https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A&start-date=2017-01-11&end-date=2017-01-18&metrics=ga%3Apageviews%2Cga%3Ausers%2Cga%3ApageviewsPerSession%2Cga%3AavgSessionDuration%2Cg

[2017-01-19 07:45] carakas commented on #1944
@decthomas would you be able to provide us with a PR for this?

[2017-01-19 09:40] decthomas commented on #1944
Looked into it and turns out I had to keep clicking "Save" until the button disappeared because the coupling wasn't entirely finished.

I stopped clicking "Save" when it said "Coupled profile: UA-XXXXXXX-XX" at the top which made it seem as if the coupling had succeeded. It might be nice to actually ask the user to perform an action so that it's clear what is expected.

I'll close this issue; feel

[2017-01-19 09:40] #1944 closed

[2017-01-19 12:24] jeroendesloovere opened #1948 "Mailmotor: integrate a ping method to check apiKey and ListId"
## Type

- Enhancement

## Expected behavior / Proposed solutions

https://github.com/mailmotor/mailmotor-bundle/issues/8

[2017-01-20 09:11] #1911 closed

[2017-01-20 09:16] #1925 closed

[2017-01-20 14:12] cirykpopeye commented on #1932
solved with https://github.com/forkcms/forkcms/pull/1950

[2017-01-20 14:13] #1932 closed

[2017-01-20 14:13] #1922 closed

[2017-01-20 14:17] #930 closed

[2017-01-21 23:09] freshface opened #1953 "Tries to load /js/vendors/bootstrap-tagsinput.min.js.map"
## Type

- Non critical bug

## Problem description

 /js/vendors/bootstrap-tagsinput.min.js tries to load bootstrap-tagsinput.min.js.map thru `//# sourceMappingURL=bootstrap-tagsinput.min.js.map`

## Steps to reproduce

Look at the console in the backend

## Expected behavior / Proposed solutions

It should load /js/vendors/bootstrap-tagsinput.min.js.map (don't know how to access it via yarn)

[2017-01-21 23:10] carakas commented on #1953
is this still an issue on the 5.0.0-dev branch?

[2017-01-22 19:37] freshface commented on #1953
No, the master.
Should this be resolved in 5.0.0-dev?

I will try to check it tomorrow.

[2017-01-24 13:45] carakas commented on #1953
@freshface any update on this?

[2017-01-24 15:43] myspulin opened #1954 "Migrate the db schema to InnoDB"
## Type

- Non critical bug

## Problem description

Hi,

I would like to ask you to migrate the db schema to InnoDB because of Doctrine migration, for example I would like to use foreign key on "meta" table but as it is MyISAM it is not currently possible. Doctrine gives an error:

[Doctrine\DBAL\Driver\PDOException]
SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint

Thank yo

[2017-01-24 15:49] jeroendesloovere opened #1955 "Console Command for creating thumbnails"
## Type

- Feature

## Problem description

## Expected behavior / Proposed solutions

[2017-01-24 16:30] jeroendesloovere opened #1956 "New Profiles widget: "Register""
## Type

- Feature

## Problem description

## Expected behavior / Proposed solutions

[2017-01-24 16:32] carakas commented on #1956
I would wait with this one until the profiles module has been rewritten to doctrine and symfony forms

[2017-01-25 09:37] jeroendesloovere commented on #1835
Isn't this one fixed?

[2017-01-25 09:38] carakas commented on #1835
yes it was :) woops

[2017-01-25 09:38] #1835 closed

[2017-01-25 13:00] jeroendesloovere commented on #1603
@StijnVrolijk, any new about this feature?
Is there a way you can create a "packagist library" for this, so we can integrate it in the #registry website.

[2017-01-25 13:14] StijnVrolijk commented on #1603
@jeroendesloovere the package is already available here: https://packagist.org/packages/forkcms/theme-validator

I'm currently a bit strapped for time, though, so progress is slow. If I find some time to work on Fork, it'll most likely be on a Fork 5 feature, not the theme validator :)

[2017-01-25 13:18] jeroendesloovere commented on #1603
Thanks! Looks nice already!

[2017-01-25 18:24] freshface commented on #1953
Same issue in the 5.0.0-dev branch.

[2017-01-25 18:27] carakas commented on #1953
can you create a pr for it to the 5.0.0-dev branch?

[2017-01-25 19:25] freshface opened #1959 "Stylesheetparser: set styles to be used"
## Type

- Enhancement

## Problem description

The stylesheetparser loads all the style applicable to an element but the user should not see or use all

## Steps to reproduce

Use the styles dropdown on for example a link.

<img width="869" alt="schermafbeelding 2017-01-25 om 20 22 38" src="https://cloud.githubusercontent.com/assets/103913/22305577/528923bc-e33c-11e6-8cbd-23d4a9641cd4.png">

## E

[2017-01-25 19:52] freshface commented on #1953
Well, the js file tries to load the map file?
I dont know how to fetch it thru yarn...

[2017-01-26 09:12] jeroendesloovere opened #1960 "Profiles: Password field"
## Type

- Enhancement

## Problem description

## Steps to reproduce

[2017-01-26 09:14] carakas commented on #1960
@jeroendeslovere can you check if this is still an issue in 5.0.0-dev?

[2017-01-26 15:33] myspulin opened #1961 "Use Symfony FOSUserBundle"
## Type

- Enhancement

## Problem description

Hi, I would like to use some Symfony bundle which has the dependency to FOSUserBundle. As you probably know this bundle manage users and authentication process. It would be nice to have it because it is quite used in many bundles. Is there any plan to use it in the future?

Thanks for your time.

## Expected behavior / Proposed solutions

Handle User

[2017-01-26 15:39] StijnVrolijk commented on #1961
https://jolicode.github.io/fosuserbundle-conf/#/

Other than that, we will probably be rewriting our own profiles modules instead of just using a 3rd party bundle. At SumoCoders we've used the FOSUserBundle in our Symfony applications for a few years but recently we've switched to our own MultiUserBundle since it better suits our needs. https://packagist.org/packages/sumocoders/framework-multi-use

[2017-01-26 15:50] carakas commented on #1961
since this is more a question than an actual issue I'll close this one since it has been answered

[2017-01-26 15:50] #1961 closed

[2017-01-26 15:51] myspulin commented on #1961
Thanks, I have red about some problems with customizations, I have a look on the other package. We can close it.

[2017-01-28 09:31] carakas opened #1962 "Allow the search to work with uuids"
## Type

- Enhancement

## Problem description

You can now only use integers as id's for the search, if switched to strings we can use UUID's

## Why?

When creating modules with **Doctrine entities and UUID**,
$id is `char(36)` in combination with `(DC2Type:guid)`.

So using the current search module will not be possible anymore for these custom modules,
since it requires the $otherId to be an `

[2017-01-28 14:14] carakas opened #1963 "Add autocomplete on login and registration forms"
## Type

- Enhancement

## Problem description

it helps your browser or password manager to remember credentials

## Expected behavior / Proposed solutions

- autocomplete="email"
- autocomplete="new-password"
- autocomplete="current-password"

etc

[2017-01-28 14:41] carakas opened #1964 "Implement credential api"
## Type

- Enhancement

## Problem description

people forget passwords

this helps them, currently only chrome, but a lot of people use it so it is worth it.

Netflix had a 20% drop in support questions of forgotten credentials after implementing this

[2017-01-29 14:24] tijsverkoyen commented on #1964
I think you mean https://developer.mozilla.org/en-US/docs/Web/API/Credential_Management_API? If so, this is a experimental feature, so I won't bother at this moment

[2017-01-29 16:12] carakas commented on #1964
it is already fully implemented in chrome and in android, so I think it is something they will push through, if companies like netflix (was the big example I remember) I think it's wurth looking in to, especially since it's not that much work
http://caniuse.com/#feat=credential-management

[2017-01-29 16:51] jessedobbelaere commented on #1964
I didn't attend this talk but looks nice to have indeed 👍
https://docs.google.com/presentation/d/1_X_YibtMss9-MfYO0BFI1798vW0vQec4p_j8VPi4-xY/preview?slide=id.p

[2017-02-01 09:42] jeroendesloovere opened #1965 "Redirect bug in parsewidget"
## Type

- Non Critical bug

## Problem description

## Steps to reproduce

1. Create a form in formbuilder
2. Open up a template, f.e.: `src/Themes/triton/Core/Layout/Templates/Default.html.twig`
3. Add `{{ parsewidget('FormBuilder', 'Form', 1) }}`
4. Visit the website page, fill in the form and click "submit"
=> BAM, error
<img width="1219" alt="schermafbeelding 2017-02-01 om 10 41 47" src="http

[2017-02-01 09:43] carakas commented on #1965
changed to non critical, since parsewidget is a hack and should be avoided when possible

[2017-02-02 13:28] myspulin opened #1971 "Backend Tag input problem"
## Type

- Non critical bug

## Problem description

When I try to input Tags to page or blog entity the input does not allow me to input multiple tags. I presume it should work as in this example:

http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/

Javascript is loaded in the header: bootstrap-tagsinput.min.js, no error on the firebug console.

Could you please check this issue?

[2017-02-02 13:52] carakas commented on #1971
It works here
<img width="484" alt="screen shot 2017-02-02 at 14 51 36" src="https://cloud.githubusercontent.com/assets/3634654/22551930/2a9f9c2a-e957-11e6-9828-6777cfcd5633.png">
you can separate them with a `,` or by pressing enter

[2017-02-02 14:10] myspulin commented on #1971
Oh, I see you have to press enter, it did not check the leave event. So close this issue, thanks.

[2017-02-02 14:10] #1971 closed

[2017-02-02 15:37] carakas commented on #1844
see app/Kernel.php:176

[2017-02-07 16:04] jeroendesloovere opened #1974 "Backend page icon is missing for sub page with "module action""
## Type

- Enhancement

## Problem description

<img width="173" alt="schermafbeelding 2017-02-07 om 17 01 56" src="https://cloud.githubusercontent.com/assets/588616/22699225/2f0a0fa8-ed57-11e6-9dc9-1f3b0e8edf84.png">
As you can see in the image above, the leaf icon is missing before the "detail" page".

## Steps to reproduce

1. Click on the page "nieuws"
2. Then create a sub page using "create s

[2017-02-07 16:08] carakas commented on #1974
can you create a pr for that?

[2017-02-09 09:47] GhaziTriki opened #1977 "Could not resolve host: accounts.google.com in local machine when Internet is down"
## Type

- Non-critical bug

## Problem description

When logging to the back-end while Internet connection is down we get the error below if the google maps API is configured.

[code]

## Steps to reproduce

- Login to backend whil Internet connection is down.

## Expected behavior / Proposed solutions

Should not fail to load the dashboard.

[2017-02-09 09:49] carakas commented on #1977
@GhaziTriki can you create a PR for this

[2017-02-13 09:44] Katrienvh opened #1978 "Locale analyse doesn't work correctly"
## Type

- Non critical bug

## Problem description

/locale/analyse -> i get the message : 'No missing translations were found.' but there are missing translation , so i guess something went wrong.

## Steps to reproduce

Go to /locale/analyse

[2017-02-20 17:42] #1938 closed

[2017-02-20 17:44] StijnVrolijk commented on #1953
This will be fixed in Fork 5 and this only happens when your console is open so regular people won't notice.

[2017-02-20 17:44] #1953 closed

[2017-02-20 17:46] StijnVrolijk commented on #1955
This is not the task of Fork but if you want to implement it, go ahead

[2017-02-20 17:47] StijnVrolijk commented on #1956
@carakas is busy on rewriting the profiles module

[2017-02-20 17:49] carakas opened #1984 "Fix search with uuid"
## Type

- Enhancement

## Problem description

at this moment the search module only works with integers as id's. Because of this you can't use UUID

## Expected behavior / Proposed solutions

be able to use UUID in the search module

[2017-02-20 17:50] #1984 closed

[2017-02-20 17:58] StijnVrolijk commented on #1347
Remove code from the Spoon library

[2017-02-21 09:13] jeroendesloovere commented on #1956
👍

[2017-02-22 16:21] #1839 closed

[2017-02-23 15:08] carakas opened #1989 "Update Symfony to version 3.x"
## Type

- Enhancement
- Feature

[2017-02-28 15:14] myspulin commented on #1714
Hi, I do some development on the last version API and I wonder why is class BaseApi deprecated. In the comments there was mentioned bundle NelmioApiDocBundle or FOSRestBundle is it already decided which one will be used? Is there any estimation when will be implemented? Thanks for info.

[2017-02-28 16:16] myspulin commented on #1714
@jessedobbelaere, thanks for update, it make sense to remove legacy code first I cant wait for new version. Regarding FOSRestbundle I will try the Slack and ask the others. Thank you!

[2017-02-28 20:05] carakas commented on #1714
@myspulin you can find a demo implementation of the FOSRestBundle here https://github.com/forkcms/forkcms/compare/master...justcarakas:rest-api-challange

[2017-03-06 16:23] jeroendesloovere opened #1999 "For the Pages module: `yarn add jstree` and `yarn add jquery.cookie`"
## Type

- Enhancement

## Problem description

## Note

[2017-03-06 16:29] jeroendesloovere commented on #1964
I don't think such a feature is something we need to add to Fork CMS.
Since my browser (safari) is already auto-completing username and password.

[2017-03-06 19:00] carakas commented on #1964
It is more than autocompleting :)

[2017-03-07 08:24] jeroendesloovere opened #2000 "Entity + Repository for "ModuleExtra""
## Type

- Feature

## Expected behavior / Proposed solutions

[2017-03-08 16:24] carakas commented on #2000
this is part of #1714 and not a separate issue

[2017-03-11 22:33] carakas opened #2004 "There is no way to reply as site owner to a blog comment"
## Type

- Feature

## Problem description

People can leave comments on your blog but there is no way to reply to them as owner.

## Expected behavior / Proposed solutions

It would be nice if it was added and send a notification to the person that posted the comment

[2017-03-13 16:39] jeroendesloovere commented on #1816
@carakas This is the bug that I mentioned last week.
`stdClass`...

[2017-03-13 16:41] carakas commented on #1816
at the moment this is a bit a hard bug to solve. Probably only will be fixed when we clean this one up

[2017-03-14 08:47] jeroendesloovere commented on #1974
Closing this, because this seems fixed in "fork-cms-5.0.0-dev" branch

[2017-03-16 15:54] #1965 closed

[2017-03-17 14:14] carakas commented on #1920
might be issue with usertemplates

[2017-03-22 12:58] #1844 closed

[2017-03-22 15:03] #1910 closed

[2017-03-23 10:21] #1937 closed

[2017-03-23 10:22] carakas commented on #1920
is fixed in usertemplates branch

[2017-03-23 10:22] #1920 closed

[2017-03-23 10:23] #1520 closed

[2017-03-23 15:54] jeroendesloovere commented on #1959
@freshface can you create a PR for this?

[2017-03-24 10:05] freshface commented on #1959
We discussed it is not a fix but a "hacky" solution. /cc  @carakas

[2017-03-26 16:05] mablae commented on #1989
Before moving to Symfony3 it would be great to adopt the basic symfony principles first,

The `ApplicationRouting` class is legacy leftover` Backend and Frontend should be moved to seperate bundles and then use the `prefix` feature when importing the routes in routing.yml.

Current way of solving thing does not really make sense.

[2017-03-26 16:09] carakas commented on #1989
We are in the process of moving things over one step at a time
Routing will be something for fork 6

[2017-03-27 16:24] #1053 closed

[2017-03-27 16:26] #1547 closed

[2017-03-27 16:41] StijnVrolijk commented on #1859
won't fix

[2017-03-27 16:41] #1859 closed

[2017-03-27 16:48] carakas commented on #1860
take a look at https://github.com/commerceguys/addressing

[2017-03-27 16:50] #1903 closed

[2017-03-27 16:59] StijnVrolijk commented on #1948
This will be fixed in the mailmotor itself https://github.com/mailmotor/mailmotor-bundle/issues/8

[2017-03-27 17:04] StijnVrolijk commented on #1977
@GhaziTriki any updates regarding this matter?

[2017-03-27 17:14] #1955 closed

[2017-03-28 09:03] carakas commented on #587
@forkcms/frontenders can someone take a look at this?

[2017-03-28 09:13] jeroendesloovere commented on #587
and assign himself to this issue.
Thanks.

[2017-03-28 17:06] #1959 closed

[2017-03-29 09:14] jeroendesloovere opened #2021 "FormBuilder problem with "label" and "checkbox""
## Type

- Non critical bug

## Problem description

<img width="322" alt="schermafbeelding 2017-03-29 om 11 09 20" src="https://cloud.githubusercontent.com/assets/588616/24447112/328ad276-1470-11e7-93c9-8377a8aa9332.png">
<img width="478" alt="schermafbeelding 2017-03-29 om 11 06 35" src="https://cloud.githubusercontent.com/assets/588616/24447032/e225239a-146f-11e7-8133-5e6a40ffc2c2.png">
Website

[2017-04-05 14:53] jeroendesloovere opened #2022 "Should we add `$this->tpl->assignGlobal('locale', Locale::frontendLanguage());` ?"
## Type

- Enhancement

## Problem description

## Expected behavior / Proposed solutions

[2017-04-05 14:55] carakas commented on #2022
the issue comes from only selecting the language in the template
I usually add something on my entity to track the current locale and I use the current translation in the getters on the entity that get the data out of the correct translation

[2017-04-06 09:05] StijnVrolijk commented on #2022
I agree with @carakas. The entity should know which language it's being used in, this should be defined upon fetching it. I can't image you'd need to use multiple translations of an entity at the same time.

[2017-04-10 09:27] jeroendesloovere commented on #1816
**Just bumped upon another example of this problem**
Travis throws errors if you have used f.e.: "@fork.settings" in a service.
<img width="873" alt="schermafbeelding 2017-04-10 om 10 55 08" src="https://cloud.githubusercontent.com/assets/588616/24854889/363ea464-1de0-11e7-9b1f-bf68758a462b.png">

The only temporary solution is to change the code from
[code]
to the following:
[code]
Which is obvio

[2017-04-13 11:07] #2021 closed

[2017-04-18 12:04] Nukasev opened #2027 "nder"
## Type

- Critical bug
- Non critical bug
- Enhancement
- Feature

## Problem description

## Steps to reproduce

## Expected behavior / Proposed solutions

[2017-04-18 12:05] #2027 closed

[2017-05-02 07:06] jeroendesloovere commented on #1714
Interesting article about using "keys" for "translations".
http://obtao.com/blog/2013/06/how-to-organize-your-translations-in-symfony/

[2017-05-03 13:56] carakas opened #2033 "Add cropper to media library"
## Type

- Feature

## Problem description

Some people want to crop their pictures, would be a good feature to add

[2017-05-03 13:57] carakas opened #2034 "Make it possible to control the amount of items that are being linked with the media library"
## Type

- Enhancement

## Problem description
At the moment there is no way as a developer to impact the amount of items that the media library can connect

if I just want one item, or 4 or something between 3 and 7 that is not possible at the moment

[2017-05-03 14:01] jeroendesloovere commented on #2034
👍

[2017-05-03 14:41] jeroendesloovere commented on #2034
## Possible solution
Adding two new options to the MediaGroupType Should take care of this:
* 'minimum_items' => 3
* 'maximum_items' => 7

<img width="332" alt="schermafbeelding 2017-05-03 om 16 30 23" src="https://cloud.githubusercontent.com/assets/588616/25665640/83033d50-301e-11e7-900c-907c6677398e.png">

## Other bad solution
And not: adding variables to the entity for this, for the reason tha

[2017-05-03 15:05] carakas commented on #2034
I think that is a good solution, maybe then also automagically add a constraint for it

[2017-05-16 07:23] jeroendesloovere commented on #1860
@GhaziTriki Are you willing to create a PR using https://github.com/commerceguys/addressing?

[2017-05-17 07:01] wouterverstuyf opened #2036 "Profiles > Group authentication settings broken"
## Type

- Non critical bug

## Problem description

When adding some groups through the profiles module you can limit the access to pages to these groups. This seems to be broken.
When you go to the authentication tab when editing a page, the selected groups don't get saved. Also they are default visible, and should only become visible when you enable the checkbox "Users most be logged..."

## St

[2017-05-17 07:54] freshface commented on #2036
Fixed with pr https://github.com/forkcms/forkcms/pull/2037

[2017-05-22 14:06] jeroendesloovere opened #2040 "Frontend Fork CMS 5 theme doesn't contain css for form errors"
## Type

- Enhancement

## Problem description

[2017-05-31 09:33] carakas opened #2044 "Some old default positions are missing in the new theme"
## Type

- Enhancement

## Problem description

Some core modules expect them to be there like the login widget or the search box

## Steps to reproduce

Install fork 5 and look in the backend at the pages

## Expected behavior / Proposed solutions

I think it would be best to add the missing position(s) back

[2017-05-31 12:00] jeroendesloovere commented on #2044
Probably fixed by https://github.com/forkcms/forkcms/pull/2039

[2017-05-31 12:07] carakas commented on #2044
@jeroendesloovere  nope :) Has nothing to do with that.

[2017-05-31 12:13] jeroendesloovere commented on #2044
Ok, indeed, templates are empty
[code]

[2017-05-31 13:48] jeroendesloovere opened #2045 "Let's make integrating Social Networks fun again..."
## Type

- Feature

## Problem description

1.

2.

<img width="820" alt="schermafbeelding 2017-05-31 om 15 32 28" src="https://cloud.githubusercontent.com/assets/588616/26634598/73ae6da2-4617-11e7-956a-f1ad6b0722d8.png">

## Expected behavior / Proposed solutions

1.

2.

[2017-06-02 07:32] jeroendesloovere commented on #2022
Ok, I understand.
But can you tell me which class will need to be used to get the entity work in Backend and Frontend?
- `Backend/Language/Locale`
- `Frontend/Language/Locale`

[2017-06-02 07:33] carakas commented on #2022
The first one in the backend, the second one in the frontend and you should typehint on their common parent

[2017-06-02 07:35] jeroendesloovere commented on #2022
@carakas can you show me a small example class how you inject Locale?

[2017-06-02 07:39] carakas commented on #2022
`public function myFunctionThatNeedsTheLocale( \Common\Locale $locale);`

[2017-06-02 07:40] jeroendesloovere commented on #2022
Ok, so you do need my offered solution:
`$this->tpl->assignGlobal('locale', Locale::frontendLanguage());`

[2017-06-02 07:41] carakas commented on #2022
No, you can do that in your specific template but without the global if you want but a better solution is to keep track of the current language in your entity and return the correct translation based on that, you set the language in the php so you don't need to care about it in the template

[2017-06-02 07:52] jeroendesloovere commented on #2022
What about a Twig Extension?

[code]

[2017-06-02 07:54] carakas commented on #2022
If you need that value object in your template your logic is flawed.
I've yet to see a good example that would warrant having it available in the template

[2017-06-02 08:01] #2022 closed

[2017-06-02 08:47] #1924 closed

[2017-06-02 09:02] jeroendesloovere commented on #1325
- [ ] Rename class `Backend\Core\Engine\Base\Object`, because `Object` is reserved for furtur use. (does not cause an error in PHP 7) used as a class, interface or trait name

[2017-06-02 17:27] GhaziTriki commented on #1860
@jonasdekeukelaere I have some time. How do you think we can implement it?

[2017-06-06 11:08] jonasdekeukelaere commented on #1347
@carakas I'll have a look at this.

[2017-06-06 12:38] jonasdekeukelaere opened #2050 "MassAction error on invalid action"
## Type
- Enhancement

## Problem description
In the code when the action is not correct, a default is set, which is not always desirable.

## Expected behavior / Proposed solutions
Whenever an invalid action is sent to the MassAction an error should be thrown and handled in JS.

[2017-06-06 13:59] carakas commented on #1860
@GhaziTriki we should implement it in a way that it works for everywhere, maybe just a text area?

[2017-06-07 14:44] jeroendesloovere commented on #2044
Here is a screenshot what happens:
<img width="708" alt="schermafbeelding 2017-06-07 om 16 43 16" src="https://user-images.githubusercontent.com/588616/26884627-7de3c4c8-4ba0-11e7-9742-6b648909fea7.png">

[2017-06-07 14:44] jeroendesloovere commented on #2044
Also when visiting the website, every page redirects you to 404.

[2017-06-08 06:46] jonasdekeukelaere commented on #1860
Hi @GhaziTriki - Did you start this? I can start this now otherwise, I'll add a textarea, as that way everyone is free to use whatever format they please.

[2017-06-08 06:52] jeroendesloovere commented on #1860
If I'm remembering correct we decided in the core meeting that a single textarea was NOT the way we should go.

[2017-06-08 07:22] jeroendesloovere opened #2052 "SpoonDataGrid, false "null" to '' conversion"
## Type

- Non critical bug

## Problem description

![schermafbeelding 2017-06-08 om 09 19 19](https://user-images.githubusercontent.com/588616/26916688-91e47ec8-4c2b-11e7-8d25-1184c7635791.png)

![schermafbeelding 2017-06-08 om 09 17 37](https://user-images.githubusercontent.com/588616/26916660-7bc56d8c-4c2b-11e7-9fbc-86ae0856df43.png)

## Expected behavior / Proposed solutions

This behavior is

[2017-06-08 07:23] carakas commented on #2052
Issues with `SpoonLibrary` should be created on the repository of the library

[2017-06-08 07:23] #2052 closed

[2017-06-08 07:36] jeroendesloovere commented on #2052
Ok, I've got a fix, will create a PR for it.

[2017-06-08 07:38] tijsverkoyen commented on #1860
Euh, I remember that a texture was the way to go. As that allows people to enter/format the address as they want.

[2017-06-08 09:09] jonasdekeukelaere opened #2057 "Remove "no theme" from themes"
## Type
- Enhancement

## Problem description
No-one will ever use the no-theme option.

## Expected behavior / Proposed solutions
Remove "no theme" option from themes.

Also check if de default is changed everywhere to `'Fork'`

[2017-06-08 09:14] jeroendesloovere commented on #1999
@jessedobbelaere did you find some time fixing this one?

[2017-06-08 09:33] jeroendesloovere opened #2059 "Can't install modules in Fork CMS 5.0.0-dev branch"
## Type

- Critical bug

## Problem description

<img width="673" alt="schermafbeelding 2017-06-08 om 11 31 57" src="https://user-images.githubusercontent.com/588616/26922049-37a8e65c-4c3e-11e7-81bb-2482a14dd74e.png">

## Expected behavior / Proposed solutions

[2017-06-08 09:35] jonasdekeukelaere commented on #1860
So @jeroendesloovere I'll implement it as a textarea

[2017-06-08 09:37] carakas commented on #2059
All I can see after reading that final comment is this
![god jeroe](https://user-images.githubusercontent.com/3634654/26922251-dceaf75e-4c3e-11e7-964d-830c13195728.jpg)

[2017-06-08 09:44] jeroendesloovere commented on #1860
In the last core meeting (Tijs wasn't present then) we decided that if we use textarea. Lot's of users wil loose the enormous features separate fields have to offer, "country", "zip", "city".
We do have used these functionality a lot.

[2017-06-08 09:45] tijsverkoyen commented on #1860
And how will you solve the issue of addresses in different address-formats?

[2017-06-08 09:49] jeroendesloovere commented on #1860
Looking at https://github.com/commerceguys/addressing,
they have the following fields:
<img width="744" alt="schermafbeelding 2017-06-08 om 11 46 49" src="https://user-images.githubusercontent.com/588616/26922713-2fe79d76-4c40-11e7-874c-b7a16be5d930.png">

So if I'm correct merging "street + number/bus" would be "address line 1" or "address line 2" (if there is an industrial zone to mention).

[2017-06-08 11:26] tijsverkoyen commented on #1860
The screenshots shows non-standard behaviour, and I don't see any Issues/Pull Requests that asks for extra functionality, so I don't see any reason to add extra dependencies, or make the interface more bloated.

[2017-06-08 11:29] jeroendesloovere commented on #1860
The actual problem of @GhaziTriki is that "streetnumber" should come before "street".
=> So why don't we create one textfield for "address line 1" (= street + number)
And leave the other fields untouched... (zip and city)

[2017-06-08 11:30] GhaziTriki opened #2061 "Return the API back to Fork CMS 5"
## Type
- Feature

## Problem description

API was removed from Fork CMS 5. Is would be great to see it back as it is time saver and help developers access to ready features like user authentication, sending emails, reading data...

From a history point of view, the API of Fork CMS was a main argument for choosing it for customers. Fork CMS makes easy creating web-applications, I don't see it as a

[2017-06-08 11:33] carakas commented on #2061
An example implementation can be found here
https://github.com/forkcms/forkcms/compare/master...justcarakas:rest-api-challange?expand=1

[2017-06-08 11:33] tijsverkoyen commented on #1860
In some countries (e.g.: UK) the zip isn't placed before the city.

[2017-06-08 11:34] StijnVrolijk commented on #2061
If possible, I suggest developing this as a seperate module which can be downloaded and installed into a Fork instance if necessary. We shouldn't bloat the core with modules.

[2017-06-08 11:41] GhaziTriki opened #2062 "Use migrations for installing and updating modules"
## Type

- Enhancement

## Problem description

Actually it is very difficult to update a Fork CMS modules database structure once installed. Why not using migrations for that? I know there one challenge, user data can be lost if there is a need of additional data manipulation script.

[2017-06-08 12:40] GhaziTriki commented on #1860
As a reminder http://www.bitboost.com/ref/international-address-formats.html
Every country has its own address standard.

[2017-06-08 12:45] jonasdekeukelaere commented on #2059
Funny bug - https://github.com/forkcms/forkcms/blob/5.0.0-dev/src/Backend/Core/Engine/Url.php#L83 as the url for installing a module is /private/en/extensions/install_module?token=5vq95l7s7n&module=x the code thinks the module is x and not extensions.

[2017-06-08 12:48] jonasdekeukelaere commented on #2059
I guess changing the module parameter in https://github.com/forkcms/forkcms/blob/5.0.0-dev/src/Backend/Modules/Extensions/Actions/Modules.php#L84 to something else would be the easiest way to solve this bug.

[2017-06-08 13:55] jonasdekeukelaere opened #2064 "Clean up templates/pages"
## Type
- Enhancement

## Problem description
Lots of unnecessary pages.

## Expected behavior / Proposed solutions
Proposed pages:
- Home
- Modules
  - Widgets page with all widgets.
  - Page per action.
- Contact

Header enhancement:
- change languages switcher to bootstrap dropdown

[2017-06-09 07:18] carakas commented on #2059
It would fix the symptom but not the actual bug, because this didn't used to be a bug.
I'll take a look at this, since if we would leave this in it would be a way people could fool the permission system and thereby accessing things they shouldn't be allowed to

[2017-06-09 07:30] jeroendesloovere commented on #2059
Isn't this the solution?
Changing `$module = $this->request->get('module');`
to
`$module = $this->request->query->get('module');`

[2017-06-09 07:32] jeroendesloovere commented on #2059
Hmm never mind

[2017-06-09 07:32] jonasdekeukelaere commented on #2059
No, that's the problem, the actual module (Extensions) is not in the query, but in the url.

[2017-06-09 07:37] jeroendesloovere commented on #2059
Isn't `$this->request->request->get('module')` the solution then?

[2017-06-09 07:38] jonasdekeukelaere commented on #2059
Probably `$this->request->attributes->get('module');` might do it.

[2017-06-09 07:40] carakas commented on #2059
I think that instead of guessing the current implementation should be compared with the old implementation to see where it differs

[2017-06-09 07:40] jonasdekeukelaere commented on #2059
@carakas https://github.com/forkcms/forkcms/commit/0b0b51aa88260d1ef539e19cceadd81925343eff?diff=split

[2017-06-09 12:16] jonasdekeukelaere commented on #2059
Is fixed with #2065

[2017-06-09 12:35] glenncoppens commented on #2062
Would be a great feature indeed! 👍 But as you mentioned there are some potential issues to be resolved such as backups of an altered table (or complete db) to provide a secure upgrade process.
Last year I hacked together a prototype of this migration approach (but it worked). It's in a gist though: https://gist.github.com/glenncoppens/7ba55a242aa2183c2ea987fce8a4b419.

But if I'm not mistaken ther

[2017-06-09 12:51] #2059 closed

[2017-06-12 09:32] jonasdekeukelaere opened #2086 "Use form to delete items"
## Type
- Critical bug
- Enhancement

## Problem description
Deleting items should only be available trough POST requests. This is a CRSF security issue.

## Steps to reproduce
Try to delete blog post.

## Expected behavior / Proposed solutions
This should be a POST-request, but is a GET-request.

[2017-06-12 09:54] jeroendesloovere opened #2087 "Allow the tags to work with uuids"
## Type

Enhancement

## Problem description

You can now only use integers as id's for the tags, if switched to strings we can use UUID's

## Why?

When creating modules with **Doctrine entities and UUID**,
$id is `char(36)` in combination with `(DC2Type:guid)`.

So using the current tags module will not be possible anymore for these custom modules,
since it requires the $otherId to be an `int` a

[2017-06-12 09:56] tijsverkoyen commented on #2087
Can you explain why? And an example on why you need this?

[2017-06-12 11:17] jeroendesloovere commented on #2087
## Why?

When creating modules with **Doctrine entities and UUID**,
$id is `char(36)` in combination with `(DC2Type:guid)`.

So using the current tags module will not be possible anymore,
since it requires the $otherId to be an `int`.
[code]

## Related issue with same problem
"Search to work with uuids": https://github.com/forkcms/forkcms/issues/1962

[2017-06-12 15:25] carakas commented on #2087
@tijsverkoyen I've also ran into this issue, and this combined with the search module is the main reason I'm not using them more often

[2017-06-12 15:34] carakas commented on #2087
@jeroendesloovere can you update the issue description so it contains the reasons why that you added in your comment?

[2017-06-13 07:43] jonasdekeukelaere commented on #2044
The bug with the numbers in widget on the pages edit page has been fixed in #2063

[2017-06-13 08:21] jeroendesloovere commented on #1325
![schermafbeelding 2017-06-13 om 10 21 41](https://user-images.githubusercontent.com/588616/27072859-1c370646-5022-11e7-960f-e1e5abf70ba1.png)

[2017-06-13 08:50] carakas commented on #1325
I'll look at this

[2017-06-13 09:42] jonasdekeukelaere commented on #2050
Fixed in https://github.com/forkcms/forkcms/pull/2051/commits/17b6b097a20d7bba34580b3a9a5b6dd22001d755

[2017-06-13 13:42] jeroendesloovere opened #2092 "Feature to easily copy to other locale."
## Type

- Feature

## Problem description

Fork CMS is a "multi-language" CMS.
Sometimes you need to add another language to the CMS and want to have everything **duplicated in the new language** by using `bin/console forkcms:locale:enable`.

Currently the following modules have "CopyToOtherLocale" methods/commands available:
* Pages
* ContentBlocks

But in other (custom) modules you have to crea

[2017-06-13 13:48] jeroendesloovere commented on #2092
## Another solution

Using `service tags` to get all available "copy commands".

[2017-06-13 15:01] carakas commented on #2062
The modules that use doctrine entities are already using the functionality that is used in the migrations.

IMHO we can only implement this once all modules are running on symfony/doctrine

[2017-06-13 15:02] #2044 closed

[2017-06-13 15:04] #2050 closed

[2017-06-13 15:04] #2057 closed

[2017-06-14 14:49] carakas opened #2097 "Change the implementation of Common\Cookie to symfony cookie"
## Type

- Enhancement

## Problem description

We are using Spoon cookies and symfony cookies in a mix, since spoon is deprecated we should swap it out

## Expected behavior / Proposed solutions
Keep the same external api but let it work on the symfony implementation behind the screens instead of spoon

[2017-06-14 15:01] carakas opened #2098 "Change the implementation of Core/Engine/Rss away from spoon library"
## Type

- Enhancement

## Problem description

We are using Spoon rss, since spoon is deprecated we should swap it out

## Expected behavior / Proposed solutions
Keep the same external api but let it work on a different library or implementation

[2017-06-14 15:23] carakas opened #2099 "Change the implementation of Backend/Core/Engine/Csv away from spoon library"
## Type

- Enhancement

## Problem description

We are using Spoon csv, since spoon is deprecated we should swap it out

## Expected behavior / Proposed solutions
Keep the same external api but let it work on a different library or implementation

[2017-06-14 15:32] carakas commented on #2099
Suggestions welcome on what we should use instead

[2017-06-14 15:33] carakas commented on #2098
Suggestions welcome on what we should use instead

[2017-06-14 15:38] jonasdekeukelaere commented on #2099
Once we upgrade to Symfony 3.2 we can use http://symfony.com/blog/new-in-symfony-3-2-csv-and-yaml-encoders-for-serializer - but in the mean time maybe something like https://packagist.org/packages/league/csv or https://packagist.org/packages/ddeboer/data-import

[2017-06-14 15:40] carakas commented on #2099
In that case I would wait since fork 5 will ship with symfony 3 because 2.8 will be EOL in the near future so it would be strange to ship with that version

[2017-06-14 15:44] jonasdekeukelaere commented on #2098
I don't know any bundles or symfony stuff for that. Maybe an XML writer?

[2017-06-15 09:05] jeroendesloovere opened #2105 "CamelCased files folder names"
## Type

- Enhancement

## Problem description

## Expected behavior / Proposed solutions

Which folder name rules are we going to use, CamelCased or lowercased?
=> I prefer going to CamelCased, so they match the CamelCased module names.
<img width="204" alt="schermafbeelding 2017-06-15 om 10 56 39" src="https://user-images.githubusercontent.com/588616/27173533-56e86904-51b9-11e7-9148-f10b28aa82d9

[2017-06-15 09:35] jeroendesloovere opened #2106 "MediaLibrary FrontendHelper needs a parseWidget with a MediaGroup entity"
## Type

- Enhancement
- Feature

## Problem description

Currently the FrontendHelper of the MediaLibrary module requires `string $mediaGroupId`.
F.e.: `{{ media_library_widget('Slider', blogArticle.mediaGroup.id) }}`

What if we could use the entity MediaGroup directly...?
F.e.: `{{ media_library_widget('Slider', blogArticle.mediaGroup) }}`

That would save us a query in the FrontendWidget, sinc

[2017-06-15 09:36] carakas commented on #2106
And why don't you just create a normal widget? and use that one?

[2017-06-15 13:14] jeroendesloovere commented on #1948
Closing this issue was actually wrong.

I'm reopening this issue again,
because there will need to be a new "ApiKeyAndPageId" Validator class in the Backend Mailmotor module which will indeed must use a new function in the mailmotor-bundle.

[2017-06-15 13:26] jeroendesloovere commented on #2106
No, creating a normal widget (module_extra) in the database will **never** be an option for custom media groups. Not flexible enough.

Because:
- Now, you can use whatever "widget action" (lightbox, slider, oneImage, ...) you want, anywhere, anytime, multiple times, ...
- And you can change that "widget action" (lightbox, slider, ...) in the template anytime. Without having to do some database que

[2017-06-15 15:03] #2036 closed

[2017-06-16 07:47] carakas opened #2111 "Check if there are database changes that need to be made"
## Type

- Enhancement

## Problem description
A lot of the tables have the option to add serialised data to it, it is handy for in situations where we want to add something in a backwards compatible way. But maybe some of those things should be placed in a separate field instead. So we should go over the database and check that

[2017-06-16 11:24] #1817 closed

[2017-06-16 11:24] #1347 closed

[2017-06-21 10:07] #2040 closed

[2017-06-26 11:20] #1977 closed

[2017-06-26 12:50] #2086 closed

[2017-06-27 09:56] Katrienvh opened #2120 "Mailmotor different list for all languages"
## Type

- Enhancement

## Problem description

There is no possibility to use other lists for the different languages.

[2017-06-27 10:57] jeroendesloovere commented on #2120
Seems like something custom... that can easily be changed in the Subscribe/Unsubscribe actions if required.

I think the first question is, who uses different lists for the same client?
We don't.

F.e.: in Mailchimp you have merge tags to show different content to other languages...
Segments to filter customers from different languages...

[2017-06-27 11:00] jeroendesloovere commented on #2120
The "locale" is being send when subscribing:
https://github.com/forkcms/forkcms/blob/5.0.0-dev/src/Frontend/Modules/Mailmotor/Command/SubscriptionHandler.php#L68

[2017-06-27 11:08] jeroendesloovere commented on #2120
It seems like CampaignMonitor isn't that advanced as MailChimp, in that way that when subscribing you can't send $language:
https://github.com/mailmotor/campaignmonitor-bundle/blob/master/Gateway/CampaignMonitorSubscriberGateway.php#L113

MailChimp does has support for a subscriber language:
https://github.com/mailmotor/mailchimp-bundle/blob/master/Gateway/MailChimpSubscriberGateway.php#L188

[2017-06-27 13:01] carakas commented on #2120
@jeroendesloovere  it was in the module for you updated is, so I disagree that it is just something custom

[2017-07-05 10:02] bartdc opened #2125 "User language can't be changed."
## Type

- Non critical bug

## Problem description

The language change is not saved.

## Steps to reproduce

http://demo.fork-cms.com/private/en/users/edit?token=gms5hqyb2n&id=1#tabSettings

Choose a language and save the form.

## Expected behavior / Proposed solutions

After saving, the interface language of Fork CMS should be adapted.

[2017-07-05 10:06] carakas commented on #2125
@bartdc can you create a PR for this?

[2017-07-05 10:23] bartdc commented on #2125
👍

[2017-07-07 06:23] jonasdekeukelaere opened #2127 "FAQ test methods have the wrong name"
## Type
- Non critical bug

## Problem description
FAQ test methods have the wrong name.
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/Faq/Tests/Actions/DetailTest.php

[2017-07-07 07:46] carakas commented on #2127
Already fixed in fork 5

[2017-07-07 07:46] #2127 closed

[2017-07-07 07:47] jonasdekeukelaere commented on #2127
👍

[2017-07-11 09:10] jeroendesloovere opened #2130 "Enhancement in formbuilder: required is not visible"
## Type

- Enhancement

## Problem description

## Expected behavior / Proposed solutions

<img width="467" alt="schermafbeelding 2017-07-11 om 11 04 17" src="https://user-images.githubusercontent.com/588616/28061004-47d4f7f0-6629-11e7-95c7-69d77b6bd4e3.png">

[2017-07-11 09:11] carakas commented on #2130
@jeroendesloovere I changed the milestone to 4.5.5 or 5.0.0 since this can be fixed on master

[2017-07-11 09:34] jeroendesloovere commented on #1948
Closing since the PR #2113 to fix this is merged

[2017-07-11 09:34] #1948 closed

[2017-07-11 09:52] jeroendesloovere opened #2131 "When installing Fork CMS without installing mailmotor, mailmotor.mail_engine should be set"
## Type

- Critical bug

## Problem description

## Steps to reproduce

1. Install fork cms
2. Don't install mailmotor
=> Error will be shown after installation and breaks everything.

## Expected behavior / Proposed solutions

[2017-07-11 09:56] jeroendesloovere commented on #2131
`FatalThrowableError in MailMotorFactory.php line 21:
Type error: Argument 2 passed to MailMotor\Bundle\MailMotorBundle\Factory\MailMotorFactory::__construct() must be of the type string, null given`

[2017-07-11 10:48] AaTTaxX opened #2132 "Installation Fork CMS 4.5.4 on Windows Server 2016 / IIS 10 / PHP 7.1.7 fails"
Hi, I am trying to run a Fork CMS installation on:

- Windows Server 2016 /
- IIS 10.0.14393.0
- PHP version 7.1.7 x64 NTS
- Fork CMS 4.5.4

Unfortunately, the first steps have already failed.

My steps:

    1. Fork CMS 4.5.4 downloaded

    2. Fork CMS unpacked under the path: C:\inetpub\wwwroot\

    3. New website created in IIS -> Site name: fork

    4. Application pool: DefaultAppPool

[2017-07-11 11:04] carakas commented on #2132
does htaccess work on that server? if not you need to port that configuration to what works on windows

[2017-07-11 11:32] #2131 closed

[2017-07-11 13:14] AaTTaxX commented on #2132
have converted the .htaccess to web.config but still get error but another one "Corrupted Content Error"
Here my web.config:
`<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="Match

[2017-07-11 13:16] carakas commented on #2132
I don't know enough of windows servers to be able to help you with that but I'll post it in the slack channel, feel free to join it as well
https://fork-cms.herokuapp.com/

[2017-07-14 08:20] jeroendesloovere opened #2137 "Feature for MediaLibrary: SEO "prefix" for uploaded files"
## Type

- Feature

## Problem description

## Expected behavior / Proposed solutions

1. Add the possibility to add a site-wide "prefix" for every language. F.e.: `http://www.example.be/src/Frontend/Files/MediaLibrary/01/my-business-sells-printers-IMG123.jpg`
2. Add the possibility to add a prefix to every upload for a MediaGroupType. F.e.: `http://www.example.be/src/Frontend/Files/MediaLibrary/0

[2017-07-14 12:29] carakas commented on #2125
@bartdc any update on this?

[2017-07-18 11:39] #2033 closed

[2017-07-18 11:49] jeroendesloovere commented on #2045
Closing this one...

[2017-07-18 11:49] #2045 closed

[2017-07-18 12:11] bartdc commented on #2125
@carakas I've tested it locally with version 4.5.4 and everything seems to be fine. On the demo site, the issue remains. So maybe the demo version is lower than 4.5.4?

[2017-07-18 12:19] carakas commented on #2125
demo site is 4.5.4

[2017-07-18 12:21] bartdc commented on #2125
Strange.

[2017-07-18 12:21] #2125 closed

[2017-07-18 12:33] AaTTaxX commented on #2132
No windows lovers there, with the same problem?

[2017-07-18 12:33] carakas commented on #2132
It would seem so, I'm sorry

[2017-07-18 15:07] jeroendesloovere commented on #2132
Hi @AaTTaxX,  did you try to build up the htaccess from "required to run" to "production ready"?

F.e., can you start with:

[code]

[2017-07-18 15:11] jeroendesloovere commented on #2132
@AaTTaxX, it's like rare Pokémons, those Windows lovers.
Rarely you see one and when you try to catch him then... Your windows crashes...
![windows-end-program](https://user-images.githubusercontent.com/588616/28324568-06888f7e-6bdc-11e7-9516-2254371cf06e.png)

[2017-07-19 07:56] AaTTaxX commented on #2132
Hi Jeroen,

.htaccess is not working with IIS (only with 3rd party tools).

I have tested with a Helicon tool that provides support for Apache .htaccess configuration for IIS and it seems to work, but I do not really want to use a 3rd party tool.

Saw this **nice** screen for the first time on a Windows Server:
![installation](https://user-images.githubusercontent.com/30074120/28355988-a013e370-6c

[2017-07-19 09:42] #1325 closed

[2017-07-19 11:05] #1612 closed

[2017-07-25 10:00] #1960 closed

[2017-07-25 10:02] #2061 closed

[2017-07-25 10:03] tijsverkoyen commented on #2098
https://github.com/alexdebril/rss-atom-bundle?
Or just some twig-template?

[2017-07-25 11:48] #2111 closed

[2017-07-25 13:57] #2105 closed

[2017-07-25 14:58] carakas commented on #2097
Not possible at the moment due to how the responses are build in fork at the moment

[2017-07-29 11:33] carakas commented on #2097
Implemented in the upgrade to symfony 3 branch

[2017-07-31 14:05] #587 closed

[2017-08-01 15:24] carakas commented on #2097
Fixed by #2151

[2017-08-01 15:29] #2064 closed

[2017-08-01 15:35] carakas commented on #2098
if this can be implemented in a BC way it can be done in 5.1 else it wil be 6

[2017-08-02 01:36] jessedobbelaere commented on #1999
Yep looking into it. Not sure if this is an "easy pick" as we're upgrading from jsTree 0.9.9 (2009) to 3.3.4 (2017) :P But can't be that hard to make it working again, right

[2017-08-02 09:23] carakas commented on #1999
wow, we are way behind :p @jessedobbelaere how is it going?

[2017-08-02 12:07] carakas commented on #1962
For now you can fix it with something like this

Entity
[code]

Creating new instance of entity

[code]

Repository
[code]

[2017-08-02 12:09] carakas commented on #2087
For now you can fix it with something like this

Entity
[code]

Creating new instance of entity

[code]

Repository
[code]

[2017-08-02 12:10] #2130 closed

[2017-08-03 07:39] #2097 closed

[2017-08-03 07:40] #1989 closed

[2017-08-03 07:42] carakas commented on #408
I personally prefer yaml, I've seen those XLIFF and they are just unreadable

[2017-08-04 19:17] freshface opened #2163 "THEME_URL is not set"
## Type

- Critical bug

## Problem description

THEME_URL is not set because `$this->forkSettings` is `null` https://github.com/forkcms/forkcms/blob/master/src/Common/Core/Twig/BaseTwigTemplate.php#L142

## Steps to reproduce

Do this in your theme template: `{{ dump(THEME_URL) }}`

[2017-08-05 07:15] jeroendesloovere opened #2166 "forkcms:install:prepare-for-reinstall not working"
## Type

- Non critical bug

## Problem description

[code]

[2017-08-05 07:20] carakas commented on #2166
I used this all the time, it should work :s

[2017-08-05 07:28] jeroendesloovere opened #2167 "medialibrary: cropper not enabled, but when uploading mass images, you see it"
## Type

- Enhancement

## Problem description

[2017-08-05 07:34] jeroendesloovere commented on #2166
## Description
The installer of fork was crashed => fixed by https://github.com/forkcms/forkcms/pull/2165
And then some things were broken, including the reinstaller.

## Proposed solutions

Is there a way to set the `kernel.project_dir` earlier in the installer script,
so everybody can reinstall things when one or more modules were broken during installation.

[2017-08-05 08:00] carakas commented on #2166
did you clear all your cache?

[2017-08-05 08:00] carakas commented on #2166
and do a composer install?

[2017-08-07 21:23] jacob-v-dam opened #2170 "Updating the Meta type results in an error"
## Type
Critical bug

## Problem description
When i try to update an Meta type it results in an error. Adding a new one works.

## Steps to reproduce
First create a Meta and then try to update it. The code which i have is:
[code]

## Expected behavior / Proposed solutions
That it works without an error ;)

[2017-08-09 19:26] freshface commented on #2163
This PR should fix this https://github.com/forkcms/forkcms/pull/2173

[2017-08-10 14:10] jonasdekeukelaere commented on #2170
@jacob-v-dam what is your error exactly?

[2017-08-11 06:55] Katrienvh opened #2178 "Theme template is not active after making a change in the template"
## Type

- Critical bug

## Problem description

Theme template is not active after making a change in it and saving it.

## Steps to reproduce

The problem occurs when you want to edit a theme template. When you scroll down to the panel with the title status you can see that the active checkbox is disabled and not checked, so when you save the template, your template is set non active and you can

[2017-08-11 06:58] jonasdekeukelaere commented on #2178
Note https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/Extensions/Actions/EditThemeTemplate.php#L117 -> "Y" should probably be 1

[2017-08-12 13:42] jacob-v-dam commented on #2170
The error is:
`Type error: Argument 9 passed to Proxies\__CG__\Common\Doctrine\Entity\Meta::update() must be of the type string, null given, called in src/Backend/Form/Type/MetaType.php on line 272`

[2017-08-14 06:49] carakas commented on #2163
We only close an issue when a PR has been merged

[2017-08-14 07:11] #2178 closed

[2017-08-14 12:21] #2170 closed

[2017-08-14 12:41] carakas commented on #2166
closed because it is invalid, has to do with still having fork 4 cache

[2017-08-14 12:41] #2166 closed

[2017-08-16 11:47] Katrienvh opened #2186 "Translation edit in index is broken"
## Type

- Critical bug

## Problem description

Edit of translation in index is broken, got an ajax error.

## Steps to reproduce

http://demo.forkcms.com/private/en/locale/index?form=filter&form_token=93df333ed5f53a4f9475c2dcb5997f71&application=&module=&type%5B%5D=lbl&language%5B%5D=fr&name=e&value=&search=
Try to change the first translation and the error will appear

`{"code":500,"data":null,

[2017-08-16 11:55] StijnVrolijk commented on #2186
To further specify: It only occurs when editing a translation through JS/AJAX. The edit action itself works

[2017-08-16 15:29] #2186 closed

[2017-08-16 19:39] jacob-v-dam opened #2188 "screen.css Fork theme not loaded"
## Type
Critical bug

## Problem description
In ealier versions you were able to add a `screen.css` to your theme and this would display theme specific css. In the new version it doesn't load the theme `screen.css` but a global.

## Steps to reproduce

Check version 4.5.4 which loads `screen.css` in the css array, 5.0.1 loads `/src/Frontend/Core/Layout/Css/screen.css`

## Expected behavior / Propo

[2017-08-17 07:26] Katrienvh opened #2189 "Usertemplate do not work"
## Type

- Critical bug

## Problem description

Usertemplate is empty in the frontend

## Steps to reproduce

Add a usertemplate on a page and go to the frontend, you will not see the content of the usertemplate

[2017-08-17 12:10] #2163 closed

[2017-08-17 12:58] jeroendesloovere opened #2191 "MediaLibrary + MediaGalleries: add dummy data when "install example data" is checked"
## Type

- Enhancement

## Expected behavior / Proposed solutions

[2017-08-17 13:00] jeroendesloovere commented on #2191
Hi y'all, any suggestions which example data I should add?
* A media gallery?
* Media folder structure?
* ...

[2017-08-17 14:15] wouterverstuyf opened #2192 "Backend / changing labels don't have effect, unless you remove the cache"
## Type

- Non critical bug

## Problem description

Fork V5
Example: changing labels in backend templates don't have any effect, you have to remove the cache before the change is active.
Debug mode is active.

## Steps to reproduce

Put debug mode on
Change a label
Refresh => no result
Clear cache
Label is changed

[2017-08-18 08:19] #2189 closed

[2017-08-22 13:27] jeroendesloovere commented on #2192
This is indeed a bug.

[2017-08-25 06:30] jeroendesloovere commented on #2192
@jelmersnoeck Can you fix this one pretty please?

[2017-08-25 08:23] carakas commented on #2192
I'll look into this

[2017-08-25 11:34] carakas commented on #2132
we've released fork 5, should you still have issues there you can always ask to reopen this issue

[2017-08-25 11:34] #2132 closed

[2017-08-25 11:41] carakas commented on #2062
Going to close this one for now

[2017-08-25 11:41] #2062 closed

[2017-08-25 11:43] carakas commented on #1880
closing for now

[2017-08-25 11:43] #1880 closed

[2017-08-25 11:44] carakas commented on #1446
going to close this one for now, if you need it in your own project you can check the link posted above

[2017-08-25 11:44] #1446 closed

[2017-08-25 11:44] #2192 closed

[2017-08-25 11:45] carakas commented on #1838
Going to close this one for now

[2017-08-25 11:45] #1838 closed

[2017-08-29 08:08] carakas opened #2213 "The score of the passwordstrenght checker in php and js is different"
## Type

- Non critical bug

## Problem description

It is easier to get a strong password score in the js and the scores don't match

## Steps to reproduce
enter a mediocer password. Js will say it is strong while the php won't

## Expected behavior / Proposed solutions

The same output

Probably best to wait till after #2212 is merged

[2017-08-29 12:47] linbis opened #2214 "MediaGroupTypeDialog controls"
## Type

Question

## Problem description

File /src/Backend/Modules/MediaGalleries/Js/MediaGalleries.js
If element domID = addMediaGroupTypeDialog not found whether there is a necessity to initialize for MediaGroupTypeDialog controls, if the MediaGroupTypeDialog is not initiated

[2017-08-29 12:50] carakas commented on #2214
@jeroendesloovere  can you follow this up and ask for clarification if needed?

[2017-08-30 06:41] jeroendesloovere commented on #2214
Hi @linbis,
can you provide us with a bit more information like how to reproduce?

Thanks in advance.

[2017-08-30 13:04] jeroendesloovere opened #2215 "Pages: "redirect dropdown" is missing the last letter"
## Type

- Non critical bug

## Steps to reproduce

In the Pages module, create the following page structure
[code]

Then go to the `redirect`-tab and click the "internal link" dropdown.
You will now see that the last letter is missing.

## Expected behavior / Proposed solutions

<img width="723" alt="schermafbeelding 2017-08-30 om 15 04 46" src="https://user-images.githubusercontent.com/588616/29

[2017-08-30 13:05] carakas commented on #2215
I can't reproduce it

[2017-08-30 14:34] jeroendesloovere opened #2217 "Pages: CacheBuilder "has_children" is falsely always true"
## Type

- Non critical bug

## Problem description

The cacheBuilder says that every page "has_children", even when they don't have any children.
This bug is probably from a while ago when the Pages CacheBuilder was changed.

[2017-08-30 14:40] jeroendesloovere commented on #2217
Introduced in this PR: https://github.com/forkcms/forkcms/commit/9f98251e38dfaf8dd087d821ba0cc23733dd1ed4

[2017-08-30 14:45] jonasdekeukelaere commented on #2217
Not true, it's been introduced when changing Y/N to booleans.
https://github.com/forkcms/forkcms/commit/eeedff6e6905aa0c9408044debbdad1804f85f1b#diff-1a016ff9754b60a5b5a7e3af04e63173R157

Whereas in the query there is still Y/N: https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/Pages/Engine/Model.php#L739

Should be easy fix, but I don't have time at the moment.

[2017-08-30 14:47] jeroendesloovere commented on #2217
Does that mean that when we change `Y` and `N` to true and false, it should be fixed?

[2017-08-30 14:48] jonasdekeukelaere commented on #2217
It's probably a 1/0 in the queries as far as I remember. But yes, that should fix it. It worked before.

[2017-08-30 14:52] carakas commented on #2217
yea, should be a 1/0 check probably

[2017-08-30 14:54] jeroendesloovere commented on #2217
I changed the query to `IF(COUNT(p.id) > 0, 1, 0) AS has_children` and it's a not working solution.

[2017-08-30 14:54] carakas commented on #2217
did you clear the cache?

[2017-08-30 15:12] #2167 closed

[2017-08-31 13:09] #2214 closed

[2017-08-31 14:33] #1978 closed

[2017-09-01 11:30] #2217 closed

[2017-09-01 12:19] #2215 closed

[2017-09-01 12:22] #2213 closed

[2017-09-07 10:38] myspulin opened #2236 "CLI console default environment"
- Enhancement

## Problem description

Hi,

I use ForkCms on production server and I wonder why is in console default environment set to dev:

$env = $input->getParameterOption(array('--env', '-e'), getenv('SYMFONY_ENV') ?: 'dev');

In the commnad list there is writen that default shoud be prod:

-e, --env=ENV            The Environment name. [default: "prod"]

Could you please check it and update

[2017-09-15 07:14] Katrienvh opened #2248 "Pages copy action sets content blocks of from language archived"
## Type

- Critical bug

## Problem description

When you want to make a copy from the NL website to the FR website, the content blocks of NL get archived.

## Steps to reproduce

`/pages/copy?from=nl&to=fr`

[2017-09-15 07:33] carakas commented on #2248
Just tried it on the demo, couldn't reproduce it, are you sure you didn't make a typo in the from parameter?

[2017-09-15 07:37] carakas commented on #2248
Probably a clone issue

[2017-09-15 07:37] carakas commented on #2248
Sorry, pressed the wrong button :)

[2017-09-15 09:04] #2248 closed

[2017-09-15 20:30] myspulin commented on #2236
Thanks.

[2017-09-18 07:33] carakas commented on #2236
Ow sorry, the pr that needed to fix this had closed this one automatically, but it isn't fixed yet, the solution that I had tried kept failing in the test so I closed (not merged it)

[2017-09-18 09:27] jeroendesloovere opened #2256 "Bug in backend theme layout text field"
## Type

- Non critical bug

## Steps to reproduce

1. Visit the demo site > Settings > Themes > Templates > Default template OR [click here to take you there](https://demo.fork-cms.com/private/en/extensions/edit_theme_template?token=glzd76xzq2&id=1)
2. In the Layout text field, remove a "]" and save...

![schermafbeelding 2017-09-18 om 11 24 42](https://user-images.githubusercontent.com/588616/30

[2017-09-19 09:52] carakas commented on #2188
You can overwrite this file by placing a file with the same name in the correct location in your theme

[2017-09-19 09:52] #2188 closed

[2017-09-21 13:19] jeroendesloovere opened #2260 "Mailmotor module + Google ReCaptcha"
## Type

- Feature

## Expected behavior / Proposed solutions

In the mailmotor module:
Double opt-in decreases your conversion rate (because the double-optin mail can go lost into space).
Would be nice if a "Google ReCaptcha" is added to the form, so we can disable double-optin.

[2017-09-21 13:20] jeroendesloovere commented on #2260
@StijnVrolijk I tagged you, because you created the Google ReCaptcha integration into Fork CMS.
Would it be possible to integrate that in the mailmotor module?

[2017-09-21 13:25] jeroendesloovere commented on #2106
Closing this one since the current method with "media id" is just fine...

[2017-09-21 13:25] #2106 closed

[2017-09-22 08:21] StijnVrolijk commented on #2260
@jeroendesloovere I'll try to take a look at it in the course of next week

[2017-09-22 08:21] freshface opened #2266 "Formbuilder adding a textbox"
## Type

- Non critical bug

## Problem description

By adding a textbox to the form builder the field is by default marked as required but the error message is not loaded in.

## Steps to reproduce

Add a textbox field to a form in the form builder and save it.
This gives no error, only after edit of the textbox and saving it gives an error because the error message is not filled out.

## Expecte

[2017-09-25 13:14] tijsverkoyen opened #2268 "Don't redirect on empty pages"
## Type

- Non critical bug
- Enhancement

## Problem description

It seems like at some place in time the intended behaviour for "empty" pages was changed. The intended behaviour is:

When a page has no content (e.g.: no editors, widgets, module, ...) **and has children** the page should redirect to the first child with a temporary redirect.

When a page has no content (e.g.: no editors, widgets,

[2017-09-25 13:17] tijsverkoyen commented on #2268
Seems like there is already some code in place: https://github.com/forkcms/forkcms/blob/7ca7ed6811c30b59b47a7aa36a6e6c94331eb1fa/src/Frontend/Core/Engine/Page.php#L244

https://github.com/forkcms/forkcms/blob/7ca7ed6811c30b59b47a7aa36a6e6c94331eb1fa/src/Frontend/Core/Engine/Page.php#L250 should use a temporary redirect, as this will cause issues when the "empty" page is changed.

[2017-09-25 13:18] tijsverkoyen commented on #2268
As this issue was created due to a discussion on Slack I didn't bother to test if the behaviour is present, as everybody seems to agree the expected behaviour isn't working as I. described above.

[2017-09-25 15:21] #2268 closed

[2017-09-27 08:34] Diewy opened #2273 "Bug: Redirects in Search module"
## Type

- Non critical bug

## Problem description

After setting a redirect on a page the user would assume that the content is not accessible anymore. But a truncated version is still visible via a search on that content, which reveals all your (dirty) secrets!

## Steps to reproduce

1. Create content on a page in the backend
![screenshot 2017-09-27 10 23 09](https://user-images.githubusercont

[2017-09-27 08:35] carakas commented on #2273
@Diewy thank you for this bugreport, is this something you can fix by creating a PR for it?

[2017-09-29 11:37] carakas opened #2280 "Write more tests"
## Type

- Enhancement

## Problem description

We have a rather low test coverage at the moment. Useful tests that can make us more confident that everything is working as it should be are more than welcome

[2017-09-30 19:31] lex111 commented on #2273
I would like to try to fix this. What are the recommendations on how to do this?

[2017-10-02 07:34] carakas commented on #2273
@lex111 Awesome, we have a docker container with php 7.1 and the env variables you need to enable debug. So if you have docker that will be the easy road to get fork running on your machine

The search works with indexes that are created in the backend when adding or editing a page. I think it would be probably the best way to target this bug. By checking if the page is a redirect page and in that

[2017-10-02 20:02] klnjmm commented on #2280
Can you give priority on class to tests ? Or it doesn't matter ?

[2017-10-02 20:49] carakas commented on #2280
@klnjmm Maybe first making sure that we have complete functional tests for all the actions. That way we can be sure when we ship that we don't ship with broken actions or pages

[2017-10-03 06:32] jeroendesloovere commented on #1974
Reopened.
When a page is checked as "module-action", the icon is missing.

<img width="222" alt="schermafbeelding 2017-10-03 om 08 30 44" src="https://user-images.githubusercontent.com/588616/31112666-4e709294-a815-11e7-998b-0470d8829c04.png">
<img width="217" alt="schermafbeelding 2017-10-03 om 08 30 37" src="https://user-images.githubusercontent.com/588616/31112665-4e47ee16-a815-11e7-80b0-09dfcb

[2017-10-05 14:41] penicylline commented on #2256
Lets me on it.

[2017-10-05 15:38] carakas commented on #2256
@penicylline ok, if you have any questions feel free to ask me

[2017-10-06 08:05] jeroendesloovere opened #2294 "Layout for three dropdowns isn't the same"
## Type

- Enhancement

## Problem description

First dropdown has another layout then the other two.
<img width="591" alt="schermafbeelding 2017-10-06 om 09 52 49" src="https://user-images.githubusercontent.com/588616/31268652-a368af42-aa7d-11e7-81c8-1bc1c52e7c9e.png">

## Steps to reproduce

[2017-10-06 08:05] jeroendesloovere commented on #2294
@Katrienvh, are you willing to look at this?

[2017-10-06 20:38] #2256 closed

[2017-10-09 08:05] #2273 closed

[2017-10-09 08:06] #1974 closed

[2017-10-09 13:52] mitola commented on #1717
Could there be more description provided on this one ?

[2017-10-09 14:16] StijnVrolijk commented on #1717
@mitola there's quite a bit of visual difference between the UI of the installer and the UI of the backend

Take a look at https://demo.fork-cms.com/private if you haven't already.
[code]
You'll see it's visually much more pleasing. We need the installer to match this visual style. Nothing too fancy, just more in line with the backend UI.

[2017-10-10 06:52] Katrienvh commented on #2294
i will look at this

[2017-10-10 07:06] jeroendesloovere commented on #2294
@Katrienvh That's great! Thanks in advance.

[2017-10-12 09:51] wouterverstuyf opened #2316 "Search results on words less than 4 characters"
## Type

- Enhancement

## Problem description

If you have a page, product, blog... with (for example) the word "box", the item is not found by the search engine. The problem, like @carakas said, is that mysql ignores words with 3 or less characters.

## Steps to reproduce

Create a blog post with the title "box". Search on it...

## Expected behavior / Proposed solutions

It should be great to h

[2017-10-14 13:51] soumya-ranjan7 commented on #2260
Can I give it a try?

[2017-10-15 08:10] ohvitorino commented on #2260
@soumya-ranjan7 go ahead! If you need any help, just poke us through slack (forkcms.slack.com).

[2017-10-16 13:54] soumya-ranjan7 commented on #2260
@ohvitorino actually I am new to php, could you just tell me in brief as to what I am supposed to do?

[2017-10-16 15:47] tijsverkoyen commented on #2260
In my personal opinion. I don't think implementing a captcha will increase conversions, it is considered a conversion-killer. Also: in some countries double-opt in is a requirement.
Therefore I wouldn't include this in the core-implementation.

[2017-10-17 14:34] Katrienvh opened #2324 "Copy Location widgets when copy pages to other languages"
## Type

- Enhancement

## Problem description

if you run /pages/copy?from=en&to=nl for example, it will copy alle the pages with content, content blocks, ...
It should be very nice if the location widgets would also be copied. I think most of the time u use the location widget the location won't change when the language of the location changes.

[2017-10-17 15:46] carakas commented on #2266
I can't reproduce it here
This is what it looks like here when I add a new one
<img width="599" alt="screen shot 2017-10-17 at 17 45 38" src="https://user-images.githubusercontent.com/3634654/31674787-02e79012-b363-11e7-9d1b-571a3a5fa409.png">

[2017-10-17 15:56] carakas commented on #2316
since it is new functionality, can you base your branch on `5.1.0-dev`

[2017-10-18 13:08] #2294 closed

[2017-10-18 13:47] jeroendesloovere commented on #915
I've created a "Sitemap generator" that is easy to used and integrate.
Minimal code required to add custom module data to the sitemap.
https://github.com/forkcms/forkcms/pull/2329

[2017-10-18 13:59] carakas commented on #915
At this moment we are trying to implement this, we are working on two different implementations each with their benefits, if you have time we would appreciate it if you would take a look at them
- https://github.com/forkcms/forkcms/pull/2318
- https://github.com/forkcms/forkcms/pull/2329

[2017-10-19 12:30] jeroendesloovere commented on #2098
https://github.com/alexdebril/rss-atom-bundle seems indeed like a nice one!
It uses `providers`.
So we can for example create a `.../Blog/Provider/BlogRssProvider.php`.

[2017-10-19 12:35] tijsverkoyen commented on #2098
I don't agree at all. A module should be responsible for its own feeds, not a global RSS-feed.

[2017-10-19 15:14] #2316 closed

[2017-10-30 04:27] ProDigySML opened #2341 "Stored Cross-site Scripting (XSS)"
## Type

- Non critical bug

## Problem description

A user who has permission to write to a page can arbitrarily execute javascript.

## Steps to reproduce

1. Log in as a user who can write to a page
2. Go to the pages section and select a page to write to
3. Add in a new block and choose editor. A popup should appear.
4. Click on source and add in the following code:
`<p><img alt="" onerror="al

[2017-10-30 08:42] carakas commented on #2341
The people who have access to the backend are the owners of that site. It should be possible to add for instance js in the editor for external widgets etc, so this is not a bug it is a feature

[2017-10-30 08:42] #2341 closed

[2017-10-31 14:45] jeroendesloovere commented on #2098
@tijsverkoyen nobody needs a global RSS-feed indeed... Don't know why you say this...

Some more information about RSS Atom bundle:
* There is a controller that can generate a RSS feed.
* You just have to throw a `provider` at it, that will automatically get your *items* to generate *rss feed*.
[code]

** Provider **
In the `getFeedContent()` method you must return a `FeedInterface`.

Documentatio

[2017-11-06 13:33] #2120 closed

[2017-11-06 13:35] jeroendesloovere opened #2350 "Social Media Links module"
## Type

- Feature

## Problem description

Wouldn't it be nice if there was a module that allowed you to add "links" to "social media channels".
Almost every website has links to "Facebook", "Twitter",  "Instagram",  ... But if the link changes or a (new) social media channel needs to be added/removed that is something that a developer needs to adjust...

Creating a module that allows you to add

[2017-11-15 10:40] jeroendesloovere opened #2359 "Frontend js: statistics ":external" bug?"
## Type

- Non critical bug

## Problem description

It seems that `:external` excludes `mailto` `<a href` buttons?
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Js/frontend.js#L529

While the lines below want to set `mailto` click events...
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Js/frontend.js#L546

## Proposed solutions

I guess the wanted behavior is

[2017-11-22 13:13] wouterverstuyf commented on #2350
Good idea!
Is a seperate module required for this? I think the location module could be upgraded with this.

I've created this feature in (a copy of) the location module, and added a checkbox to set a location as a "main contact" (= the company main address and other info).
The widgets "sociallinks" get the social media links from the main contact and put them with the correct icons.

![schermafbe

[2017-11-22 13:17] wouterverstuyf opened #2364 "Blog : Save as draft"
## Type

- Critical bug

## Problem description

- When you edit an existing blog article and save it as a draft, the post will be deleted.
- When you delete a draft item the original (published) item also gets deleted.

## Steps to reproduce

- Create a new blog article and save it
- Edit the new created blog article and save it as a draft
- The article is deleted

## Expected behavior / Proposed

[2017-11-22 13:33] jeroendesloovere commented on #2350
My initial thought is/was to create a separate module for this...

But if you want we can create an association between "SocialMediaLinks" and "Locations" module, that can even improve the way you currently work in the location module that you display.

Example:
1 SocialMediaLink:
- Social media channel (dropdown); facebook, twitter, linkedin, ...
- URL

1 Location:
- Title
- ...
- Collection of S

[2017-11-22 13:36] jeroendesloovere commented on #2350
But like I said, i suggest a separate module.

[2017-11-24 10:50] tijsverkoyen opened #2369 "WIP: Entities"
## Type

- Enhancement

## Problem description

Just an issue to track some todo's for when we have finished converting the modules to use entities

## Todo's

* [ ] Check if all fixtures use entities where possible
* [ ] `Meta` entity should be stored in table `Meta` instead of `meta`
* [ ] Once there is a `User` entity, all relevant modules should be updated to use this instead of a integer refe

[2017-11-24 13:05] jeroendesloovere commented on #2369
@tijsverkoyen, we should also create a `ModuleExtra` entity.

[2017-11-28 12:43] jonasdekeukelaere opened #2370 "Installer 6.0.0-dev"
## Type
- Critical bug

## Problem description
When installing Fork in the 6.0.0-dev branch, something goes wrong with the cache clearing. See https://d1ro8r1rbfn3jf.cloudfront.net/ms_159376/zN3pGEI4WjKd5WG81DM6UOcuqZR20Y/You%2Bhave%2Brequested%2Ba%2Bnon-existent%2Bservice%2B%2522cache.search%2522.%2B%2528500%2BInternal%2BServer%2BError%2529%2B2017-11-28%2B11-57-20.png?Expires=1511959356&Signature

[2017-11-29 15:11] jeroendesloovere opened #2373 "ImageType and FileType don't work in Fork CMS 5.0.7"
## Type

- Non critical bug

## Problem description

Since the symfony/symfony update from v3.3.6 to 3.3.13, in Fork CMS 5.0.7, ImageType (and probably FileType) aren't working anymore. When saving, the error `Compound forms expect an array or NULL on submission.` is thrown.

[2017-11-29 15:49] jeroendesloovere commented on #2373
Seems like `stdClass` can't be used anymore? Only array and null.
But don't how how to fix it for the moment.

[2017-11-30 08:15] carakas commented on #2373
the transformer should take care of switching the type
Unless symfony broke some things within a minor version it would seem strange to me that that is the issue

[2017-12-01 09:23] jeroendesloovere opened #2375 "Twig filters (replacing deprecated spoon twig filters)"
## Type

- Enhancement
- Feature

## Problem description

We need to remove the deprecated Spoon twig filters.

## To do

- [ ] Replace the `truncate` method (I've discovered a bug in our method: using separate words doesn't currently work).
- [ ] Replace `spoondate` by something else
- [ ] Replace `formatdate` by something else
- [ ] Replace `formattime` by something else
- [ ] Replace `timeago`

[2017-12-07 16:48] carakas commented on #2373
@jeroendesloovere was this fixed with #2374  ?

[2017-12-07 16:48] #2364 closed

[2017-12-07 16:50] jacob-v-dam commented on #2350
I've created a module which enables a user to set the credentials like @wouterverstuyf. But you can add a formbuilder item which creates custom widgets which show a form. Like:

![image](https://user-images.githubusercontent.com/310526/33727019-1262d416-db77-11e7-94c2-b3ed74341113.png)

[2017-12-11 09:06] carakas commented on #2350
that module looks nice :)

[2017-12-11 09:10] wouterverstuyf commented on #2350
Another handy feature to make it complete, is the possibility to add opening hours to a contact, and display them as a widget. I'm testing this now:

![schermafbeelding 2017-12-11 om 10 08 08](https://user-images.githubusercontent.com/4540274/33823427-669fd4d4-de5b-11e7-8633-00d52986efe3.png)

![schermafbeelding 2017-12-11 om 10 09 55](https://user-images.githubusercontent.com/4540274/33823444-794

[2017-12-11 09:11] jacob-v-dam commented on #2350
Well we could extend this module with that feature.

[2017-12-11 09:25] jeroendesloovere commented on #2373
@carakas no.

[2017-12-11 09:30] carakas commented on #2350
we could, you can always create a PR for it and we can take a look then if it would be a good extension. It would be even nicer if you used symfony form and doctrine. We are currently working in the 6.0.0-dev branch to switch everything internally to doctrine.

[2017-12-11 09:59] jacob-v-dam commented on #2350
My module is fully doctrine, In created a repository:
https://github.com/jacob-van-dam-ict/fork-cms-contact

[2017-12-11 10:11] carakas commented on #2350
I would do some things slightly different but it certainly looks like a good start. From what I can see you can only have one location now. The current location module can have more than one location, but I could be wrong.

[2017-12-13 18:59] myspulin opened #2381 "Symfony 3.4 MailmotorExtension problem"
## Type
Critical bug

## Description
After composer update to Symfony 3.4 I get this error:

You cannot add compiler pass "Backend\Modules\Mailmotor\DependencyInjection\Compiler\MailmotorCompilerPass" from extension "Backend\Modules\Mailmotor\DependencyInjection\MailmotorExtension". Compiler passes must be registered before the container is compiled.

There is a dependency injection error when try

[2017-12-21 16:06] carakas commented on #2370
on it

[2017-12-21 16:08] carakas commented on #2373
@jeroendesloovere can you send me an example on slack of code that triggers this error

[2017-12-21 16:30] carakas commented on #2370
fixed in https://github.com/forkcms/forkcms/commit/7655189efff17486bd54cd40eea9e19c6c5a3c27

[2017-12-21 16:30] #2370 closed

[2017-12-29 13:41] mathiashelin opened #2388 "External url's validated incorrectly in a Docker"
## Type

- Non critical bug

## Problem description

When using `addJS()`, it checks the url with `$this->get(fork.validator.url)->isExternalUrl($file)`, which has `checkDNS` set on `true`. Adding an external js file returns `false` when working in a local Docker environment, while it should return true.

## Steps to reproduce

Try using something like `$this->addJS('https://github.com')`.

## Exp

[2018-01-09 15:53] jeroendesloovere commented on #2373
@carakas every module that has ImageType and FileType...
Any news on a fix?

[2018-01-09 15:55] cirykpopeye commented on #2373
I'm having the same issue with my modules using the ImageType from Fork. Form errors are throwing 'This value is not valid' for the image field.

[2018-01-09 16:00] carakas commented on #2373
I was on vacation for 2 weeks :) I'll probably have time for it tomorrow and I'll release 5.0.8 afterwards

[2018-01-10 10:42] jeroendesloovere opened #2394 "Media Library: new SEO feature to improve image-URL's"
## Type

- Feature

## Problem description

Sometimes the client uploads lots of images with a filename that has "no-SEO"-value at all.

## Expected behavior / Proposed solutions

It would be nice if there was a new action, that shows a table with all images and their URL. This table should have a column "URL" and "title", where you can adjust it using inline text editing.

Note: When the url has

[2018-01-12 20:50] GhaziTriki opened #2396 "UPGRADE_5.0.md needs some improvements"
## Type

- Enhancement

## Problem description

A piece of information in `UPGRADE_5.0.md` is wrong.

## Steps to reproduce

- https://github.com/forkcms/forkcms/blob/master/UPGRADE_5.0.md#backendcoreenginebaseconfig-getpossibleajaxactions-and-backendcoreenginebaseconfig-getpossibleactions-are-removed : `getPossibleAJAXActions` and `getPossibleActions` are not removed from `Config.php`
- https://g

[2018-01-18 08:07] jeroendesloovere opened #2399 "Refactoring towards folder structure of Symfony 4.*"
# Type

- Enhancement

## Problem description

Refactor to support Symfony 4.*. Currently we are using Symfony 3.3.*. (edited)

## Steps to reproduce

Follow the [symfony 4.0 upgrade guide](https://github.com/symfony/symfony/blob/master/UPGRADE-4.0.md).

## Soft Namespace changes (file movements, namespace changes, class name changes):

= Trying to use `"App\\": "src",` and get rid of:
[code]
And

[2018-01-22 20:56] kurtseifried commented on #2341
Please note I assigned CVE-2017-1000468 for this issue, but misunderstood the privilege level required (my brain saw "user" and misparsed as normal non admin user), this cve has now been REJECT'ed, my apologies for the false positive.

[2018-01-22 22:58] carakas commented on #2341
Thanks for letting us know

[2018-01-24 13:55] #2266 closed

[2018-01-24 13:59] carakas commented on #2396
fixed

[2018-01-24 13:59] #2396 closed

[2018-01-25 09:06] carakas commented on #2399
We are currently using symfony 3.3 not 3.2
And fork 5.1 will be symfony 3.4 and if you don't have any deprecation warnings there we kan flip the switch, most deprecation warnings will be fixed in 5.1 already

[2018-01-25 09:08] carakas opened #2403 "Bootstrap 4"
## Type

- Feature

## Problem description

We should switch from bootstrap 3 to bootstrap 4

- [x] backend
- [ ] fork theme

[2018-01-25 13:23] #2388 closed

[2018-01-25 13:31] #1717 closed

[2018-01-25 16:37] #2381 closed

[2018-01-25 17:41] #2373 closed

[2018-01-25 18:18] carakas opened #2408 "CKFinder files are unfindable. Because we are now using MediaLibrary instead."
## Type

- Non critical bug

## Problem description

CK FInder is deprecated and will be removed in Fork 6.0.0
Since we are using the media library now it can be hard to find those files.
They are actually still accessible since ckfinder hasn't been removed yet but you need to know the url

`/src/Backend/Core/Js/ckfinder/ckfinder.html`

[2018-01-26 11:03] jeroendesloovere opened #2410 "CKEditor + Media Library movies"
## Type

- Feature

## Problem description

Since Fork CMS 5.1.0, the CKFinder has been dropped in favor of using our MediaLibrary in CKEditor.
It would be nice to add movies from the media library, right into the CKEditor.

## Solutions, anybody?

Does anybody has suggestions on how we can achieve this?

[2018-01-26 12:37] bramds opened #2411 "CKEditor: Extra image options when inserting MediaItem from MediaLibrary in editor"
## Type

- Feature

## Problem description

Since we have dropped ckfinder, we now include images in the editor through the media libray.  Now we can set the path and the alt text of the image.  In some cases it could be usefull that you re able to also set:
- image height and width ( recalculated like in ckfinder )
- class for the image

This way we can control the image more in the frontend. ( s

[2018-01-29 19:47] ohvitorino commented on #2410
I had a look into it and I think we can manipulate the `oembed` plugin and add a button to open a dialog like the one used to include links and images with the media gallery.

[2018-01-29 19:59] ohvitorino commented on #2411
I'm not sure I agree with the distorted images comment. If in css you define only the width or the height (not both) you won't get any distortion or I'm I wrong?

[2018-01-30 07:12] bramds commented on #2411
I is true that this will work with only height or width.  Downside of only using the css-classes is also that you re limited to the classes you have made with width and height.  End-user is not free to deterime his own dimensions.

[2018-01-30 07:51] ohvitorino commented on #2411
@bramds and in that case aren't we allowing the user to break the design in case he uploads an image that is too big, too small, too wide or too high?

[2018-01-30 11:03] bramds commented on #2411
@ohvitorino maybe, but it gives more flexibility to create matching lay-outs too.  With a bit of guidance you could make your end-users aware of how to use it?  However I do think we agree, there needs to be some way to controle the dimensions of the image.

[2018-01-30 14:28] carakas commented on #2411
@bramds maybe only allow the width to be set and keep the height on auto?

[2018-01-30 14:29] carakas commented on #2411
you can do the cropping in the media library

[2018-01-30 14:31] jeroendesloovere commented on #2411
**How it now works**
1. You upload an image in the editor (image gets uploaded to media library).
1. The website uses the "source"... Too big, heavy image, ...

**How it should work in the future**
1. Uploading is the same...
1. We use variables [MediaLibraryItem:1], then the frontend can use another image filter set instead of "source". A smaller one, f.e.: maximum 1000px x 1000px dimensions...

[2018-01-30 14:50] carakas commented on #2411
I disagree @jeroendesloovere  since that would require the dev to add every possible filter that the customer want, not scalable enough

[2018-01-30 15:22] StijnVrolijk commented on #2411
imagine has dynamic size filters, for example `|imagine_filter('my_thumbnail_filter', { thumbnail: { size: [64, 64] }})`.

I'll try and see if I can get CKEditor to make this renderable

[2018-01-30 15:28] jeroendesloovere commented on #2411
Like @StijnVrolijk says, if we program [MediaLibraryItem:10:500x100], the `500x100` can be used.

[2018-01-30 15:46] StijnVrolijk commented on #2411
@jeroendesloovere I tested that. Problem with that is everything in CKEditor gets parsed as a HTML file. If you put `{{ asset('myimage.jpg')|imagine_filter('my_thumbnail_filter', { thumbnail: { size: [64, 64] }}) }}` in CKEditor it will not get parsed.

If you somehow resize the image on the fly the URL you receive is a cached URL so if that expires you're shit out of luck again.

I've discussed s

[2018-02-01 12:19] bramds commented on #2411
Just to keep this updated: couldnt we just implement the css class + height and width?  At the end it is the end-user who might need it, an extra feature is always good to have and with some plain css we can prevent it from breaking the layout...

[2018-02-01 12:24] ohvitorino commented on #2411
Well, it's not always a case that an extra feature is a good thing 🙂 But in this case it seems to me that maybe the user should have the possibility to control the image's size when inserting it the editor, either by using css or the dimensions. I'll make a PR when I have the time, and then we'll see if it gets merged.