[2015-03-16 07:54] bart-webleads commented on #1131
Queries are not slow. Loading data in grid is slow...

[2015-03-16 16:26] glenncoppens commented on #1131
It's like Bart says, queries aren't slow. Probably the method modifiers are (and I guess especially the date modifier).

I created [this gist](https://gist.github.com/glenncoppens/b4f15218dbdc11148333) to use the Intl extension as a custom modifier. It was the result of [this thread/issue](https://github.com/forkcms/forkcms/issues/1056).

Maybe it helps :)

[2015-03-16 16:26] WouterSioen commented on #1131
Has somebody profiled this? It's the only way to really know the bottlenecks.

[2015-03-17 11:50] megasnort commented on #1131
I'll give Blackfire a spin.

[2015-03-17 12:01] WouterSioen commented on #1131
Great!

Op dinsdag 17 maart 2015 heeft Stef Bastiaansen <notifications@github.com>
het volgende geschreven:

[2015-03-17 16:44] jeroendesloovere opened #1132 "SqlFormatter not found"
When installing the latest Fork CMS:
[code]

[2015-03-17 16:44] WouterSioen commented on #1132
did you do a composer install with the --no-dev flag?

[2015-03-18 08:19] jeroendesloovere commented on #1132
Debugging was enabled in my .htaccess. Removing this solved the problem.

[2015-03-18 08:19] #1132 closed

[2015-03-18 08:28] WouterSioen commented on #1132
When setting debug on, you should also install dev dependencies, thus don't add the `--no-dev` flag.

[2015-03-18 08:45] jeroendesloovere commented on #1132
**Problem**

Debugging was enabled in my .htaccess.
[code]

**Solution 1: debugging disabled**

Removing debugging from ```.htaccess``` solved the problem.

**Solution 2: with debugging enabled**

Add debugging in your .htaccess and execute ```composer install``` . Then the dev dependencies are loaded in.

**Solution 3: with debugging enabled**
Moving ```sql-formatter``` in ```composer.json``` fro

[2015-03-18 12:09] megasnort commented on #1131
The getTimeAgo-modifier is indeed the culprit. Every times it is executed the locale-file (en.php) is parsed again. The bigger the locale, the bigger the locale-file and the bigger the number of times it is parsed. It slows down with a power of two.

I created a function getDateTime (instead of getTimeAgo) in DataGridFunctions.php, which does nothing more then

```return date('Y-m-d H:i:s', $times

[2015-03-18 12:11] WouterSioen commented on #1131
Why is the locale file parsed every time? Isn't it easier to use the cached
locale?

Op woensdag 18 maart 2015 heeft Stef Bastiaansen <notifications@github.com>
het volgende geschreven:

[2015-03-18 12:35] megasnort commented on #1131
Found it. In the Spoonlibrary, in the getTimeAgo I replaced this line

```require 'spoon/locale/data/' . $language . '.php';```

with

```require_once 'spoon/locale/data/' . $language . '.php';```

Which gives these results.

![schermafbeelding 2015-03-18 om 13 33 25](https://cloud.githubusercontent.com/assets/736827/6708742/6a82a5aa-cd73-11e4-886b-b8f05d81718c.png)

[2015-03-18 13:34] WouterSioen commented on #1131
You should do the pull request to https://github.com/forkcms/library, this is the forked version we use.

[2015-03-18 14:14] jeroendesloovere opened #1136 "Replace SPOON_DEBUG_EMAIL by $container->getParameter('fork.debug_email')"

[2015-03-18 14:18] jeroendesloovere opened #1137 "Replace SPOON_DEBUG_MESSAGE by $container->getParameter('fork.debug_message')"

[2015-03-18 14:20] jeroendesloovere opened #1138 "Replace SPOON_CHARSET by $container->getParameter('kernel.charset')"

[2015-03-18 14:52] #1137 closed

[2015-03-19 08:43] jeroendesloovere opened #1141 "Refactor Spoon Debugging out of API/Backend/Frontend Init.php"
Check and see in ```src/API/V1/Init.php``` if we can remove everything related to Spoon debugging in favor for Monolog.

[2015-03-19 08:44] WouterSioen commented on #1141
also src/Backend/Init.php and src/Frontend/Init.php

[2015-03-19 10:38] jeroendesloovere opened #1142 "Refactor static function outputXML and outputJSON in API"
## Problem
When replacing SPOON_CHARSET by $container->getParameter('kernel.charset'),
Issue: #1138
PR: #1140
We saw that we had to use BackendModel just for getting the container in a static function.

## Solution from @WouterSioen
We can remove that ```use Backend\Core\Engine\Model as BackendModel``` again if we change these static functions to normal functions if we use ```$this->output in outp

[2015-03-19 10:55] WouterSioen commented on #1142
The static isAuthorized and isValidRequestMethod methods are kind of a deal breaker.

I'd try to put the api in the container, so you could do `BackendModel::get('api')->isAuthorized()`, instead off `BaseApi::isAuthorized`. (and the same for isValidRequestMethod).

This way, all methods that call self::output could be made non-static!

[2015-03-24 05:47] markseddon opened #1145 "Cloud Filesystem Integration"
ForkCMS looks pretty good but there's one killer feature that we need, S3 integration.

The main limitation to this seems to be the integration with CKFinder which does not, in of itself, support S3 without a connector. There is a connector:

https://github.com/colonelchlorine/ckfinder-amazon-s3

but it's not very well maintained. We've got some experience with [Redactor](http://imperavi.com/redac

[2015-03-24 11:11] WouterSioen commented on #1145
I like the layout and ease of use of this redactor editor, and it looks like it's extensible enough to provide all the functionality we use. I'd like to see an integration before putting money in something like this though.

I'm also not the only person to decide wether we'll want to change this editor. @forkcms/core-contributors what do you think?

[2015-03-25 11:12] tijsverkoyen commented on #1145
I agree with @WouterSioen

[2015-03-26 09:06] WouterSioen opened #1147 "blockIsHtml variable should be named blockIsEditor"
This would reflect the difference between true and false more. Modules and widgets mostly return html too, so isHtml isn't really a good name.

[2015-03-26 09:07] WouterSioen commented on #1147
It could be good to first add the blockIsEditor variable, and remove the blockIsHTML variable only in a major release, to give people time to upgrade themes.

[2015-03-27 07:48] WouterSioen opened #1149 "Deprecated calls used in the campaignmonitor integration."
Hi there! My name's Mercer and I'm the integrations specialist at Campaign Monitor. I recently ran into some trouble with one of my customers here having to do with adding a client in via your integration! In Campaign Monitor we have two different states that clients under the main account can be in: they can either send for themselves, or the main account can send for them. In the event that some

[2015-03-27 07:50] WouterSioen commented on #1149
As a reference, this is our campaignmonitor library: https://github.com/forkcms/forkcms/blob/master/library/external/campaignmonitor.php

[2015-03-27 09:01] davelens commented on #1149
All of that code is relying on the state of the CM API of early 2011, so I'm not surprised. ^^
Ideally you'd want to use the official @campaignmonitor [PHP wrapper](http://campaignmonitor.github.io/createsend-php/)

[2015-03-27 12:24] WouterSioen commented on #1131
I've updated spoon in the master branch, this will be available in the next release.

[2015-03-27 12:24] #1131 closed

[2015-03-27 18:46] mercersmith commented on #1149
Hi there, you asked that I provide a bit more information about what's going on with this. Unfortunately, as it was a client reporting the issue that's a bit tricky, but I suspect that the issue is underlying with @davelens' point above. Connecting the Client that is sending for themselves is where the 400 is popping, so looking into authentication there could be good.

[2015-03-28 12:34] WouterSioen commented on #1149
Ok, we'll look into migrating towards the official PHP wrapper.

[2015-03-28 13:11] WouterSioen commented on #1149
I guess we should wait for the bootstrap integration to be merged, to fix this, since it will need some changes in the backend (especially the mailmotor/settings action). Migrating won't be that hard though. Authenticating using an API key looks not that hard.

[2015-03-29 14:27] #550 closed

[2015-03-30 12:05] vytenizs opened #1152 "Bug: Spoon Date crashes when getTimeAgo is called"
Hello. I have used 3.10 branch for my project and when i try to enter "Pages" i get this error: "ContextErrorException: Notice: Undefined index: time in /media/storage/workstation/servers/http/www/vytsci.lt/vendor/spoon/library/spoon/date/date.php line 125". Anyone knows about this, any proper solutions?

[2015-03-30 12:10] bart-webleads commented on #1152
See: https://github.com/forkcms/library/commit/9d21f2ae912efeb5b7ab6f2702d407c9894e4707

[2015-03-30 12:24] WouterSioen commented on #1152
A PR with a fix is ready: https://github.com/forkcms/library/pull/17

[2015-03-30 12:54] WouterSioen commented on #1152
Fixed in both the master and the 3.10 branch

[2015-03-30 12:54] #1152 closed

[2015-03-30 12:56] vytenizs commented on #1152
Thanks.

[2015-03-30 16:23] ikoene opened #1153 "createURLForAction encoding issue"
When using BackendModel::createURLForAction (L:196) the ampersand (&) to concat parameters is encoded to &amp ;

    $queryString .= '&amp;' . $key . '=' . (($urlencode) ? urlencode($value) : $value);

The returned url can therefore break the parameters.

For example in the Profiles module, if you search for an e-mail (test@test.be) and then delete it with the mass action, this is the resulting ur

[2015-03-31 15:04] jeroendesloovere opened #1154 "Hooks not working locally"
## Problem

Note: only on **localhost** they are not working
Hooks are being added to the table ```hooks_queue``` with status ```queued``` and are not executed.

## Manually execute hooks

When manually visiting ```http://domainname.tld/backend/cronjob?module=Core&action=ProcessQueuedHooks``` in your browser the hooks are getting executed.

[2015-03-31 15:16] WouterSioen commented on #1154
I believe you should add this as a cronjob to execute your hooks.

I'm refactoring this thing to use the Symfony Event Dispatcher though (see #1125), so I don't think too much effort should be put in this.

[2015-03-31 15:23] jeroendesloovere commented on #1154
@WouterSioen
This thing is so powerful that we have build modules to rely on this functionality.
So for me, this has **TOP PRIORITY**

[2015-03-31 15:34] WouterSioen commented on #1154
well, I guess you can just install the cronjob to run every minute?

[2015-03-31 15:57] #1154 closed

[2015-04-06 00:22] #764 closed

[2015-04-07 08:31] jonasdekeukelaere opened #1157 "Twitter twice in backend settings"
Twitter settings textfield is added twice on the settings page

https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/Settings/Actions/Index.php

[2015-04-08 19:05] GhaziTriki opened #1160 "MailingBodyBuilder class name does not match the file name"
The file is named MailingBodybuilder but the class MailingBodyBuilder. Should the file be renamed?

[2015-04-13 11:23] #1157 closed

[2015-04-16 09:29] jeroendesloovere opened #1164 "The New Mailmotor"
Hi,

At the [Last Fork CMS Meetup](http://www.meetup.com/Fork-CMS/events/220501469/) I talked to some Fork CMS developers (@diewy, @thijzer, @ikoene) about refactoring the Mailmotor to support any Mail engine available.

Since I already tried to [refactor mailmotor to support multiple mail engines like f.e. Mailchimp, next to the already integrated CampaignMonitor](https://github.com/siesqo/fork-c

[2015-04-16 14:14] jessedobbelaere commented on #1164
I like the idea. I never used the MailMotor module because I only had experience with Mailchimp.

A stripped version of Mailmotor would be great, with multiple services such as Mailchimp & Campaign Monitor and the possibility to easily add another service in the future. Features like a subscribe/unsubscribe form are essential (maybe offer 2-3 different layouts: an e-mail only form, name and e-mail

[2015-04-16 14:25] jeroendesloovere commented on #1164
@jessedobbelaere Can you be a bit more specific about what you want in the backend widgets?
So I can add your suggestions to the features overview.

[2015-04-16 14:41] jessedobbelaere commented on #1164
Just the basics:

* A backend forkcms Dashboard widget with a few metrics (like the [old Mailmotor module had](https://cloud.githubusercontent.com/assets/4991088/6573083/bfd49c1e-c717-11e4-86d1-66b285109b45.png)).
* A mailmotor dashboard with some graphs and stats for the campaign (a page like the analytics module has). I like the [List Growth chart](https://i.imgur.com/mlqfJMY.png). Other things:

[2015-04-16 15:51] jeroendesloovere commented on #1164
@jessedobbelaere
Your Mailmotor Dashboard request is something that is very custom per mail engine, f.e.: other data and  variable names. Even if we build a Shell for this, some other mail engines will not support or respond the same type of data. I suggest we look at this when the core is ready.

[2015-04-16 21:44] GhaziTriki opened #1165 "Move FrontendModel and BackendModel shared methods to BaseModel"
I have been checking FrontendModel and BackendModel classes, and I have found that some methods are just duplicated instead of being directly implemented to BaseModel. Is there any reason preventing those methods to be in the BaseModel class? The general rule is that the less duplicate we have the less duplicated bugs we have the code maintainability will increase.

The concerned methods are: addN

[2015-04-20 07:54] WouterSioen commented on #1165
It would be great to have some of these in a BaseModel class!

[2015-04-20 13:57] GhaziTriki commented on #1165
I will handle this and propose some pull requests to remove as much duplicate code as possible.

[2015-04-20 14:03] WouterSioen commented on #1165
Great to hear!

[2015-04-20 14:03] WouterSioen commented on #1160
I guess renaming the file should to MailingBodyBuilder would be the best solution.

[2015-04-20 14:22] GhaziTriki commented on #1160
I will handle this.

[2015-04-20 14:52] WouterSioen commented on #1160
:+1:

[2015-04-20 16:11] GhaziTriki commented on #1165
A quick question. There is a lot of inheritance behaviour to add caused but duplicate code. Should the new classes be place in src/Common?

[2015-04-20 17:05] GhaziTriki commented on #1165
After a first commit it looks like that now inhanx@305bd5a in https://github.com/inhanx/forkcms/tree/better-inheritance

[2015-04-21 19:31] #1160 closed

[2015-04-21 19:34] GhaziTriki commented on #1164
Why not creating a common API like what have been for https://github.com/thephpleague/omnipay then create depending libraries? It is a huge work to do but worth.

[2015-04-21 19:40] GhaziTriki opened #1168 "Update module translations in a single click"
I am suggesting a new feature, update a module translations in a single click, the locale.xml file would be found automatically. It would help a lot of a module is updated, some labels are no more used and others are added.

[2015-04-22 08:36] jessedobbelaere commented on #1164
Yes, some sort of adapter pattern so you can translate the interface of the uniform (mailmotor) functions to the interface of the mailchimp & campaign monitor API libraries (and make it easy to add a new service library). So you can use the well-known API libraries but translate them all to a uniform interface.

@jeroendesloovere You're right, but I mean to include only the most basic metrics that

[2015-04-22 16:24] GhaziTriki opened #1169 "Use json_encode/json_decode instead of serialize/unserialize for better database portablity"
I have seen that a lot of code portions ```serialize``` and ```unserialize``` are used to store database values. Why don't use ```json_encode``` and ```json_decode``` instead?

A database should always be portable and not dependant on the coding language. The programmer has to adapt himself to the database, not the code has to impose his philosophy to the database.

[2015-04-22 16:27] GhaziTriki opened #1170 "Move tables engine to InnoDB"
I have come to an issue where I have business process flow that needs to use database transactions to maintain the database integrity. I have figured out that all tables are using MyISAM engine. Isn't it better to move all of them to InnoDB?

[2015-04-22 21:14] WouterSioen commented on #1170
We use MyISAM to be able to use full text search in the search module. I guess it shouldn't be a problem to use InnoDB for other tables though.

[2015-04-22 21:15] WouterSioen commented on #1169
I can't agree more to this!

[2015-04-22 21:34] GhaziTriki commented on #1170
Along with the general phasing out of MyISAM, InnoDB full-text search (FTS) is finally available in MySQL 5.6.4 release.

http://dev.mysql.com/doc/refman/5.6/en/innodb-table-and-index.html#innodb-fulltext-index

[2015-04-22 21:40] GhaziTriki commented on #1169
Users are free to create a third party application (Java or Ruby daemon as example) to process database values. What will happen to that case? I am suggesting this because we are working on a project that took big proportions.

[2015-04-23 07:12] WouterSioen commented on #1170
I don't think we can force users to use the latest MySQL version. Most Fork users have shared hosting and can't choose to upgrade themselves.

[2015-04-23 07:14] WouterSioen commented on #1169
This should not cause problems with Fork, as long as no invalid data will be created (like pages without meta-data, blogposts without category,...)

[2015-04-23 09:20] jeroendesloovere commented on #1164
Hi @GhaziTriki @jessedobbelaere,
I've started to create ```[mailmotor](https://github.com/mailmotor)``` which can hook any mail engine. The functionality will be similar to Omnipay, but for mail engines instead.

[2015-04-27 06:55] vytenizs commented on #1027
Hi, how things are going here? :) Need any help?

[2015-04-27 07:12] WouterSioen commented on #1027
It's merged in the 3.10 branch, and @jessedobbelaere is looking to fix some formbuilder issues.

[2015-04-27 12:29] jeroendesloovere commented on #1168
:+1:

[2015-04-28 20:27] jeroendesloovere opened #1171 "Doctrine: forget $language, here is Translatable"
When Doctrine is integrated, maby we can see if we can integrate multi-language in a more advanced way using Translatable, [see this Category Entity example](https://github.com/Atlantic18/DoctrineExtensions/blob/master/example/app/Entity/Category.php)

[2015-04-29 06:57] WouterSioen commented on #1171
I've used it in real life projects™ and it's not 100% documented how you can get it to work, but once it works, it's pretty good :)

[2015-04-29 15:48] carakas opened #1172 "Check if all the languages selected at install are available in Intl"
Currently there is no check in the installer to see if all the selected languages for fork are also installed on Intl
This can i.e. cause 500 errors when trying to add a location with the location module
[code]

[2015-04-29 15:53] WouterSioen commented on #1172
The http://sg.php.net/manual/en/function.extension-loaded.php method could probably be used to check this.

[2015-04-30 15:21] jeroendesloovere opened #1173 "Analytics module <-> Google not working anymore since 20 april"
**Problem**

Google has disabled connections from deprecated Google Apps APIs, since 20 april.
So it is impossible to connect the Analytics module using Google API Console server key.
[More info Google gives you](https://support.google.com/a/answer/6201352)

**Solution**

We need to use the new Google API and AUTH 2.0

[2015-05-02 12:49] jacob-v-dam opened #1174 "Frontend input date field reformats date incorrect"
I created a custom form on the frontend with the following code:
[code]

On the frontend in the code the date is written as `02/05/2015` but jQuery changes it to `05/02/2015` which is wrong because today is `02/05/2015`. I can't find the problem, it happens since I updated from 3.8.7 to 3.9.1.

[2015-05-04 07:56] jeroendesloovere commented on #1173
Hi @annelyze,
I see that you have coded the cronjobs for this Analytics module.
Would you find some time to update this module for the latest Google API,
since the old Google API is deprecated.

[2015-05-05 08:29] jeroendesloovere opened #1175 "Backend Bug for User who logs out."
**Problem**

Steps to reproduce:
* Add a new user which has no rights for the **groups** nor **users** module.
* Click **Log out** at the top right button
* Log in as that new user.

Then you see the error.
![schermafbeelding 2015-05-05 om 10 28 32](https://cloud.githubusercontent.com/assets/588616/7469259/7fb75844-f311-11e4-92b7-0df4bc882e25.png)

**Solution**

Fixing the method which checks whic

[2015-05-05 08:42] jeroendesloovere commented on #1164
@WouterSioen What do you think about minifying the mailmotor to its basics, so it can be used by all external mail services?

[2015-05-05 08:43] WouterSioen commented on #1175
@Landerstraeten didn't you change something about this?

[2015-05-05 08:45] WouterSioen commented on #1164
I don't use the mailmotor module a lot, so I can't say if all features are used a lot.

I think you better ask more persons. @forkcms/core-contributors

[2015-05-05 09:01] Landerstraeten commented on #1175
@WouterSioen yes. Will check!

[2015-05-05 11:18] Landerstraeten commented on #1175
I don't think this is a bug. I created a new project with a new test user. This user only have permissions on the index action of the pages module. When I log out as god user, and try to log in as the test user, it automatically redirects to the index action of pages.
I recommend to give the group of the user at lease the rights to the default action. I this case, I gave the test user the right in

[2015-05-05 11:59] dubgeiser commented on #1164
Maintainability of the mailmotor is indeed becoming a nightmare, which comes as no surprise, given the fact that for Campaign Monitor, Mailchimp and the likes, this is their core business.  Delegating as much as we can back to those services is a good idea IMO.

I think something like the following would be a great start:
I'm reducing services to Campaign Monitor (CM) for easier typing ;-)

CMS ad

[2015-05-05 12:39] jeroendesloovere commented on #1175
@Landerstraeten
In my setup, the user has "index" permissions for the "pages" module.
![schermafbeelding 2015-05-05 om 14 37 18](https://cloud.githubusercontent.com/assets/588616/7472580/5110630a-f334-11e4-9e5d-9dea80e16cba.png)
![schermafbeelding 2015-05-05 om 14 37 08](https://cloud.githubusercontent.com/assets/588616/7472578/510bb530-f334-11e4-8143-581433a47d36.png)
![schermafbeelding 2015-05-0

[2015-05-05 14:08] jeroendesloovere commented on #408
And we also need to look into [Translatable](https://github.com/forkcms/forkcms/issues/1171)

[2015-05-05 15:33] Landerstraeten commented on #1175
This is the problem:
/private/en -> looks for the first allowed module -> users -> looks for the first allowed action -> Edit -> redirects to /private/en/Edit -> id is not set = not existing -> private/en/users/index?token=abc..&error=non-existing -> action (index) not allowed -> private/en/error?type=action-not-allowed&querystring ... -> displays the error You have insufficient rights for this ac

[2015-05-06 08:32] jeroendesloovere opened #1177 "New Core Functionality: Exporting titles/texts/locale"
**Example**

A customer wants another language on its website **and a copyrighter has to translate all texts**.
What we now have to do is copy/paste all titles and texts from **all modules** to a .doc document, so the copyrighter can give us a price offer.

**Problem**

Jeezus. That is a lot of time-consuming, especially on large website projects with plenty of modules and content.

**Solution**

[2015-05-06 14:36] #1114 closed

[2015-05-06 14:56] WouterSioen commented on #1164
We discussed this in our @forkcms/core-contributors meeting.

We agree on reworking the mailmotor with less features and a common interface to couple different mailing systems.

We'd like at least this functionality:

- Coupling
- Subscriptions (also unsubscribe)
- Field management (Not only email, also First name, last name, ...)
- (backend) Group management
- (backend) Dashboard with all mailing

[2015-05-06 14:57] WouterSioen commented on #1173
I'll rewrite this module.

[2015-05-06 15:01] WouterSioen commented on #1173
Note to self: only use cached data in the widget, don't fetch data in there.

[2015-05-06 15:13] #1147 closed

[2015-05-06 15:28] WouterSioen commented on #1177
That would be awesome. Implementation would be hard though, because of the meta tables. Feel free to give a proposition on how you would make a (generic) solutions for this.

And what kind of file would you import/export? We'd like a file structure that's rather decoupled from the data structure in Fork. This would make it easier to use this for a long time.

[2015-05-06 15:31] WouterSioen commented on #1175
If you give rights to one action of a module, always make sure it also works without extra parameters, since the CMS could redirect you to it.

It's possible to build a fix for this but it would require a lot of work for just a small problem.

[2015-05-06 15:32] WouterSioen commented on #1170
I'll close this because it can only be done with too new MySQL versions.

[2015-05-06 15:32] #1170 closed

[2015-05-06 15:32] WouterSioen commented on #1169
A pull request for this would be very welcome!

[2015-05-06 15:33] WouterSioen commented on #1174
Have you checked if your date format is set correctly in the backend (it's in the settings module).

[2015-05-06 15:34] WouterSioen commented on #1172
@carakas will you create a PR for this?

[2015-05-06 15:35] carakas commented on #1172
I will :) I'll try to do that this weekend

[2015-05-06 15:35] WouterSioen commented on #1171
It's mentioned in the original Translation issue, so this extra issue isn't needed anymore.

[2015-05-06 15:35] WouterSioen commented on #1168
That would be great! PR's are welcome any time ;)

[2015-05-06 15:36] WouterSioen commented on #1165
@ikoene will check your pull request soon!

[2015-05-06 15:36] #1153 closed

[2015-05-06 15:37] WouterSioen commented on #1149
This will be fixed with the upcoming version of the mailmotor module ( @jeroendesloovere )

[2015-05-06 15:37] GhaziTriki commented on #1169
Will do this.

[2015-05-06 15:38] WouterSioen commented on #1145
poke @markseddon have you looked into this?

[2015-05-06 16:12] MathiasDewelde commented on #1164
:+1:

[2015-05-06 16:40] #1136 closed

[2015-05-06 16:46] jacob-v-dam commented on #1174
Well the date field Doesn't respect the date/time settings of Fork CMS. It converts them to `d/m/Y`.

[2015-05-06 18:40] annelyze commented on #1173
No longer in the development business I'm afraid. Full confidence in Wouter to fix it swiftly and smoothly :+1:

[2015-05-06 20:12] GhaziTriki opened #1178 "Error when using search"
Hi,

I have the following SQL excpetion when I run a search:
[code]

Any idea? Is it only in my environment?

[2015-05-06 21:22] WouterSioen commented on #1178
is it possible that your bug report doesn't contain the error message itself?

[2015-05-06 21:22] WouterSioen commented on #1173
I'll try to do it asap!

[2015-05-07 01:07] GhaziTriki commented on #1178
Sorry I forgot the message

[code]

[2015-05-07 06:42] WouterSioen commented on #1178
Can you post your MySQL version and a dump of the table definition please?

[2015-05-07 08:14] GhaziTriki commented on #1178
Your question helped me to understand something I did. I have set the ```search_index``` table engine to InnoDB, now it is reverted to MyISAM it works. What is the explanation of this? (I know it is about indexes but need more details ). Is there any table that uses the indexing feature of MyISAM?

[2015-05-07 08:21] GhaziTriki opened #1179 "Search module shows hidden FAQ pages"
When doing a search, hidden pages are in the list of results. Then we click on of the results we get a 404 error page.

[2015-05-07 08:47] GhaziTriki commented on #1179
@WouterSioen Is this issue confirmed? Did you reproduce it?

[2015-05-07 08:47] #1138 closed

[2015-05-07 08:51] GhaziTriki opened #1180 "Campaign monitor subscribe form not working"
I have trying subscribe to campaign monitor newsletter with our account but I get the following exception ``` 500 Internal Server Error - CampaignMonitorException ```in line 738  of campaingmonitor.php

The $response in line 593 of campaingmonitor.php is FALSE.

I have tried calling the the API in the browser using our url below and it worked
http://api.createsend.com/api/v3/apikey.json?siteurl=MY

[2015-05-07 08:57] GhaziTriki commented on #1180
Another suggestion why not storing the API key in the backend instead of fetching it at every call?

[2015-05-07 09:22] sguse opened #1181 "No styles in backend after installation"
This is a continuation from [Fork Support Forum](http://www.fork-cms.com/community/forum/detail/styles-and-backgroundimages-only-in-debug-mode).

After installation i went to backend login and found many 404 Errors while loading the css-files from a non existent path e.g. this: `http://fork.local/src/Core/Layout/Css/imports/typography.css`.

In debug-mode the same style where loading from another

[2015-05-07 11:32] WouterSioen commented on #1178
You can see that the value field uses the FULLTEXT index here: https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/Search/Installer/Data/install.sql

[2015-05-07 11:33] WouterSioen commented on #1179
I didn't have time to test this right now, but when I look in the code, we're definitely filtering on hidden pages in the query (https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/Pages/Engine/Model.php#L124)

[2015-05-07 11:33] WouterSioen commented on #1180
I think the API can change from time to time.

[2015-05-07 11:33] #1178 closed

[2015-05-07 11:42] WouterSioen commented on #1181
We'll look into this. Thanks for the bug report.

[2015-05-07 12:25] GhaziTriki commented on #1179
Sorry, I correctly renamed this issue, it is about FAQ questions not about pages.

[2015-05-07 12:58] WouterSioen commented on #1179
There's also a check in there to avoid hidden faq questions to be shown: https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/Faq/Engine/Model.php#L335

[2015-05-07 14:31] GhaziTriki commented on #1179
After checking the reason is the following: The page having the FAQ module has been hidden. Does it make a better sense now?

[2015-05-07 14:34] WouterSioen commented on #1179
If you don't have a visible page with the Faq module attached to, you should disable the faq in the search module. You can do this in the backend in /private/\<language\>/search/settings

[2015-05-07 15:18] GhaziTriki commented on #1179
I agree. It is completely logcial.

[2015-05-07 15:54] #1179 closed

[2015-05-12 19:48] jeroendesloovere opened #1184 "BUG: backend mailer is not using {include:"
**Problem**
BUG: backend mailer is not using {include:
So the emails are getting send without HTML.

**Example**
This is how the mail comes into my mailbox:
[code]

[2015-05-13 06:30] jeroendesloovere opened #1185 "To much memory usage in Locale module"
**Problem**

The Backend Locale module uses to much memory. On some servers I need to increase the memory limit, because it otherwise throws a white page on the /index page.

**Solution**

Rewrite this module.

[2015-05-13 06:53] WouterSioen commented on #1185
Nice solution :p

[2015-05-13 07:08] Thijzer commented on #1185
Where is the code of this epic rewrite :D :D

[2015-05-13 12:41] MathiasDewelde opened #1186 "3.9.1 production backend css path broken"
I just switched a project on Fork CMS 3.9.1in production mode.
The frontend is fine but the backend doesn't load any css files.

```http://***/src/Backend/nd/Core/Layout/Css/imports/wizard.css Failed to load resource: the server responded with a status of 404 (Not Found)```

```http://***/src/Backend/nd/Core/Layout/Css/imports/misc.css Failed to load resource: the server responded with a status of

[2015-05-13 12:45] WouterSioen commented on #1186
Hmm, I think somebody already mentioned this. We'll look into this!

[2015-05-13 12:46] WouterSioen commented on #1186
Probably related: #1181

[2015-05-13 13:13] MathiasDewelde commented on #1186
In the Backend/Cache/MinifiedCss i found a file containing this:

```@import url(../../nd/Core/Layout/Css/imports/typography.css);@import url(../../nd/Core/Layout/Css/imports/structure.css);@import url(../../nd/Core/Layout/Css/imports/dashboard.css);@import url(../../nd/Core/Layout/Css/imports/core_modules.css);@import url(../../nd/Core/Layout/Css/imports/ui_constructs.css);@import url(../../nd/Co

[2015-05-13 13:54] WouterSioen commented on #1186
so it could be an issue with our minifier? Can you try `composer update matthiasmullie/minify` and then check if it is fixed?

[2015-05-13 13:56] MathiasDewelde commented on #1186
Tried the latest release of matthiasmullie/minify.
Only versions <= 1.3.18 seem to work..

[2015-05-13 13:56] WouterSioen commented on #1186
poke @matthiasmullie

[2015-05-13 14:30] matthiasmullie commented on #1186
@MathiasDewelde What is the full path to your forkcms setup?

[2015-05-13 14:53] MathiasDewelde commented on #1186
/Users/mathias/Documents/— Projecten/***/Web/src/Backend/Modules/Testimonials/Actions

[2015-05-13 15:40] matthiasmullie commented on #1186
The — (multibyte character) is the problem. Fix coming up.

[2015-05-13 16:03] GhaziTriki opened #1188 "Overriden spoon 1.3.17 methods incompatible"
The commit below makes at least backend and frontend parse() method of Form.php class incompatible which makes running the prontend and the backend impossible.

https://github.com/forkcms/library/commit/d52abaa755bcfd8cb2cccc50f30b529fa6a14052

[2015-05-13 16:03] MathiasDewelde commented on #1186
:+1:

[2015-05-13 16:14] GhaziTriki commented on #1188
I am preparing a pull request for the coming minutes to quickly fix this.

[2015-05-13 16:18] matthiasmullie commented on #1186
Fixed in https://github.com/matthiasmullie/path-converter/commit/fcda5cc99c45c2e08d7f2ff59b4dd503c729275d

New Minify tag pushed, update you versions!

[2015-05-13 16:18] #1186 closed

[2015-05-13 22:04] WouterSioen commented on #1188
I did not update this in Fork yet, because our composer.lock files locked spoon library to 1.3.16. Your fix has been merged though. Thanks!

[2015-05-13 22:04] #1188 closed

[2015-05-14 00:01] GhaziTriki commented on #1188
Thank you. I always do a composer update when upgrading to check whether something is broken or no. You are doing a great work thank you.

[2015-05-14 07:41] WouterSioen commented on #1186
updated!

[2015-05-14 07:41] WouterSioen commented on #1181
This will be fixed in our upcoming release (and in the master branch)

[2015-05-14 07:42] #1181 closed

[2015-05-14 11:35] carakas commented on #1172
just started on this one

[2015-05-14 16:14] nosnickid opened #1194 "Radio button use of === fails with numeric values"
Initialising a radio button:

    $options = array(array('value' => '1', 'label' => 'one'), array('value' => '2', 'label' => 'two'));
    $this->frm->addRadiobutton('rad', $options, '1');

With numeric-ish values prevents the default from being auto-selected.

This is because the comparison in radiobutton.php:285

    if($value === $this->getChecked()) $element[$name] .= ' checked="checked"';

Alw

[2015-05-15 06:46] WouterSioen commented on #1194
All SpoonElements are indeed deprecated, but we can't say exactly when SpoonForms will be fully removed. I thus think it's worth it to still fix this. You can do a pull request to http://github.com/forkcms/library .

[2015-05-15 06:47] WouterSioen commented on #1194
I'll close this issue here, since it's a library and not a cms issue. Thanks for the report though!

[2015-05-15 06:47] #1194 closed

[2015-05-15 07:30] WouterSioen opened #1195 "Create a ModuleSettings service to make module settings mockable."
Static calls can't be mocked in tests. ModuleSettings is called from everywhere and thus makes sure we can't test a lot of stuff. When we create a moduleSettings service that can be injected everywhere using dependency injection, it will enable us to test more code.

I'll look into this soon.

[2015-05-15 07:47] #1172 closed

[2015-05-15 09:09] #1173 closed

[2015-05-15 09:40] sguse commented on #1181
Great :thumbsup:

[2015-05-16 14:16] WouterSioen commented on #1195
See #1196

It contains the ModulesSettings service, tests for it and an integration in the new Analytics module to show how you can inject it and let it help you to write tests for code that uses the module settings.

[2015-05-18 12:00] guytarded commented on #1185
Could that be solved with the xliff thingy? Maybe rewrite the module so it generates xliff's when save is pressed if users want to alter labels or something

[2015-05-18 12:16] jeroendesloovere commented on #1185
Should be fixed when refactor this module (#408).

[2015-05-19 07:00] jeroendesloovere opened #1198 "BUG: Special characters in Page URL."
**Problem**
When trying to add a page with special characters. We don't want the URL to use these special characters. But the result is not what we expect.

**Steps to reproduce**

* Pages > Add page
* Type in "électricité"
* You see the correct URL, without special characters (by AJAX call generateUrl)

![schermafbeelding 2015-05-19 om 08 56 45](https://cloud.githubusercontent.com/assets/588616/7

[2015-05-19 07:38] jeroendesloovere commented on #1198
**Problem found**

In ```SpoonFormText->getValue()``` on r.107
[code]

**What happens**
When saving the page, $txtTitle->getValue() uses ```SpoonFilter::htmlentities($value)```, so our URL uses ```eacute``` instead of ```é```.

**How to solve**
Maby adding an extra parameter which says that the value should not be converted.

[2015-05-19 12:51] WouterSioen opened #1200 "Analytics: todo"
Some functionality could be useful to add in the new version of the analytics module.

- [x] Add a reset functionality
- [ ] Possibly add the "google_adwords" option again (classic analytics will be deprecated, so I won't add this again)
- [x] Dashboard widget(s)
- [x] Most visited pages
- [ ] ...

[2015-05-19 13:55] freshface opened #1201 "Fork 3.9.2 on one.com hosting (open_basedir restriction in effect)"
Anyone had the same problem? With this: http://hadron.management/install
This is the php info: http://hadron.management/i.php

Regards

[2015-05-19 14:00] jessedobbelaere commented on #1201
I could get Fork CMS perfectly running on one.com if I disable debug mode. With debug mode enabled however, the open_basedir warning kept on showing up

[2015-05-19 14:01] WouterSioen commented on #1201
This is the case: Symfony's debug mode doesn't work well together with open_basedir restrictions. You can test it locally in debug mode and put it online in production mode on the server though.

[2015-05-19 15:00] freshface commented on #1201
Thx, it works now

[2015-05-19 15:00] #1201 closed

[2015-05-19 15:00] WouterSioen commented on #1201
Great!

[2015-05-21 09:04] jeroendesloovere commented on #1175
I reopened this because this BUG really annoys me. When I'm testing things. I mostly log out as "admin" and then log in as a "user with less rights". And every time I get to see that error page. Not very user friendly that is...

[2015-05-21 09:21] jeroendesloovere opened #1205 "BUG in the new Analytics Module"
**Problem**

The day after setting up Analytics module successfully on some of my clients,
the module is not working anymore.

**Internal server error.**
[code]

**Another internal server error.**
[code]

[2015-05-21 09:38] WouterSioen commented on #1205
You should get a refresh token because access type is set to offline https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/Analytics/Actions/Settings.php#L53

[2015-05-21 11:21] WouterSioen commented on #1205
@jeroendesloovere I think it will be fixed if you choose an emailadres on the consent screen of your Google Console applications. This seems to be necessary to retrieve refresh tokens. (See 3e5ae2e)

[2015-05-21 11:21] WouterSioen commented on #1205
Can you verify this and close this if it's fixed?

[2015-05-21 13:08] jeroendesloovere commented on #1205
@WouterSioen No, that is not the problem. Mail address has been filled in in every application.

[2015-05-21 15:12] WouterSioen commented on #1205
@jeroendesloovere can you test this? https://github.com/forkcms/forkcms/tree/analytics-service-account

[2015-05-21 15:13] WouterSioen commented on #1205
This is in fact the only commit containing the needed changes.

[2015-05-21 18:59] ikoene commented on #1165
@GhaziTriki Running into an error... Probably has something to do with the \SpoonTemplate instance used in /src/Frontend/Core/Engine/Form.php.

    ContextErrorException: Runtime Notice: Declaration of Frontend\Core\Engine\Form::parse() should be compatible with SpoonForm::parse($template) in /src/Frontend/Core/Engine/Form.php line 22

[2015-05-21 19:10] GhaziTriki commented on #1165
The issue have has been fixed here https://github.com/forkcms/forkcms/pull/1189

[2015-05-22 08:07] WouterSioen commented on #1205
poke @jeroendesloovere could you test this please? If it's the fix that's needed, I'd like to merge this asap ;)

[2015-05-22 14:17] dubgeiser opened #1209 "Functional tests screw up the 'production' cache"
When you run the functional tests, cached templates are overwritten... to reproduce (this is the case where I discovered it at least):

  * Go to the detail of the blog post, url: http://fork.dev/en/blog/detail/nunc-sediam-est
  * Run the test suite
  * reload the url: I got some editor content "Location"

when you run ./tools/remove_cache, all is well again.

This might not be considered critical

[2015-05-24 17:52] ikoene commented on #1165
Tested all common methods and they function as expected.

[2015-05-26 06:12] jeroendesloovere commented on #1205
Closing this because [fix is integrated](https://github.com/forkcms/forkcms/commit/de42269e4c87a82c67c420cd0fecbbe886c45718)

[2015-05-26 06:12] #1205 closed

[2015-05-26 06:13] jeroendesloovere commented on #1195
@WouterSioen Can this be closed?

[2015-05-26 06:14] jeroendesloovere commented on #1184
@WouterSioen Any news about this?

[2015-05-26 06:57] WouterSioen commented on #1184
In which email do you have this issue? there is not "Backend" or "Frontend" Mailer anymore ;) It's probably just one template not containing include tags?

[2015-05-26 11:44] tijsverkoyen commented on #1112
I can't reproduce this error. The only thing I can think of to explain this error is that the service that was pinged returned something unexpected.

[2015-05-26 11:44] #1112 closed

[2015-05-26 12:01] #1195 closed

[2015-05-26 12:08] #522 closed

[2015-05-26 12:08] jeroendesloovere commented on #522
Closed since this is merged since release 3.9.3

[2015-05-26 12:12] jeroendesloovere commented on #958
Check out the [Contributing.md](https://github.com/forkcms/forkcms/blob/master/CONTRIBUTING.md) file if you want more info about this.

[2015-05-26 12:12] #958 closed

[2015-05-26 12:16] jeroendesloovere commented on #1074
[Merged](https://github.com/vytenizs/forkcms/commit/fa2e8780de8ab39f09e8fb8b0cdab3e47fad9f22)

[2015-05-26 12:16] #1074 closed

[2015-05-26 12:39] tijsverkoyen commented on #1107
fixed: https://github.com/forkcms/forkcms/commit/076df115b39bc41d333c3833c45b2a121f92f97e

[2015-05-26 12:39] #1107 closed

[2015-05-26 13:51] jeroendesloovere commented on #1201
Hi @freshface
One.com hostings always have server caching enabled for every type of file.
So if not already asked to one.com, I suggest asking them to put that caching off.

[2015-05-27 11:29] GhaziTriki commented on #1165
Is this pull request ready to be merged?

[2015-05-27 11:32] GhaziTriki opened #1213 "Import and export icons direction inverted"
Hi Guys,

Looking at the export and import icons direciton in "Backend->Settings->Translations" I have a strange feeling. They don't look right, normally the import should have the arrow down because we are pulling data, and an arrow up for the export because we are pushing data out.

[2015-05-27 11:39] WouterSioen commented on #1213
For developers, your versions are logical, but for the users, the other directions are more logical. When exporting, we want the arrow down, because we are downloading data.

[2015-05-27 12:18] jeroendesloovere commented on #1213
:+1:

[2015-05-27 12:47] ikoene commented on #1165
afaik yes

[2015-05-27 14:16] WouterSioen commented on #1165
IMO, yes

[2015-05-27 15:21] GhaziTriki commented on #1213
Will be fixed in the bootstrap merge.

[2015-05-27 15:21] #1213 closed

[2015-05-27 19:50] GhaziTriki opened #1215 "All functional tests failing in a custom install"
Hi there,

I have all functional tests failing in a custom install of Fork CMS.

Examples :

=> CategoryTest::testNonExistingCategoryPostGives404 gives The request was not redirected.
=> Backend\IndexTest::testAuthenticationIndexWorks gives

Failed asserting that 500 matches expected 200.
Expected :200
Actual   :500

I have checked that I have "test_db.sql" in tools folder which is a dump of the p

[2015-05-29 10:21] vytenizs opened #1217 "Feature: SEO url structure"
Hi, i often come to an argument with clients about SEO urls. For example Fork has structure like this: for blog: http://someproject.com/blog/ (here is everything OK)
for blog category: http://someproject.com/blog/category/somecategory (I got often requests to make it /blog/somecategory but this isnt the main issue)
for blog item: http://someproject.com/blog/detail/somepost (And this is a pain in t

[2015-05-29 11:36] WouterSioen commented on #1217
It would be awesome to have something like this, but in the current structure, this is sadly not possible. When we're getting closer to full Symfony integration, it'll probably be easier to implement something like this.

[2015-05-29 14:47] vytenizs commented on #1217
I have a solution, but its not clean. Its with callbacks and is slow. It would be nice to have Symfony2 Routing solution. But please do not close this issue it is very important one :)

[2015-06-03 14:35] WouterSioen commented on #1217
I'll close this since fixing this is not a priority for us. Pull request for this are welcome.

[2015-06-03 14:35] #1217 closed

[2015-06-03 14:36] WouterSioen commented on #1215
Do you have more output from the tests? We can't really say what's the cause with this information.

You get an error 500, have you checked the logs (in Symfony and on your server)?

[2015-06-03 14:37] WouterSioen commented on #1184
poke @jeroendesloovere

[2015-06-03 14:44] WouterSioen commented on #1209
We'll fix it this way:

* Cache files that should not be available through a url, will be put in the kernel.cache_dir, which makes them environment dependant.

* For other cache files (like locale and pages), we'll add the environment in the filename and we keep them in the same directory. locale.json will for example become locale.test.json and locale.prod.json.

[2015-06-03 14:47] WouterSioen commented on #1185
Closing in favor of #408

[2015-06-03 14:47] #1185 closed

[2015-06-03 14:52] WouterSioen commented on #1174
Looks like this is still a todo: https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Engine/Form.php#L164

Should not be that hard to fetch it from the fork.settings service and add it as data-mask.

[2015-06-03 14:57] WouterSioen commented on #1164
@jeroendesloovere any news on this?

[2015-06-03 14:58] #1145 closed

[2015-06-03 14:58] WouterSioen commented on #1169
@GhaziTriki any news on this?

Note that this could cause issues with for example DateTime objects.

[2015-06-03 14:59] WouterSioen commented on #1149
will be fixed with #1164

[2015-06-03 14:59] #1149 closed

[2015-06-03 15:00] WouterSioen commented on #973
Fixed with the new Analytics module!

[2015-06-03 15:00] #973 closed

[2015-06-03 15:09] GhaziTriki commented on #1169
I have started this, it contains too much updates than my expectations. I know that I am proposing an interesting update from an architectural point of view because, it will take some time to be finished as I do not have too much time for open source contribution in the coming weeks.

[2015-06-03 15:09] WouterSioen commented on #1169
Ok, thanks for the update!

[2015-06-03 15:32] WouterSioen opened #1222 "deprecate the hooks_subscription queue"
We'll move everything to Symfony's event dispatcher.

[2015-06-03 15:36] WouterSioen opened #1223 "Deprecate timezones table in favor of DateTimeZone::listIdentifiers"
https://php.net/manual/en/datetimezone.listidentifiers.php

[2015-06-03 15:43] WouterSioen opened #1224 "Remove SpoonHTTP from fork"

[2015-06-04 08:04] WouterSioen commented on #1174
@jacob-v-dam should be fixed in our master branch (and in our upcoming release)

[2015-06-04 10:01] dubgeiser commented on #1174
It is not.  The problem is in the interpretation of the mask, not where the mask comes from.
![screen shot 2015-06-04 at 11 59 34](https://cloud.githubusercontent.com/assets/290589/7981771/777ce330-0ab1-11e5-89a1-9e849fd73f8b.png)
![screen shot 2015-06-04 at 11 59 42](https://cloud.githubusercontent.com/assets/290589/7981772/778f77ac-0ab1-11e5-9c99-13c6f6a4e55d.png)

[2015-06-04 10:03] WouterSioen commented on #1174
@ikoene can you check this please? I guess the conversion on these lines: https://github.com/forkcms/forkcms/blob/b9bf2a2789b5a959d39265934f3d107444764a80/src/Frontend/Core/Engine/Form.php#L169-L173 is not correct then.

[2015-06-04 10:06] WouterSioen commented on #1174
I guess 'Y' should be converted to 'yyyy' instead of 'yy'

[2015-06-04 11:32] ikoene commented on #1174
@WouterSioen Tested that and it's not correct. the 'yyyy' format displays the year twice.

The value is actually set twice. Once when parsing the form and a second time when the date fields are initialized in frontend.js

I think the problem could be located here:
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Js/frontend.js#L261

The formatted value is not correct. Sometimes it

[2015-06-04 11:36] WouterSioen commented on #1174
Strange, when looking at the docs for https://api.jqueryui.com/datepicker/, it lookds like the formatDate method is used correctly.

[2015-06-04 11:40] ikoene commented on #1174
var phpDate = new Date($(this).val()); // Get date from php in YYYY-MM-DD format

My guess is the phpDate value is not correctly formatted.

[2015-06-04 11:42] ikoene commented on #1174
Dumped the value

    Mon Apr 06 2015 00:00:00 GMT+0200 (CEST)

[2015-06-04 11:43] WouterSioen commented on #1174
We should maybe pass all items as paramters this way:

`new Date(2015, 6, 4, 0, 0, 0);`

[2015-06-04 11:44] WouterSioen commented on #1174
Or use another dateformat. Reference: http://dygraphs.com/date-formats.html

[2015-06-04 21:04] ikoene commented on #1174
Fixed in #1227

[2015-06-05 07:20] WouterSioen commented on #1174
Should be really fixed now :+1:

[2015-06-05 07:20] #1174 closed

[2015-06-05 07:23] #1198 closed

[2015-06-05 08:07] #1175 closed

[2015-06-05 08:09] WouterSioen commented on #1175
@jeroendesloovere can you test this? A fix for this should be merged (and the functional tests say it should work)

[2015-06-05 08:56] vytenizs commented on #1217
@WouterSioen can you take a look at my PR https://github.com/vytenizs/forkcms/pull/23 i've made concept of how should something like this work.

[2015-06-05 09:06] WouterSioen commented on #1217
I've given some comments purely on code styles. I'll look into it together with another developer to see if we find any issues with your implementation.

[2015-06-05 10:15] vytenizs commented on #1217
Made a follow up. This is kinda just an example how i think this should work, but this is the best i came up with. And Blog module part isnt finished, so after your check i will complete this part. Ty for review.

[2015-06-09 07:40] jeroendesloovere opened #1231 "CLI command for generating modules/actions/widgets"
## Feature request

It would be awesome if the same functionality from @turanct repo [forkmodule-cli](https://github.com/turanct/forkmodule-cli) will be integrated in the **core**.

So we can do things like:
[code]

[2015-06-09 07:41] jeroendesloovere commented on #1231
@turanct Would be awesome if you can provide us with a PR containing this.

[2015-06-09 07:48] MathiasDewelde commented on #1231
:+1: would be a great core feature!

[2015-06-09 15:29] jeroendesloovere commented on #1222
Duplicate for #1222

[2015-06-09 15:29] #1222 closed

[2015-06-09 18:51] WouterSioen commented on #1222
You probably referenced the wrong PR (since you're recursively referencing this commit)

[2015-06-10 07:40] jeroendesloovere commented on #1222
Changed it.

[2015-06-10 07:40] jeroendesloovere commented on #405
[Inspiring article](http://php-and-symfony.matthiasnoback.nl/2015/01/collecting-events-and-the-events-aware-command-bus/)

[2015-06-10 07:42] WouterSioen commented on #405
@jeroendesloovere this article is about using events from inside a command bus. We're not using a command bus in Fork (right now), so I don't think this article is fully applicable to Fork.

[2015-06-10 15:14] WouterSioen commented on #1231
@turanct doesn't use Fork anymore in his daily job, so I don't think he'll create a PR for this ;)

[2015-06-11 10:03] WouterSioen commented on #1184
poke @jeroendesloovere

[2015-06-11 12:25] jeroendesloovere opened #1236 "Feature request: make it possible that content blocks can't be deleted."
**Problem**

Sometimes when you do in a Frontend template:
[code]
You don't want a user to delete that specific ContentBlock in the backend.

**Solution**

Make it possible - just like with pages - that there is a setting that "if checked" you can't delete the content block.

[2015-06-11 12:27] jeroendesloovere commented on #1184
This happened when I used the #971 branch.

[2015-06-12 10:23] GhaziTriki opened #1237 "setId method Profile class should not be public"
Hi,

Looking at the code of Profile.php, the method setId should not be public. I suggest making it private, setting the id of the profile should be possible by loading it from the database only.

The line of code is here https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/Profiles/Engine/Profile.php#L304

[2015-06-12 11:08] glenncoppens opened #1238 "Composer post-install scripts windows"
Hi

Although using the git bash on windows still makes it impossible to execute the post-install (& -update) scripts in the composer.json file and therefore the Fork CMS installation cannot be completed (javascript malfunctioning and partial css styles).
If the `php` and `sh` commands are explicitly defined, everything runs smoothly :)

[code]

Tnx Glenn

[2015-06-12 11:39] WouterSioen commented on #1238
Can you open a pull request for this? this will make it easier for us to review this.

[2015-06-12 11:40] WouterSioen commented on #1237
I fully agree with this. In the ideal situation, it's even inserted in the constructor, so the setId method could then be removed.

[2015-06-16 13:51] #1238 closed

[2015-06-16 15:30] jacob-v-dam opened #1241 "X-Frame-Options deny"
Why are in the new version **X-Frame-Options** to **deny** and not to **SAMEORIGIN**?

If you want to load a iFrame to an internal page this would cause an error.

[2015-06-16 15:38] WouterSioen commented on #1241
Why would you want to load an iframe to an internal page in the first time ;)

The deny is the best practice provided by the OWASP security list.

[2015-06-16 16:05] jacob-v-dam commented on #1241
Good question ;). This is done to display different projects in the Netherlands. For example: http://www.buroboot.nl/projecten/tuinen-van-west-amsterdam and click on **Bekijk alle projecten op de kaart**

Is there a way to overrule this option in this specific request?

[2015-06-16 16:37] WouterSioen commented on #1241
I'd just change `deny` to `sameorigin` in https://github.com/forkcms/forkcms/blob/master/src/Common/EventListener/ResponseSecurer.php for this specific project.

[2015-06-18 21:13] jeroendesloovere opened #1243 "Why is parsePagination() not possible in a Frontend Widget?"
**Problem**
parsePagination() not possible in a Frontend Widget

[2015-06-19 06:53] WouterSioen commented on #1243
Widgets normally don't handle pagination, as they should work exactly the same on each page, and thus are not build to manipulate navigation (which is what pagination does).

[2015-06-20 20:05] guytarded commented on #1243
In some cases this could come in handy. For example, a blogwidget which shows the articles per category. I would consider implementing this functionality.

What do others think about this?

[2015-06-21 08:32] WouterSioen commented on #1243
I'm don't really like this. The idea of actions is that they can show data, they can redirect and they can manipulate the url.

Widgets are just used to display some "extra" data on your page. They can also use the url to provide some data based on the context, but they should not be used to redirect or change the url of the page it's on.

[2015-06-22 07:14] jeroendesloovere commented on #1243
@WouterSioen I don't agree that. In Fork CMS you can only add one module to a page. So you are limited in what you can do with blocks. Thats why widgets are the ideal medium to expand the functionality on a page.

[2015-06-23 07:13] jeroendesloovere commented on #1215
@GhaziTriki Can you inform us with some more details? Or is it OK now?

[2015-06-23 07:15] #1241 closed

[2015-06-23 07:26] jeroendesloovere commented on #1061
Hi @vytenizs,
I must agree that I sometimes had the same feeling like you, "a centralized logo variable" would be awesome!!! But... things have changed so much. Retina displays (@2x), 5K displays (@3x) ... And use cases that differ per client, (different) (responsive) mail templates, header with big logo, footer with small logo or icon, or reverse, ... There is no straight forward line in that. Ev

[2015-06-23 07:38] vytenizs commented on #1061
Yes but in the end, logo is a square or rectangular. It can be used on emails, generated PDFs, admin side and lots of other places. For retina screens and others you could upload vector logo and convert it into several different sizes. And yes several logo options should be available. Dark logo, light logo, documents logo for example. Or even logo manager if you need so much customization... But i

[2015-06-23 07:54] jeroendesloovere commented on #1061
@vytenizs
What could work:
- A backend action with multiple '.svg' upload fields. Each .svg should require a "name", examples: 'logo_default', 'logo@2x', 'logo@3x', 'icon_default', 'icon_black', 'icon_white', ...
- Add a Template Modifier to accept something like {$var|getimage:'logo_default','320x320'},  {$var|getimage:'logo@2x','60x60'} and that functionality should on the fly generate an image

[2015-06-23 08:03] vytenizs commented on #1061
Exactly my thoughts. Ofc .svg should not go straight into website and should be generated, but not everyone have their logos in .svg so there should be an option to upload only some logos. First of all we need two logos DARK and LIGHT and then we need to split them into several generated ones for example: logo_dark@2x logo_dark@3x logo_dark. And when u use modifier 320x320 it caches generated 320x

[2015-06-27 08:30] #1200 closed

[2015-06-29 07:32] vytenizs opened #1249 "Hooks/Events is not working"
Hi, I tried to use Hooks/Events but they are not working. Code just seems to be incomplete. First of all when you subscribeToEvent it serializes callback, later in the log it shows unserialized data. I was unable to make this to work.

[2015-06-29 07:52] WouterSioen commented on #1249
normally, you have to use the cronjob that executes the hooks, if I remember correctly, but I never used them myself.

[2015-06-29 07:59] vytenizs commented on #1249
Have this thing any docs, how to use them?

[2015-06-29 08:03] WouterSioen commented on #1249
I'd advise to use Symfony's event dispatcher instead of the Fork hooks, since we'll remove the hooks in favor of the event dispatcher. You can read how to implement them here:

https://woutersioen.github.io/Symfony-components-in-fork/#36 (Fork specific)

and

http://symfony.com/doc/current/components/event_dispatcher/introduction.html (More info, but in a Symfony setting).

The FormBuilder module

[2015-06-29 08:05] vytenizs commented on #1249
Ok thanks. You can close this issue. Thought this is not yet implemented.

[2015-06-29 08:07] #1249 closed

[2015-07-02 07:02] jeroendesloovere commented on #1164
@WouterSioen Didn't found the time to work further on it.

[2015-07-02 15:33] WouterSioen commented on #1237
It looks like the setter is never used in our code, so I made a PR to make the method private.

See https://github.com/forkcms/forkcms/pull/1250

[2015-07-02 20:44] jacob-v-dam opened #1252 "Radio button default value with space creates error in FormBuilder"
If you try to create radio buttons with values which contains spaces and select one of them you get an error while saving. It is not possible to refresh the form.

[2015-07-02 21:10] WouterSioen commented on #1252
This is an issue of http://github.com/forkcms/library, can you create an issue there?

[2015-07-02 21:13] jacob-v-dam commented on #1252
Is it? This only happens in the FormBuilder. When the value is "test 1" than the key will be "test-1".

The FormBuilder stores the value instead of the key.

[2015-07-02 21:26] WouterSioen commented on #1252
Ah, ok, I didn't get that, it's a Fork issue then!

[2015-07-06 08:17] jeroendesloovere opened #1255 "Replace SpoonDatagrid with Table"
[More info about the Symfony Table class](http://symfony.com/doc/current/components/console/helpers/table.html)

[2015-07-06 22:37] Thijzer commented on #1255
How about filtering,  pagination,  mass action,  hidden tables etc...

[2015-07-07 07:02] WouterSioen commented on #1255
The Symfony Table class is just for CLI applications.

[2015-07-07 11:35] #1255 closed

[2015-07-07 13:32] tijsverkoyen opened #1256 "Don't redirect in AJAX-actions"
In https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/Search/Ajax/Livesuggest.php#L202 there is code to redirect. This is weird behaviour because this action is requested through XHR, so the response should be a decent error instead of a redirect.

[2015-07-08 14:50] #1237 closed

[2015-07-08 14:50] #1223 closed

[2015-07-08 14:57] WouterSioen commented on #1184
This probably means that you should add the includes in the templates in that branch ;)

[2015-07-08 14:58] WouterSioen commented on #1215
We'll close this until we get more info.

[2015-07-08 14:58] #1215 closed

[2015-07-08 15:00] WouterSioen commented on #1243
We talked this over in the Fork meeting:

We have two types of blocks in Fork:

* modules => they have a concept of url's, navigation, pagination,...
* widgets => they are meant to just show extra data on a page and not manipulate data.

What if you have a widget and a module (or even two widgets) on one page with pagination, how can we know which block the page parameter is set for?

Only allowin

[2015-07-08 15:00] #1243 closed

[2015-07-08 15:02] WouterSioen commented on #1180
We're not on version 3 of the API yet. I believe @jeroendesloovere is working on something?

[2015-07-08 15:03] WouterSioen commented on #1236
You can disable the rights (in the groups module) for the content blocks delete action.

[2015-07-08 15:03] #1236 closed

[2015-07-08 15:05] WouterSioen commented on #1231
We won't do this before we're in Symfony Full stack. For now, you can use these alternatives:

* https://github.com/woutersioen/ModuleMaker
* https://github.com/turanct/forkmodule-cli
* ...

[2015-07-08 15:05] #1231 closed

[2015-07-08 15:06] #1224 closed

[2015-07-08 15:07] WouterSioen commented on #405
I'll deprecate the `BackendModel::triggerEvent` method to be removed in the next major version.

[2015-07-08 15:08] WouterSioen commented on #1169
We won't have time to do this soon, and it would cause problems with objects (like DateTimes). If you have a solution, feel free to PR.

[2015-07-08 15:08] #1169 closed

[2015-07-08 15:11] WouterSioen opened #1257 "Follow PHP supported versions as minimum support."
see: https://secure.php.net/supported-versions.php

[2015-07-08 15:12] WouterSioen commented on #1165
This has been merged

[2015-07-08 15:12] #1165 closed

[2015-07-09 09:34] jeroendesloovere commented on #1236
@WouterSioen Yes, but thats an all-wide solution, not available "per content block".

[2015-07-09 09:35] WouterSioen commented on #1236
True, but it could still be a solution to your issue :)

[2015-07-09 09:35] jeroendesloovere commented on #1180
@WouterSioen I'd love to find some time to work on that shizzle. But currently things are hefty, vacation is coming soon.

[2015-07-09 09:37] jeroendesloovere commented on #1184
Probably happened once in an old dev-Fork CMS-version.

[2015-07-09 09:37] #1184 closed

[2015-07-09 09:49] WouterSioen commented on #1180
No problem, take your time ;)

[2015-07-13 13:44] jeroendesloovere opened #1258 "BUG: error when trying to add new User Group."
**Steps to reproduce**

* Install latest Fork CMS
* Try to add a new User Group
You'll get the following error (when in debugging mode): ```Unable to parse the p12 file. Is this a .p12 file? Is the password correct? OpenSSL error:```

[2015-07-14 07:37] jeroendesloovere opened #1259 "Request for error fetching in Analytics module"
**What?**

When setting up the Analytics module, you sometimes get "internal server errors".
[code]
As a developer you can check the error in the prod.log, but Fork CMS users can not do this, so they don't know what exactly went wrong.

Error .log example:
[code]
=> Is just an error to say that your mail address has not yet been added to your google analytics account.

**Solution**
Fetching every

[2015-07-14 08:58] glenncoppens opened #1260 "Double language in redirect using queryString"
Hi

Building a multi language site (EN, NL, FR), with only NL enabled at the moment, I'm trying to get the querystring and attach it to the login anchor (@jeroendesloovere login link widget) when a profile is logged out.
Eg the result is this (seems to be ok):
[code]

When logging in, the redirect happens but the url is malformed, being:
[code]

I parse the querystring into the template like this:

[2015-07-14 09:16] jeroendesloovere commented on #1260
What if you try adding a trailing **/** before **nl**:
```http://site.dev/nl/aanmelden?queryString=/nl/contact```

[2015-07-14 13:09] glenncoppens commented on #1260
Allright, that works apparently :+1:
Trim the FRONTEND_LANGUAGE also works.

Not that it's too much work though, isn't this strange to do this manually?

[2015-07-14 13:13] jeroendesloovere commented on #1260
If we would change:
[code]
to
[code]

Would that solve your problem?

[2015-07-14 13:20] glenncoppens commented on #1260
Probably.

But i'm just wondering why the leading `/` isn't included by default when calling `getQueryString()`

[2015-07-20 08:11] vytenizs opened #1263 "Unable to parse the p12 file."
Hello, after install I received following error. "Unable to parse the p12 file. Is this a .p12 file? Is the password correct? OpenSSL error: " can anyone help?

[2015-07-20 08:21] vytenizs commented on #1263
This bug occurs only when you are in dashboard. I bet fork tries to connect to google without p12 file.

[2015-07-21 14:00] vytenizs commented on #1263
Same error occurs when you try to save users group with permissions.

[2015-07-22 06:23] jeroendesloovere opened #1265 "Error when installing new Fork CMS"
**Problem**
When installing the latest Fork CMS version (with Analytics module enabled) you get the following error when you log in.
![schermafbeelding 2015-07-22 om 08 22 11](https://cloud.githubusercontent.com/assets/588616/8819249/dbf238ec-304a-11e5-918f-0e0b9de12751.png)

[2015-07-22 07:14] WouterSioen commented on #1265
Hmm, the analytics dashboard widgets give errors when analytics isn't configured yet, I'll fix it.

[2015-07-22 09:13] jeroendesloovere opened #1266 "UX-error in Extensions module for theme_templates.php"
**Problem**
In Extensions module there is an UX error.

**Solution**
The "add template" button should be on the right side instead of the "export" button.

**Screenshots**
Templates module
![schermafbeelding 2015-07-22 om 11 10 21](https://cloud.githubusercontent.com/assets/588616/8821997/574b41e8-3062-11e5-8af9-d6d4f4dfce9e.png)
Should be like Translations module
![schermafbeelding 2015-07-22 om

[2015-07-23 09:02] #1263 closed

[2015-07-23 09:02] #1265 closed

[2015-07-23 09:03] WouterSioen commented on #1259
I think this should be fixed in here too: https://github.com/forkcms/forkcms/commit/a4d14b66d632803a8357136e79031a0a919e0a78

Can you check this please?

[2015-07-23 09:05] WouterSioen commented on #1258
Fixed in https://github.com/forkcms/forkcms/commit/a4d14b66d632803a8357136e79031a0a919e0a78

[2015-07-23 09:05] #1258 closed

[2015-07-23 13:42] jeroendesloovere commented on #1259
Well, is it possible that I don't see any specific "error fetching + showing the error message". So the user isn't in the dark when configuring the module.

[2015-07-23 13:54] WouterSioen commented on #1259
These errors shouldn't be shown on the dashboard. If you install the analytics module, but don't configure it, we don't want these strange confusing error messages to be shown there.

[2015-08-05 05:51] jeroendesloovere commented on #1259
I agree that. But what about errors in the "setting-up" phase?

[2015-08-05 07:07] WouterSioen commented on #1259
The use cases I encountered are catched and displayed to the user.

[2015-08-05 13:43] sverraest opened #1271 "Content Blocks disappearing, missing from dropdown list and appearing in wrong theme block after save"
I recently upgraded to Fork CMS 3.9.4 and noticed that even though the content blocks are appearing in the list of content blocks they don't appear in the dropdown when adding content blocks to a page.
I have to delete them and add them again.

Also, it appears that they are randomly added to wrong sections of the template after saving.
So let's say I add Content block X to section Main of the tem

[2015-08-07 13:42] wouterverstuyf opened #1272 "Double JS when enabling widget on module page"
VERSION: 3.9.3
When you enable a widget of the same module that is loaded, the JS of that module will be added double.
Example: Make a folder in the frontend module Blog Js/Blog.js page /blog (with module blog enabled on this page) Extra widget in the sidebar: Recent articles
Result: Double loaded Blog.js in the footer...
Cause: It comes from the priority_group value in the addJS (Header.php) func

[2015-08-12 16:23] sverraest opened #1275 "Fatal Error when entering wrong p12 certificate and email combination"
It's not clear from the instructions in Analytics that you will need to use the long service email account and not the analytics owner gmail account.
Furthermore, this fails to a HTTP/500 instead of catching the "invalid grant" error from the Google API Client and displaying the error.
Once this error appears there is no way of unlinking these settings as the Analytics module will always fatally e

[2015-08-12 16:24] sverraest opened #1276 "Admin backend inaccessible when having incorrect Google Analytics settings."
Related to https://github.com/forkcms/forkcms/issues/1275

Once you have submitted incorrect details for your Google Analytics linking the Dashboard will become inaccessible due to errors from the Google API Client not being caught.

[2015-08-12 18:50] WouterSioen commented on #1276
This has been fixed in the master branch and will be included in the upcoming release (see https://github.com/forkcms/forkcms/commit/a4d14b66d632803a8357136e79031a0a919e0a78)

[2015-08-12 18:50] #1276 closed

[2015-08-13 09:40] tbernaerd opened #1277 "Start of body scripts for Google Tag Manager"
Google Tag Manager snippets need to be put after the opening <body> tag. This means we'll need a field in the backend similar to the current header and footer scripts. The snippets also need to be added to all templates after the <body> tag.

Since GTM is becoming more prevalent and because marketeers are a whiny bunch, I'd like this built into Fork.

Planning on PR'ing this after feedback.

[2015-08-13 11:36] WouterSioen commented on #1277
I think this would be a great addition!

[2015-08-13 14:18] #1266 closed

[2015-08-13 14:26] WouterSioen commented on #1272
will soon be fixed when merging #1262

[2015-08-13 14:28] WouterSioen commented on #1271
Have you done manual changes in your database? It looks like some data isn't correct anymore.

[2015-08-13 14:29] #1259 closed

[2015-08-13 14:32] WouterSioen commented on #1260
We can change the getQueryString method to still return the leading slash. This would be a backwards incompatible change, so we can merge this in 3.10.

Do you want to make a pull request for this?

[2015-08-13 14:36] sverraest commented on #1271
No manual database changes.
Upgrading = manually copy pasting content over from backend to backend.
It's a weird one as I can't really pinpoint the issue. What I did notice is that when I edit Content Blocks their position sometimes shifts from wherever they are used in template section X to another one Y.  Let's say I have an address content block in the footer, if I edit the content block or add

[2015-08-17 15:41] megasnort opened #1278 "getUrlForBlock returns hidden pages/blocks"
When a page is hidden, the [getUrlForBlock method](https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Engine/Navigation.php#L533) still returns that page's url when it contains the given block. I think this is a bug (since the url of the page will not work an return a 404)

If considered a bug, I'll be glad to do a pull request, I fixed this for a project at work.

On an other note,

[2015-08-18 06:34] WouterSioen commented on #1278
A pull request to fix this would be very welcome!

[2015-08-18 18:16] WouterSchoofs opened #1280 "google Analytics AAuth 2.0 integration from the begin"
When I installed forkcms v3.9.x with the new google Analytics OAuth 2.0 integration, I got an 500 "internal Server Error”.
When I turned on the debugmode, i got the following error. http://cl.ly/image/0a1J0w0n2c1D

[2015-08-19 07:46] WouterSioen commented on #1280
This has been fixed in the master. If you want to patch your install, you can use this commit: https://github.com/forkcms/forkcms/commit/a4d14b66d632803a8357136e79031a0a919e0a78

[2015-08-19 07:46] #1280 closed

[2015-08-23 16:24] guytarded commented on #1277
+1

[2015-09-03 12:34] dubgeiser opened #1283 "When a page is set hidden, requesting its url results in a 500 server error: The HTTP status code is not a redirect ("404" given)."

[2015-09-09 08:39] bart-webleads commented on #1257
May update the install screen requirements information.
It still talks about 5.3.3 while the checkPhpVersion function checks for 5.4
Of give a warning when user is still on 5.3 something like use at own risk...

And maybe also update the documentation.
http://www.fork-cms.com/community/documentation/detail/installation/minimum-requirements

[2015-09-09 09:00] WouterSioen commented on #1257
Good points, we'll look into this.

It's also nearly time to bump the minimum version to 5.5!
http://php.net/supported-versions.php

Op woensdag 9 september 2015 heeft Bart Lagerweij <notifications@github.com>
het volgende geschreven:

[2015-09-10 08:15] megasnort commented on #1278
For the record, I made a pull request for this (https://github.com/forkcms/forkcms/pull/1281) but the link does not show up. Apparently I need to refer to #1278 in a commit, not only in the subject of the request.

[2015-09-10 09:07] guytarded opened #1285 "[discuss] Forkcms standard for storing keys"
Yesterday at the meetup we had a small chat about storing api keys and stuff. What will be the standard for ForkCMS about this?

There are two options:
* Store the key in the database which is more userfriendly when installing modules.
* Store the key in the parameters file which is less userfriendly but avoids several environments.

It would be nice if we had a standard about this.

[2015-09-11 11:51] Lennerd320i commented on #1180
Hi, did you already find some time to check this out?
I noticed that subscribing (at least for me) works in the 3.9.3 version - as in: it pushes the email address in the database and towards Campaign Monitor - but never the less gives the error: something went wrong.
When I enable debugging, the subscribe form passes with the green bar: "ok", it pushes the email address into the database but not t

[2015-09-16 07:52] ikoene commented on #1271
@sverraest Are you still experiencing these issues? I'm unable to reproduce the bug in 3.9.4. From which release did you upgrade?

[2015-09-16 10:41] ikoene commented on #1277
Done in #1286

[2015-09-16 10:41] Thijzer commented on #1278
I'm not sure but a similar issue is given from Per, maybe the fix I wrote also helps as hidden page will now always return the 404 page. #1287

[2015-09-16 10:42] Thijzer commented on #1283
I have a possible fix for this, now hidden pages show a proper 404 without redirecting.
I also removed a nasty redirect when having empty values. #1287

[2015-09-16 11:16] Thijzer commented on #1256
new Fix #1288

[2015-09-16 13:45] jeroendesloovere commented on #1277
:+1:

[2015-09-17 07:57] ikoene commented on #1260
It's ironic that the leading slash is trimmed, because every time the getQueryString method is used the slash is manually added again. There's only one case where the slash needs to be trimmed, and it's actually already done [here](https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Engine/Header.php#L845)

I'll make the pull request.

[2015-09-17 08:16] jeroendesloovere opened #1291 "Frontend JS bug"
**Steps to reproduce**
* Use any frontend module (f.e.: Categories) which has no 'JS' folder in it.
* Then create a JS folder in your frontend theme with a file, f.e.: Categories.js

**Bug**
The frontend JS file (src/Frontend/Themes/MyTheme/Modules/Categories/Js/Categories.js) will not be loaded. This is because src/Frontend/Modules/Categories/Js/Categories.js does not exist.
I find this stupid, b

[2015-09-17 08:28] jeroendesloovere commented on #1260
@ikoene :+1:

[2015-09-18 07:09] jeroendesloovere opened #1292 "Doctrine + addEntitiesInDatabase into master"
Hi @WouterSioen,

Would be awesome if Doctrine + ```$this->addEntitiesInDatabase()``` is integrated into Fork CMS master, so Installers could benefit from this.

[2015-09-21 06:12] jeroendesloovere opened #1295 "PHP Ajax error"
**Problem**
In many Fork CMS websites I receive the following error:
[code]

**Solution**
Anybody?

[2015-09-21 12:37] WouterSioen commented on #1295
I guess the ajax endpoint is called without module parameter, resulting in a wrong path.

Could this be Google again crawling this page without the correct GET parameters?

[2015-09-22 15:32] tommyvdv opened #1297 "Mailmotor subscribe redirect does not redirect to include sent parameter"
When debug is false, it looks like the mailmotor subscribe action fails to add the parameter `sent` to the URL. Making it seem like the subscription always fails. When in fact the form validation succeeds, CM subscription succeeds but the redirect fails.

[code]

edit: Relates to https://github.com/forkcms/forkcms/commit/592cc237.

[2015-09-22 15:51] #1297 closed

[2015-09-23 06:07] jeroendesloovere opened #1299 "PHP v5.5.3: using utf8mb4 instead of utf8"
### PHP Version 5.5.3 introduced "utf8mb4", which is recommended
[code]
We recommend against MySQL's utf8 character set, since it does not support 4-byte unicode characters, and strings containing them will be truncated. This is fixed by the newer utf8mb4 character set.

[Source](http://symfony.com/doc/current/book/doctrine.html)

[2015-09-23 07:16] vytenizs opened #1300 "Bug: Array to string conversion while deleting extras"
Hello, this error have been thrown "ContextErrorException: Notice: Array to string conversion in /media/storage/workstation/servers/http/goneplan/src/Backend/Core/Engine/Model.php line 206". This is due to usage of array_intersect with multidimensional arrays. You get extraData and it has multidimensional data in it.

[2015-09-23 07:24] WouterSioen commented on #1299
:+1:

[2015-09-24 10:21] sverraest commented on #1271
Hi @ikoene, did a reinstall so can't confirm anymore. It was as was mentioned here probably a database corruption.

[2015-09-24 10:21] #1271 closed

[2015-09-25 08:43] guytarded commented on #1285
Any news on this?

[2015-09-25 08:46] WouterSioen commented on #1285
Can some more information about this discussion be given? This is a rather short version I guess ;)

[2015-09-25 08:49] guytarded commented on #1285
As a mather of fact this isn't the short description :)
I just want to know what will be the standard for storing keys when developing modules. It's about PAI keys I'm talking here. Do you store them in the database or in the parameters file as that is more secure

[2015-09-25 09:21] WouterSioen commented on #1285
When I'm accessing an external API, I tend to have two different situations:

1. You have an API token / secret /... that will the same forever (and thus needs no refreshing)

=> save them in the parameters.yml file

2. You have an API using refresh tokens or that should be configurable from the backend

=> store them in the database.

[2015-09-25 09:33] WouterSioen commented on #1285
I btw don't really get your point about environments. You have both a different parameters.yml file and a different database on other environments, so __both__ are environment specific.

[2015-09-26 11:34] guytarded commented on #1285
Ok, it needs to be stored in the parameters file then. The discussion on the meetup was about keys that don't need refreshment.

Thx

[2015-09-26 11:34] #1285 closed

[2015-09-28 06:43] vytenizs commented on #1300
I dunno if i squashed correctly. Please let me know.

[2015-09-30 15:25] #1277 closed

[2015-09-30 15:27] #1278 closed

[2015-09-30 15:31] WouterSioen commented on #1299
Will you create a PR for this?

[2015-09-30 15:32] WouterSioen commented on #1295
Can you verify this?

[2015-09-30 15:36] WouterSioen commented on #1291
We're not really convinced that this is the way to go.

If you have a Blog.js file in your theme, and we decide to add a Blog.js file in the module, our added functionality will not be present in your website.

If We have a Blog.js file in our module, and you add a Blog.js file in your theme, you should duplicate all the functionality in it.

[2015-09-30 15:37] WouterSioen commented on #1275
Have you still encountered this issue?

[2015-09-30 15:37] #1272 closed

[2015-09-30 15:38] tijsverkoyen commented on #1257
@WouterSioen can you alter the new minimum version

[2015-09-30 21:01] jessedobbelaere opened #1303 "Remove jQuery UI in frontend"
Jacob posted [a topic on the fork forum](http://www.fork-cms.com/community/forum/detail/why-include-jquery-ui-css-by-default) why there's jQuery UI css & js loaded into every Fork CMS page.

As far as I know, it's only used for the search widget autocomplete list and the occasional datepicker in the frontend (not that common in normal websites, and if needed, people tend to use better libraries li

[2015-10-01 06:46] WouterSioen commented on #1303
I'm completely in favour of completely removing jquery-ui and using something like typeahead.js instead.

[2015-10-01 09:03] jeroendesloovere commented on #1291
@WouterSioen, I don't really see why this is not "the way to go".
[code]
=> Indeed, if you want that JS-functionality... otherwise, you can delete the JS-functions which you don't want.

[2015-10-01 09:14] Lennerd320i commented on #1180
For me this one seems to be solved with the solution provided in issue #1297 (RedirectExceptions)

[2015-10-01 09:15] WouterSioen commented on #1180
Thanks for letting us know!

[2015-10-01 09:15] #1180 closed

[2015-10-01 09:16] jeroendesloovere commented on #1295
How can I verify this?

[2015-10-01 12:48] WouterSioen commented on #1295
by calling the ajax url without providing a module?

[2015-10-03 13:02] jessedobbelaere commented on #1303
Great, I'll see if I can do a PR.

What should happen to the datepickers defined in `frontend.js` when I remove jquery UI?

And should I add typeahead.js to the js core folder or to the search module? And would it be better if I move the search functionality from `frontend.js` to `Search.js` & `typeahead.js` in the module JS folder? But those are two additional scripts on each page unfortunately.

[2015-10-06 13:58] Dadapas commented on #834
i have the same error to, what can i do

[2015-10-07 11:33] jessedobbelaere opened #1307 "Fabbot.io"
Can [Fabbot.io](http://fabbot.io/) be used to check Fork CMS pull requests?

[2015-10-07 11:56] WouterSioen commented on #1307
<img width="558" alt="screen shot 2015-10-07 at 13 56 15" src="https://cloud.githubusercontent.com/assets/1398405/10336729/36f1fd94-6cfb-11e5-9fed-c370fec7d6f5.png">

[2015-10-07 11:57] jessedobbelaere commented on #1307
Only for symfony itself available at the moment? Damn :(

[2015-10-07 11:58] WouterSioen commented on #1307
It looks like it. I can only find twig and Symfony using it

[2015-10-07 11:58] #1307 closed

[2015-10-08 14:20] jacob-v-dam opened #1309 "Last item in breadcrumb must have a link"
By default the link from the last breadcrumb item is removed. I think you should decide this in your template. Based on the client needs you can either set the url or remove it.

[2015-10-08 15:02] WouterSioen commented on #1309
Why would you want a url to the page you're currently on?

[2015-10-09 06:49] jacob-v-dam commented on #1309
I thought it would be nice to have with the [breadcrumb structured data] (https://developers.google.com/structured-data/breadcrumbs). By this Google (and maybe others) will also display the last element of the breadcrumb in the search results.

An example on a existing site (currently the breadcrumbs are broken, i will fix this today):
https://www.google.nl/?gws_rd=ssl#q=buro+boot+asbest

As you c

[2015-10-09 07:04] WouterSioen commented on #1309
You're right, this looks nice.

Can you make a pull request for this? You can change the abscense of the url here: https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Engine/Breadcrumb.php#L157

I would still change this template too: https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Layout/Templates/Breadcrumb.tpl to still not inlcude the link by default (so changing `

[2015-10-09 09:00] jacob-v-dam commented on #1309
Would you als like to see the structured data in the default template? It could boost the value of Fork CMS in my opinion.

[2015-10-09 09:17] WouterSioen commented on #1309
That would be nice, yes!

[2015-10-16 02:03] martynbiz commented on #751
I'm also getting "Package facebook/php-sdk is abandoned, you should avoid using it. Use facebook/php-sdk-v4 instead." Is v4 backward comparable with previous versions? We're currently using 3.7.*.

[2015-10-16 07:28] WouterSioen commented on #751
I've checked the code and the Facebook sdk is never used anymore. I'll remove it from our dependencies

[2015-10-16 07:30] WouterSioen commented on #751
facebook/php-sdk is not required anymore in our composer.json https://github.com/forkcms/forkcms/blob/master/composer.json

This is thus fixed in the newest versions of Fork CMS

[2015-10-19 02:50] martynbiz commented on #751
Oh, sorry, what I mean is that we are using in our application "facebook/php-sdk" as a dependency of that app, we are not yet using "facebook/php-sdk-v4". I want to start using v4 in our application. If I switch to v4, is it backward compatible with earlier versions - so should our application generally function the same with v4 as it does with the earlier version we currently have installed (3.7.

[2015-10-19 07:10] carakas commented on #751
@martynbiz If I remember correctly it was not backwards compatible, that was also the reason we removed it instead of upgrading it

[2015-10-20 08:27] #1275 closed

[2015-10-22 01:44] martynbiz commented on #751
OK, thanks for your reply.

[2015-11-04 09:49] jeroendesloovere commented on #1309
:+1:

[2015-11-04 09:50] jeroendesloovere commented on #1309
@jacob-v-dam Has created PR #1313

[2015-11-04 13:16] jeroendesloovere opened #1318 "Latest Fork CMS throws error at MatthiasMullie Scrapbook"
Whoops, looks like something went wrong.

1/1FatalErrorException: Error: Class 'League\Flysystem\Adapter\Local' not found in /...../vendor/matthiasmullie/scrapbook/src/Adapters/Filesystem.php line 30

Steps to reproduce:
* Install latest Fork CMS dev-master

[2015-11-04 13:18] WouterSioen commented on #1318
I guess `league/flysystem` should be added to the composer.json and lock file?

[2015-11-04 13:27] jeroendesloovere commented on #1318
@WouterSioen , k, I'm checking this out and creating PR if needed.

[2015-11-04 14:30] WouterSioen commented on #1318
Hmm, this should not be an issue, since it does not yet use league/flysystem (see https://github.com/forkcms/forkcms/pull/1315)

[2015-11-04 16:19] wouterverstuyf opened #1321 "Blog comments form dissapears when overwriting the template"
BLOG MODULE:
When overwriting the default template in Detail.php like this:
$this->loadTemplate(null, true);
... the comment form dissapears.

Any idea how to fix this?
I thought the bug get triggered when using multiple forms on a page (ex: search widget) but can't get it fixed.

Thx!

[2015-11-04 16:45] WouterSioen commented on #1321
where do you put this code?

[2015-11-04 17:03] wouterverstuyf commented on #1321
/src/Frontend/Modules/Blog/Actions/Detail.php

    public function execute()
    {
        parent::execute();
        $this->loadTemplate(null, true);
        $this->getData();
        $this->loadForm();
        $this->validateForm();
        $this->parse();
    }

The template gets loaded without the default template, but the comment form is not visible. When I use the normal template like below

[2015-11-04 18:13] matthiasmullie commented on #1318
I should probably have clarified in the open pull request that the current filesystem adapter has been deprecated and is now a wrapper over Flysystem adapter (so also requires league/flysystem).

In hindsight, given the added requirement, I probably should've kept the original filesystem implementation until dependants have caught up. I'm restoring the original Filesystem adapter (https://github.c

[2015-11-04 18:55] jacob-v-dam opened #1322 "The right forum"
Which is the right forum to use? The one on www.fork-cms.com or forum.fork-cms.com?

I think it would be better to use one rather than two. It also shows the commitment for the community and will probably solve some answers.

[2015-11-04 19:09] matthiasmullie commented on #1318
Should be fixed with https://github.com/matthiasmullie/scrapbook/releases/tag/1.0.4

[2015-11-04 19:09] #1318 closed

[2015-11-04 19:34] jessedobbelaere commented on #1322
The forum on the website is the right one. The forum.fork-cms.com is still online for archive purposes, but it should be closed so people can't start a new discussion, or simply show a warning. I believe @Diewy tried once to import all the discussions from the old forum into the new forum so he could delete the old forum, but it was too complicated.

When you search for "forum forkcms" you end up

[2015-11-04 19:36] jacob-v-dam commented on #1322
Right ;) so the README file has to updated. It refers to the old forum ;-)

[2015-11-04 19:40] jessedobbelaere commented on #1322
Oops, indeed! Nice catch! I fixed it

[2015-11-05 07:53] WouterSioen commented on #1321
You could add "Blog Detail" as a new extra in the modules_extras table, so you'd be able to couple it to a seperate page with a different layout

[2015-11-05 07:54] #1322 closed

[2015-11-06 13:08] wouterverstuyf commented on #1321
Owkey, thx for your reply.
Indeed, by creating a new template it should work. But I thought the comment form would also be parsed when you overwrite the default template.
Anyway, there is a way to do it, that's the most important :)

[2015-11-08 19:15] #1309 closed

[2015-11-09 09:46] WouterSioen opened #1325 "possible php7 and future incompatiblities"
Tested with https://github.com/sstalle/php7cc

[code]

[2015-11-13 10:31] freshface opened #1327 "Search module not giving wanted result"
When I am searching for the term "HPV" [link to site](http://www.biovox.be/en/search?form=search&q=HPV&submit=Search) I don't get any results.

But this post has that term in his content  [link to post](http://www.biovox.be/en/insights/detail/preventing-cervical-cancer-vaccinating-or-freezing)

Any ideas?

[2015-11-13 10:44] WouterSioen commented on #1327
your mysql settings are probably setup that search terms under 4 characters aren't matched. This is the case in most mysql installs (to improve fulltext search performance)

[2015-11-16 07:26] jeroendesloovere commented on #1127
Hi @GhaziTriki, I was wondering if there should be added a "text right-to-left" layout-setting for this? Since Arabic is written from right to left, right?

[2015-11-17 13:29] GhaziTriki commented on #1127
Absolutely yes, Arabic should be displayed in a RTL layout.

[2015-11-18 07:10] vytenizs opened #1329 "No way to override date.timezone"
In some cases you need to override date.timezone of PHP settings and there is no way to achieve this within Fork CMS interface. Is this was made on purpose?

[2015-11-18 08:32] WouterSioen commented on #1329
Do you want to override the date.timezone for your complete project or for some specific parts of Fork CMS?

[2015-11-18 08:41] vytenizs commented on #1329
Server has multiple projects on it and single one needs specific timezone set. But i did not find any way in achieving this on code side.

[2015-11-18 08:42] WouterSioen commented on #1329
i'd just put `ini_set('date.timezone', 'Wanted/Timezone');` in the index.php file of your project.

[2015-11-18 08:44] vytenizs commented on #1329
Why cant we add this option in parameters.yml?

[2015-11-18 08:45] vytenizs commented on #1329
I saw that code checks if timezone is set and if not it sets it to Berlin. But why we cant add option that could override default server timezone? Is there any issues with that?

[2015-11-18 08:55] WouterSioen commented on #1329
I think this is project specific, and it's not many work (only one line) to put it in your index.php file.

I don't think this should be added in the parameters.yml file. Best practice is adding it in your server configuration. If it isn't in there or if you want to overwrite it, I think it should be done in your application code and not in the parameters file

[2015-11-18 08:58] vytenizs commented on #1329
Well ok. I just seen lots of applications with this option within configuration. Thought maybe this is a proper optional parameter.

[2015-11-18 08:59] WouterSioen commented on #1329
I'll keep this issue open to see if others also want to have this functionality. But it's not needed in my opinion :)

[2015-11-18 09:03] vytenizs commented on #1329
I`m also think that server should be configured properly, and such options should be placed in php.ini file. But this is not true in some cases, and I do not like editing core files, because I`m constantly updating it. It is just against my ethics :D

[2015-11-18 13:02] GhaziTriki commented on #1329
This feature was previously discussed in #1075, setting the timezone in your php.ini is the recommended way to do it.

[2015-11-18 13:22] vytenizs commented on #1329
@GhaziTriki ofcource it is recommanded. I would love to see all shared servers to be configured as recommanded.

[2015-11-18 22:29] jessedobbelaere commented on #1307
Maybe [Nitpick](https://nitpick-ci.com/) is a nice addition to the forkcms github? (free for opensource projects)

[2015-11-19 07:35] jonasdekeukelaere commented on #1307
I think @WouterSioen is using https://styleci.io/ already.

[2015-11-19 08:06] WouterSioen commented on #1307
yes, we're already using style ci to check pull requests on style issues.

[2015-11-20 16:17] freshface opened #1330 "FormBuilder EventDispatcher not working."
Hi

When I dump something in https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/FormBuilder/EventListener/FormBuilderSubmittedMailSubscriber.php#L32 on L32 I don't see my Spoon::dump()

When I do it locally it works.

Any ideas?

[2015-11-24 09:59] bartdc opened #1331 "rel="canonical" for default language"
rel="canonical" for default language doesn't include language.

For example page http://demo.fork-cms.com/en. EN is default language and rel="canonical" is http://demo.fork-cms.com. Isn't it better to include the language and use http://demo.fork-cms.com/en as canonical as for SEO?

[2015-11-25 18:44] jeroendesloovere opened #1332 "Latest Fork CMS master - white page after install"
I've just installed the latest Fork CMS from the master branch with success.
But when I try to visit (any page on) the website (even /private) you see a white page.

[2015-11-25 19:12] WouterSioen commented on #1332
Have you checked the logs? (Both application and apache/php logs)

Op woensdag 25 november 2015 heeft Jeroen Desloovere <
notifications@github.com> het volgende geschreven:

[2015-11-25 19:15] jessedobbelaere commented on #1332
I just did a [clean install](http://forktest.jessedobbelae.re/) on my shared hosting and it runs nicely so far.
But I had to upgrade my php version on my shared hosting a week ago. I was still running php 5.3.3 and composer aborted because php >5.3 had to be used because of flysystem cache etc. If you're using the zip from the website, you probably didn't get the composer warning

[2015-11-26 16:32] WouterSioen commented on #1332
@jeroendesloovere have you checked your php version? And your logs?

[2015-11-27 07:51] jeroendesloovere commented on #1332
Deleted the folder.

[2015-11-27 13:59] jeroendesloovere commented on #1164
Hi y'all.
Great news, the first version of the new "mailmotor" has been released.
Source: [mailmotor/fork-cms-module-mailmotor](https://github.com/mailmotor/fork-cms-module-mailmotor)

[2015-11-27 14:01] jessedobbelaere commented on #1164
Awesome, I'll test it with Mailchimp this weekend!

[2015-11-27 14:02] WouterSioen commented on #1164
Thats awesome, thx!

[2015-11-27 14:03] jeroendesloovere commented on #1164
When expanding the module in the future, we should definetly refactor the Gateway to support Member, List, ... instead of integrating all those functions in one gateway.

[2015-11-27 14:07] ikoene commented on #1164
Thx man, can't wait to take it for a spin :+1:

[2015-11-30 16:05] jeroendesloovere opened #1333 "DependecyInjection/OverrideServiceCompilerPass.php not loading"
Is it possible that the DependecyInjection/OverrideServiceCompilerPass.php is not loading in?

[2015-11-30 16:11] jeroendesloovere commented on #1333
Never mind, I needed to add it in the xxxBundle.php file

[code]

[2015-11-30 16:11] #1333 closed

[2015-12-01 18:24] sverraest opened #1334 "linkList is undefined in CKEditor when trying to get list of pages"
In the Backend when I try to bring up the list of links to create an anchor in the editor I'm just getting a white screen but no CKEditor popup.

The javascript error is

`Uncaught ReferenceError: linkList is not defined - Backend.js:420`

Did anything change in the editor?

[2015-12-01 18:45] sverraest commented on #1334
Turns out is was an issue when

`$fs->dumpFile(
            $cachePath . 'editor_link_list_' . $language . '.js',
            $this->dumpEditorLinkList($navigation, $keys, $language)
        );`

fails

[2015-12-01 18:45] #1334 closed

[2015-12-03 16:10] jeroendesloovere commented on #1332
Dunno why this happened.

[2015-12-07 11:54] bartdc opened #1335 "Blog meta records"
When saving blog posts, there are maximum 21 records in blog_posts table. 1 active record and 20 old versions. But the meta records aren't deleted when deleting old versions when reaching 20 versions. So the meta table becomes scattered with meaningless meta records.

[2015-12-09 16:38] glenncoppens opened #1336 "Failing form redirects in production environment"
Hi

Yesterday I deployed my application to the production server (php 5.6). When I ran fork (3.9.5) in debug mode everything worked (profiles registrations, login etc.). But when running it in non-debug mode, everything was fine, except redirects did not work when registering, logging in, ...

So for example: a user registers itself, fills out the form, clicks submit. The form is being validated,

[2015-12-09 16:44] WouterSioen commented on #1336
This is fixed in https://github.com/forkcms/forkcms/pull/1298

[2015-12-09 16:59] glenncoppens commented on #1336
Isn't this only fixed in Mailmotor? Not in Profiles?

[2015-12-09 17:00] WouterSioen commented on #1336
Hmm, sorry, Seems like I didn't read your issue correctly.

[2015-12-15 11:03] vytenizs commented on #1334
You should reopen this issue. This happens when u clear cache and editors_link_list is not generated. You have to go to pages and edit some page & save it. Then editor_link_list will be generated and error is gone, but it is still a bug.

[2015-12-21 14:34] WouterSioen commented on #1332
@jeroendesloovere have you already checked you php version? I'll close this issue without any more info, since I can't reproduce it (on supported php versions)

[2015-12-21 14:34] WouterSioen commented on #1335
This should be easy to fix (deleting meta when deleting the old revisions)

[2015-12-21 14:51] WouterSioen commented on #1329
@vytenizs if your server doesn't allow changing your php.ini file, you should add it the your index.php file. This will make sure your timezone is set before fork or the symfony kernel is bootstrapped. This is the safest way.

[2015-12-21 14:51] #1329 closed

[2015-12-21 14:52] WouterSioen commented on #1327
@freshface have you tested this by changing the mysql settings? This is a known problem with mysql full text search, but we can't fix this easily (without changing to a specific search database like elasticsearch of do ugly things like append all words under 4 letters with extra content)

[2015-12-21 14:52] #1327 closed

[2015-12-21 14:53] #1321 closed

[2015-12-21 14:54] #1303 closed

[2015-12-21 15:47] #1336 closed

[2015-12-21 15:48] #1331 closed

[2015-12-21 15:53] WouterSioen commented on #1283
Fixed by @Thijzer

[2015-12-21 15:53] #1283 closed

[2015-12-21 15:53] WouterSioen commented on #1256
fixed by @Thijzer

[2015-12-21 15:53] #1256 closed

[2015-12-21 15:54] WouterSioen commented on #1168
You can now use `app/console locale:import -m locale` to achieve this result from the command line. (note, a version of Fork containing this is not released yet, but it's available in the master version)

[2015-12-21 15:54] #1168 closed

[2015-12-21 16:24] #1257 closed

[2015-12-21 16:24] WouterSioen commented on #1257
The docs are updated too

[2015-12-21 18:41] bartdc commented on #1335
Consider it done.

[2015-12-22 00:05] jessedobbelaere opened #1340 "Invalid init-type on app/console methods"
Just cloned a fresh copy of the master branch.
When I execute composer install or `app/console` or `app/console cache:clear`, I receive the following error:

    Invalid init-type

This error comes from src/Common/Core/Init.php
Looks like app/console is having issues.

[2015-12-22 00:14] jessedobbelaere commented on #1340
@jeroendesloovere @WouterSioen Can you try the master branch and see if you also experience this error? Issue looks related to https://github.com/forkcms/forkcms/pull/1306

[2015-12-22 07:50] WouterSioen commented on #1340
I noticed this too. I'll fix this soon!

[2015-12-22 07:57] WouterSioen commented on #1340
fixed in dcbd90c2579b6c2b98c5a54fa04d78e506b63f3c

[2015-12-22 07:57] #1340 closed

[2015-12-22 07:58] WouterSioen commented on #1340
thanks for the work on the fork themes btw! I'll try to get in touch with Bert from Wijs to get all these PR's merged :+1:

[2015-12-22 08:12] jessedobbelaere commented on #1340
Awesome, thanks! 😃

[2015-12-22 08:17] WouterSioen commented on #1340
He's on Holiday right now, but comes back the 28th.

[2015-12-22 09:42] #1295 closed

[2015-12-22 09:50] #1332 closed

[2015-12-22 09:55] WouterSioen commented on #1330
The only thing I can think of is a case mismatch between the class and the filename, but I can't find anything. The class stated in the services.yml file is also correct, so I have absolutely no idea what goes wrong at this moment.

[2015-12-22 09:57] WouterSioen commented on #1330
Is the FormBuilder module installed on the server? Have you tried removing the production cache? (app/cache/prod)

[2015-12-22 10:10] #1300 closed

[2015-12-22 10:15] #1252 closed

[2015-12-23 08:48] bartdc opened #1343 "Sessions directory in app (app/sessions or app/cache/prod/sessions)"
Symfony saves every session to a file. After a couple of weeks, this folder contains thousands and thousands of useless files.

I have a VPS with limited inodes so I suppose this can be an issue for other users as well.

[2015-12-23 09:56] WouterSioen commented on #1343
You could create a cronjob that removes files older then a specific time? This is an example command to remove files older than 7 days:

`find /path/to/files* -mtime +7 -exec rm {} \;`

You could run it daily (at midnight) using a cronjob like this:

`0 0 * * * find /path/to/files* -mtime +7 -exec rm {} \;`

[2015-12-23 10:01] bartdc commented on #1343
Yep that's my quick & dirty solution. I'm cleaning 9 session folders every night wich means deleting 20k files.

But I thought maybe Fork CMS could clean this folder without cronjobs (when session is closed [if possible], when someone logs in to /private, first visit of the day, ...).

[2015-12-23 10:01] WouterSioen commented on #1343
hmm, we could maybe abuse the "kernel.terminate" event for this.

[2015-12-23 10:03] bartdc commented on #1343
Probably a good solution for users without knowledge/possibility of working with cron's.

[2015-12-27 17:33] jeroendesloovere commented on #1291
Situation:
A module, without a default "module.js".

The frontend developer adds a theme custom "module.js",
thinking that it will load, but that will not be the case.

[2015-12-27 17:50] jeroendesloovere commented on #1332
Hi, I just did a clean install.
Same problem as described.
Checked the logs:
[code]
=> Probably caused by my new mac

[2015-12-27 17:54] jeroendesloovere commented on #1332
Could we add something to prevent this for newbies?

[2015-12-27 22:28] jacob-v-dam opened #1344 "Blog comments overview SQL error"
When I try to open the blog comments overview I get this error:

[code]

[2015-12-28 07:54] bart-webleads commented on #1344
What version of forkcms are you using?

[2015-12-28 07:55] jacob-v-dam commented on #1344
The latest version: 3.9.6

[2015-12-28 07:59] WouterSioen commented on #1291
In our case, the JavaScript to make a module work is written by the developers, and only the lay-out related JavaScript is written by the frontend developer (in a theme specific (but not module specific) JavaScript file).

With this workflow, it does not make sense to overwrite the module.js files, because this will remove the needed implementation.

[2015-12-28 08:00] WouterSioen commented on #1344
and what mysql version are you using?

[2015-12-29 06:51] vytenizs opened #1345 "Issue with incompatible version of Scrapbook"
After composer update, Fork throws exception:
FatalErrorException: Error: Call to undefined method MatthiasMullie\Scrapbook\Psr6\Item::exists() in /media/storage/workstation/servers/http/fork/src/Common/ModulesSettings.php line 142

If older version of scrapbook is downloaded everything works. Looks like newer version has changes incompatible with Fork CMS.

[2015-12-29 08:44] WouterSioen commented on #1345
@matthiasmullie any idea?

[2015-12-29 08:45] WouterSioen commented on #1345
nevermind, looks like a fix is already provided in https://github.com/forkcms/forkcms/pull/1346

[2015-12-30 13:21] #1345 closed

[2015-12-30 16:43] WouterSioen opened #1347 "refactor out SpoonFilter::getGetValue and SpoonFilter::getPostValue"
These methods access the $_GET and $_POST superglobals, which make writing tests a lot harder.

We can get our GET and POST variables from the request object which can be fetched everywhere.

[2016-01-04 06:42] vytenizs commented on #1347
Should be cool to know if someone is working on this one or not :) I mean i would gladly contribute on my free time, but I wanna know that no ones job wont go to waste :)

[2016-01-04 06:46] vytenizs commented on #1291
I think what he means is that, theme developers should be allowed to create custom module/action js files, but not custom built in js files. Yeah i found that irritating too. If Blog -> Archive does not contain Archive.js by default and i want some neat functionality I have to edit core module to add js file.

[2016-01-04 07:31] jeroendesloovere commented on #1291
@vytenizs Yep thats what I mean.

[2016-01-04 08:49] bart-webleads opened #1350 "ForkCMS demo"
The forkCMS demo website is down.

http://demo.fork-cms.com/

It says "Internal error"..

[2016-01-04 10:03] WouterSioen commented on #1350
We're working on it. Our server has to be upgraded to a newer php version.

[2016-01-04 10:04] WouterSioen commented on #1347
I'm not working on it right now, and I don't think anybody else is, so it would be great if you'd do this one!

[2016-01-04 10:09] vytenizs commented on #1347
Ill write here when I start working on this issue for other to know.

[2016-01-04 10:10] WouterSioen commented on #1347
:+1:

[2016-01-05 10:21] bart-webleads opened #1352 "Cannot add new page without a widget on it"
When adding a new page without any widgets on it. Fork reports the page as being saved. But the new page is not shown in the navigation.

Here is how to generate the problem:
* Install new forkcms (3.9.6) through "composer create-project forkcms/forkcms ."
* In the backend goto pages and click [add page]
* Remove the widget "search" from the top position
* Click [save]

The backend reports: page "

[2016-01-05 12:24] jessedobbelaere opened #1353 "Slack/Gitter chat"
Quick question: would it be a good idea to ditch IRC and start using something new to chat about Fork development? This way we can get more people involved in the roadmap, talk & discuss larger features, helping out with quick questions or issues, ...

### [Gitter](https://gitter.im)
* Gitter provides free public chat rooms for communities and open source projects
* Simple to use, with powerful in

[2016-01-05 22:07] matthiasmullie commented on #1345
#1346 is perfect. PSR-6 wasn't final yet (it is now so we should be fine) and `exists` has been removed since.

[2016-01-06 08:51] WouterSioen commented on #1345
ok, thanks for letting us know!

[2016-01-06 08:52] WouterSioen commented on #1353
Hmm, if we would do this, I'd prefer slack over gitter (since I'm already on IRC and slack). Adding another chat to my stack would probably drive me crazy ;)

[2016-01-06 16:24] WouterSioen commented on #1350
It's ready on the new server. We just need to change A-records and the demo will be up and running again!

[2016-01-06 16:25] WouterSioen commented on #1344
I guess this will be a MySQL setting. Changing "sql_mode=only_full_group_by" to something else will probably fix this

[2016-01-06 16:25] WouterSioen commented on #1344
http://stackoverflow.com/a/23921234/1454599 <= how to fix this

[2016-01-06 16:28] #1344 closed

[2016-01-06 17:23] jessedobbelaere commented on #1353
Yeah Slack is the most popular one and most devs have it already installed, so I would agree on Slack too

[2016-01-07 14:45] WouterSioen commented on #1350
Fixed!

[2016-01-07 14:45] #1350 closed

[2016-01-10 09:55] guytarded commented on #1353
Slack please!

[2016-01-10 10:01] guytarded commented on #1325
You can also use this one, I don't know if they test the same things https://github.com/wimg/PHPCompatibility

[2016-01-10 14:02] jessedobbelaere commented on #1353
Yes, if someone could setup a slack channel and make a Fork CMS blogpost about it, that would be great :-)

[2016-01-11 10:41] WouterSioen commented on #1353
![screen shot 2016-01-11 at 11 40 27](https://cloud.githubusercontent.com/assets/1398405/12231485/25e26266-b858-11e5-8ac2-f8c9142b5bb3.png)

Hmm, there's a small problem with this. We have to add all allowed domains to slack, or send invitations to everyone.

[2016-01-11 10:49] jessedobbelaere commented on #1353
Hmm I guess we could use [Slackin](http://rauchg.com/slackin/) (*or create a page/widget ourself with an e-mail field and a join button, and you receive an invitation e-mail*).
Slackin makes a landing page, a html badge with embedded invitation form, and a github svg badge.

Some examples:
* http://hashtaggaming.herokuapp.com/
* http://www.angularbuddies.com/

Then just add a link to the Slackin p

[2016-01-11 10:55] WouterSioen commented on #1353
https://fork-cms.herokuapp.com/ Can you test this?

[2016-01-11 10:59] jessedobbelaere commented on #1353
Works perfectly!

[2016-01-11 16:25] #1353 closed

[2016-01-11 16:26] WouterSioen commented on #1353
@tijsverkoyen are you OP of the fork cms IRC channel? It would be nice if the title of it would contain a link to the new Slack channel (https://fork-cms.herokuapp.com/)

[2016-01-11 16:31] tijsverkoyen commented on #1353
Done

[2016-01-12 08:03] #1352 closed

[2016-01-13 15:53] jacob-v-dam opened #1358 "Theme switch causes cache to be rebuild incorrect"
Hi,

I install Fork CMS with the triton theme, which runs fine. When I try to install my custom theme Fork CMS fails to update the frontend menu cache. But the page is added to the database.

When I paste the triton XML in the same file everything works, when I import my own XML nothing works.

Then I tried to install the theme with the triton settings and edit these settings via the Themes module

[2016-01-13 15:55] WouterSioen commented on #1358
You have a typo in your closing `</template>lates>` tag

[2016-01-13 15:59] jacob-v-dam commented on #1358
Sorry, that was a little typo af testing.

If you change it to:

[code]

But still the same error.

[2016-01-13 16:01] WouterSioen commented on #1358
And what is the error you get? Or what's wrong in the rebuilt cache?

[2016-01-13 16:11] jacob-v-dam commented on #1358
No error this cache file is not created in the right way.

https://www.youtube.com/watch?v=K_5tAuKMOFk

[2016-01-13 16:17] WouterSioen commented on #1358
This gives me "this video is private ;)"

[2016-01-13 16:19] jacob-v-dam commented on #1358
Not anymore ;)

[2016-01-13 16:28] WouterSioen commented on #1358
Aha, now I know what this is.

there was a bug in Fork which caused pages without content to not show up in the backend navigation. this is fixed in https://github.com/forkcms/forkcms/pull/1354

The difference between triton and your theme is that triton adds a widget (search) by default, causing the page not te be empty.

upgrading to the master version or manually copying the patch from the pull

[2016-01-13 16:28] #1358 closed

[2016-01-13 17:52] jacob-v-dam commented on #1358
Aah is was looking at this query and thought there might be a problem with.

But thanks for the fix!!

[2016-01-14 08:34] vytenizs opened #1360 "Translatable Spoon"
I cant find a proper way to translate Spoon library. I am talking about dates and other data that lies in locale/data folder. You cant event extend anything because everything is private. Somehow this should be fixed or be deprecated.

[2016-01-14 08:41] WouterSioen commented on #1360
Spoon is deprecated. If you want to translate dates/countries/..., you should use the Symfony Intl Component: http://symfony.com/doc/current/components/intl.html

[2016-01-14 08:42] jonasdekeukelaere commented on #1360
What are you exactly trying to do?
If you still want to use Spoon, you can try this:
I think you can get translated dates by `\SpoonDate::getDate($format, $timestamp, $language);`
Months and weekdays can be retrieved by `\SpoonLocale::getMonths($language);` and `\SpoonLocale::getWeekDays($language)`.
Countries can be retrieved in the same way, `\SpoonLocale::getCountries($language);`

[2016-01-14 08:56] vytenizs commented on #1360
Yes it is deprecated, but SpoonTemplate still uses it, so all older websites is untranslatable. Yes im talking about dates and countries. There are no such language I require and there is no way to add one. What needs to be done, that I would be able to load external translation file.

[2016-01-14 08:59] jonasdekeukelaere commented on #1360
You could add your own template modifier that uses the Symfony Intl Component.

[2016-01-14 09:02] vytenizs commented on #1360
That is the problem. I want built in modifier :D That is this issue are for :D I know workarounds, but I want to suggest a proper solution.

[2016-01-14 09:03] WouterSioen commented on #1360
The existing modifiers should be changed to use the Symfony Intl Component.

[2016-01-14 09:17] WouterSioen opened #1361 "Refactor out SpoonLocale in favor of the Symfony Intl Component."
Spoon does not contain a lot of languages (and is deprecated). We should use the Symfony Intl component for this.

[2016-01-14 09:17] WouterSioen commented on #1360
I've created a new issue for this: #1361

[2016-01-14 09:17] #1360 closed

[2016-01-14 09:21] vytenizs commented on #1361
If anyone starts working on this, please let me know :) I will take one day off for this kinda tasks, so i wanna know that no duplicates will come out.

[2016-01-14 15:40] WouterSioen commented on #1292
Doctrine will be added to the master after the twig conversion

[2016-01-14 15:40] #1292 closed

[2016-01-14 16:54] Cu8eR opened #1363 "Easy way how to add translations"
Easy way how to add translations

[2016-01-14 16:55] Cu8eR opened #1364 "Date and time format setting"
Date and time format setting

[2016-01-14 16:55] WouterSioen commented on #1363
What would you suggest to make it easier?

[2016-01-14 16:55] WouterSioen commented on #1364
What is the issue exactly?

[2016-01-14 16:57] Cu8eR commented on #1364
Add custom setting for date and time output used in cms fork - for example 24h format and day/month/year... something like custom window where you put http://php.net/manual/en/function.date.php

[2016-01-14 16:58] Cu8eR commented on #1363
If I create a czech language pack, how to add this easily into my live cms fork?

[2016-01-14 16:59] WouterSioen commented on #1363
You can import it in the backend at `<your-domain>/private/en/locale/import`

[2016-01-14 17:00] carakas commented on #1364
You can find this at /private/settings/index

[2016-01-14 17:00] Cu8eR opened #1365 "Support for favicon in root folder"
Support for favicon in root folder - why to change the whole file for different favicon? Why not to use favicon in root web folder

[2016-01-14 17:00] #1363 closed

[2016-01-14 17:00] WouterSioen commented on #1364
you probably mean `/private/<language>/settings/index`

[2016-01-14 17:00] #1364 closed

[2016-01-14 17:16] jessedobbelaere commented on #1365
I always put my favicons in the theme folder and use `<link rel="icon" href="{$THEME_URL}/favicon.ico" />` in the head.tpl template of my theme.

Or put your favicons in the root folder and use `<link rel="icon" href="/favicon.ico" />`, that should also work, no?

[2016-01-14 18:03] WouterSioen commented on #1365
I always put my favicons in the rootfolder.

You can put them wherever you want, as lang as you specify the paths in your theme correctly!

[2016-01-15 07:30] bart-webleads commented on #1365
Using favicon in theme, only works for php pages.
When user opens for example an image or a pdf document the root folder favicon is used.

There for you should use favicons in the root.

[2016-01-15 07:32] WouterSioen commented on #1365
I also like it that the backend favicon is changed when you put it in the root. When you have a lot of backends open, this is really helpful.

[2016-01-15 08:21] jessedobbelaere commented on #1365
Yeah, and I've seen lots of people having the Fork CMS favicon as avatar in mail clients. Probably because the root favicon is still that one from Fork, so it's best to add favicons in the root.

[2016-01-16 12:46] vytenizs opened #1368 "Editor content with Base64"
When saving editor content that has images converted into Base64 whole pages structure collapses.

[2016-01-16 13:33] vytenizs commented on #1368
My new installation of Fork CMS is completely smashed. Navigation is not working. Infinite loops within Frontend/Core/URL.

[2016-01-16 13:52] vytenizs opened #1369 "Empty pages unreachable"
When someone updated navigation and cache management, when you create new empty page it wont appear on any navigation at all. This creates lots of garbage. Any suggestion why this were made?

[2016-01-16 13:56] vytenizs commented on #1369
And if u change theme and it has different page position names those pages gets removed from tree.

[2016-01-16 14:07] vytenizs commented on #1369
Ive made a PR, but it will generate cache with empty pages. I think those caches should be separated, one should be navigation and be generated from within Frontend and one named tree or pages_tree generated from within Backend. But not both for same purpose.

[2016-01-16 14:10] vytenizs commented on #1368
Empty pages unreachable #1369 i think i had this issue. Wrong task.

[2016-01-16 14:10] #1368 closed

[2016-01-16 15:10] jonasdekeukelaere commented on #1369
Should already be fixed in this pull request: https://github.com/forkcms/forkcms/pull/1354

[2016-01-18 13:12] vytenizs commented on #1280
I received 500 after trying to connect it with API. It says invalid_grant or smth.

[2016-01-18 13:33] vytenizs commented on #1275
Unable to connect to API for hours. Throws 500 errors. Actually Analytics module is unusable at the moment.

[2016-01-18 14:46] WouterSioen commented on #1275
I'll look into it when I have some more time (maybe tomorrow)

[2016-01-20 10:42] Cu8eR opened #1371 "Make updating process more user-friendly"
Fork CMS loses customers because many of them are not IT gurus. It would be nice to have a simple updater because without this Fork CMS cannot grow up

[2016-01-20 15:34] WouterSioen commented on #1371
We won't integrate auto-updates for multiple reasons:

* it's really hard to integrate a good auto-update system that won't mess up your current installation
* Fork is intended for custom development. Updates can break this custom functionality
* All modules should always be kept up to date (and thus be maintained actively), which isn't always the case now.

[2016-01-20 15:34] #1371 closed

[2016-01-20 15:34] #1369 closed

[2016-01-20 15:35] WouterSioen commented on #1365
Conclusion: you can put them wherever you want.

[2016-01-20 15:35] #1365 closed

[2016-01-20 15:43] WouterSioen commented on #1343
I'll check if we can use the native PHP session storage instead of the app/sessions folder (using the native file session handler from symfony)

[2016-01-20 15:44] WouterSioen commented on #1335
@bartdc will you do a pull requests for this?

[2016-01-20 15:46] WouterSioen commented on #1330
Which PHP version do you use? Is opcache running? Is your error reporting on? Have you tried using a `var_dump`?

[2016-01-20 15:49] WouterSioen commented on #1299
poke @jeroendesloovere

[2016-01-20 15:51] WouterSioen commented on #1291
We won't currently put effort in this.

[2016-01-20 15:51] #1291 closed

[2016-01-20 15:57] WouterSioen commented on #1164
@jeroendesloovere any news on this? Is this ready for a PR? It would be great to have this in the next major Fork release

[2016-01-20 16:08] WouterSioen commented on #1062
Working on it in branch 3.10

[2016-01-20 16:09] WouterSioen commented on #1061
This is part of the theme development and isn't meant to be done in the core of Fork.

[2016-01-20 16:09] #1061 closed

[2016-01-20 16:10] WouterSioen commented on #1027
Thanks for all the work, it's nearly done! (see https://github.com/forkcms/forkcms/pull/1366)

[2016-01-20 16:10] #1027 closed

[2016-01-20 16:28] jeroendesloovere commented on #1164
Hi @WouterSioen, would be awesome to have it in the next release.
I guess its ready to be used as it is.

We do need to discuss how we are going to be using the vendors.
At this moment, if you want MailChimp, you need to do:
1. ```composer require mailmotor/mailchimp-bundle```
2. Add code in your config.yml
3. Add parameters in your parameters.yml

Another approach would be (but currently not used

[2016-01-20 16:59] #1141 closed

[2016-01-21 08:59] WouterSioen commented on #1164
Ok, it would be nice if we could add the parameter trough the backend of Fork. I guess we'll need to create a small layer between the bundles (in the form of a module) that will set the needed parameters in the container. This can be done using a DependencyInjection class.

I think we'll also only need to load the bundles when the module is installed. I don't know if this is possible using these D

[2016-01-21 12:38] bartdc commented on #1335
Yes, it's planned for the weekend.

[2016-01-21 12:49] WouterSioen commented on #1335
:+1:

[2016-01-24 18:58] bartdc commented on #1335
Just give me a couple of days.

[2016-01-25 08:37] WouterSioen commented on #1335
No problem, take your time!

[2016-01-26 08:26] #1335 closed

[2016-01-27 08:45] jeroendesloovere commented on #1330
Hi @freshface, indeed, I have experienced the same ```bug``` too in other modules and in multiple Fork CMS websites.

**STRANGE BUG**
It seems like Fork CMS has sometimes problems loading in Fork CMS Modules "bundles".
And therefore isn't loading in DependencyInjections and their "/Resources/config/services.yml" files.
@WouterSioen I already told you this a few times in our conversations.
=> When

[2016-01-27 08:48] WouterSioen commented on #1330
I don't know if the module configs are loaded in cli commands, but they should _always_ be loaded when a module is installed.

[2016-01-27 08:52] jeroendesloovere commented on #1330
@WouterSioen Another strange thing:

Sometimes all modules in "Fork CMS Backend > Settings > Modules" are being defined in one DataGrid, even the non-installed modules. And then when you click on a module and clicking "install", the DataGrid is working properly again.
@freshface are you experiencing this also in your production site?

[2016-01-27 09:11] jeroendesloovere commented on #1330
@freshface, do you see the fork cms formbuilder event listeners when you do ```app/console container:debug```?

[2016-01-27 10:27] freshface commented on #1330
I cleared app/cache and it worked.
It seemed the listeners weren't registered in the cache.

[2016-01-27 10:27] #1330 closed

[2016-01-27 13:14] jeroendesloovere opened #1377 "Request for getSetting() and setSetting() in an Action"
This would come in handy, since we can remove a lot of redundant code in all our Settings.php actions.
[code]

[code]
Optionally we could add $module = null at the end of these functions.

[2016-01-27 13:15] WouterSioen commented on #1377
I prefer the way it is now (but this could be personal preference)

[2016-01-27 13:17] jeroendesloovere commented on #1377
We could save a lot of code.
F.e.:
https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/Blog/Actions/Settings.php#L132-L148

[2016-01-27 13:35] jeroendesloovere opened #1378 "BUG: $this->get('fork.settings')->set($module, $key, null);"
**BUG**
ForkSettings does not allow to set a moduleSetting to ```null```.
This is stupid.

[2016-01-27 13:35] jeroendesloovere commented on #1378
Which means that you never can reset a module setting back to null. You will always have to use ```''```` but that is type dependent.

[2016-01-27 13:36] WouterSioen commented on #1378
you can use `$this->get('fork.settings')->delete($module, $key);`

[2016-01-27 13:36] #1378 closed

[2016-01-27 13:39] jeroendesloovere commented on #1378
But thats not what I want.

[2016-01-27 13:39] tijsverkoyen commented on #1377
I agree with Wouter, and this is certainly not a feature.

[2016-01-27 13:39] WouterSioen commented on #1378
Whats the difference between deleting it and setting it to null?

[2016-01-27 13:50] Dredas opened #1379 "Twig form error"
Why {% if txtEmailError %} is not working, but {% form_field_error Email %} is working? Need help. I think it a bug

![selection_019](https://cloud.githubusercontent.com/assets/12195810/12615288/7d30ee4a-c50d-11e5-8c9a-932122b57df1.png)

Thanks :)

[2016-01-27 13:50] WouterSioen commented on #1379
@Thijzer do you have any idea what could cause this?

[2016-01-27 14:05] WouterSioen commented on #1377
It could save some code, but it also introduces some "magic" in the code base. You clearly see now that the "fork.settings" service is fetched and the items are stored in there. If you add a syntactic sugar layer around it, this becomes less explicit.

I prefer codebases with less magic. they are a lot easier to understand.

[2016-01-27 14:17] Thijzer commented on #1379
don't start with a capital, it's {% form_field email %}

[2016-01-27 14:24] Dredas commented on #1379
@Thijzer
![selection_020](https://cloud.githubusercontent.com/assets/12195810/12616190/77b516ee-c512-11e5-8b08-1a21b507aaab.png)

[2016-01-27 14:39] WouterSioen commented on #1379
I don't really see why this would not work. Do you run `$this->frm->isCorrect()` after validating the form? And do you parse it to the template?

[2016-01-27 14:39] WouterSioen commented on #1379
It should be assigned to the template here: https://github.com/forkcms/library/blob/master/spoon/form/text.php#L794

[2016-01-27 14:39] WouterSioen commented on #1379
What is the error/output you're getting?

[2016-01-27 14:46] Dredas commented on #1379
I think maybe reason is double txtEmailError?

![selection_021](https://cloud.githubusercontent.com/assets/12195810/12616789/80f582e0-c515-11e5-9a1d-a69f3c3c8b33.png)

[2016-01-27 14:47] WouterSioen commented on #1379
What/where are you dumping here?

[2016-01-27 14:49] Dredas commented on #1379
![selection_023](https://cloud.githubusercontent.com/assets/12195810/12616897/f2b1f63e-c515-11e5-81e4-bb6be9d03b30.png)
![selection_022](https://cloud.githubusercontent.com/assets/12195810/12616898/f2b8e1ec-c515-11e5-99b0-3dc42dcbd7fc.png)

[2016-01-27 14:50] WouterSioen commented on #1379
Hmm, I showed the wrong line, It's this line that assigns the field https://github.com/forkcms/library/blob/master/spoon/form/text.php#L795

[2016-01-27 14:53] Dredas commented on #1379
Omg, it was my mistake. Thanks for help. I was having same field "Email" in Header

[2016-01-27 14:53] WouterSioen commented on #1379
Glad you found it!

[2016-01-27 14:53] #1379 closed

[2016-01-27 16:08] jeroendesloovere commented on #1377
Okay, I understand.

[2016-01-27 16:08] #1377 closed

[2016-01-28 13:48] jeroendesloovere commented on #1164
@WouterSioen Done. Parameters are integrated in the new [MailMotor Module](https://github.com/mailmotor/fork-cms-module-mailmotor).

[2016-01-28 13:49] jeroendesloovere commented on #1164
Community, please test the new mailmotor (currently working with MailChimp) and give feedback.

[2016-02-01 10:32] jeroendesloovere opened #1383 "Google Analytics: trackOutboundLinks not working for "ga""
**Problem**
In ```src/Frontend/Core/Js/frontend.js``` we check for ```typeof ga === 'object'``` on [this rule](https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Js/frontend.js#L510).
But that is false. ```ga``` is a ```function```.
=> So all the outbound trackings are not working.

**Solution**
Check for ```typeof ga === 'function'```

[2016-02-01 10:33] WouterSioen commented on #1383
hmm, did google analytics change this? Normally, ga is an object.

[2016-02-03 10:24] jeroendesloovere opened #1385 "Missing "Locale" checkbox mass actions"
**Problem**
You can select checkboxes,
but there aren't any mass actions.

![schermafbeelding 2016-02-03 om 11 23 58](https://cloud.githubusercontent.com/assets/588616/12779515/a5840584-ca68-11e5-8cab-305ff1b413d6.png)

[2016-02-03 15:57] carakas commented on #1385
what mass actions would you suggest ?

[2016-02-03 16:09] WouterSioen commented on #1385
They are used in the export. (But we removed this feature in the 3.10 branch)

[2016-02-03 16:09] #1385 closed

[2016-02-04 09:22] jeroendesloovere commented on #1385
I suggest:
* Delete

[2016-02-04 09:51] WouterSioen commented on #1385
I have never had the need to delete locale. Why would you want this?

[2016-02-04 10:10] jeroendesloovere commented on #1385
Well, for example: somebody wants to remove the old "Mailmotor" or "MailChimpLite" module and install the new ["MailMotor" module](https://github.com/mailmotor/fork-cms-module-mailmotor).

@WouterSioen Do you mean that the "checkboxes" are deleted in 3.10?

[2016-02-04 15:31] WouterSioen commented on #1385
yes

[2016-02-09 07:59] bramds opened #1389 "Single quotes in urlname get escaped in frontend en backend"
Single quotes get escaped in backend and frontend navigation.
Ex:
Foto's becomes foto\'s in backend navigation and in frontend navigation widget.  The  link itself is correct and works ( /foto-s )
It would actually also make more sense to get /fotos instead of /foto-s.

![fork396-2](https://cloud.githubusercontent.com/assets/2137063/12910492/6eac9f6a-cf0b-11e5-879b-f8f285210563.JPG)

![fork396-1](

[2016-02-09 08:04] WouterSioen commented on #1389
@jonasdekeukelaere I guess this is due to your escaping of double quotes? Can you take a look at this?

[2016-02-09 09:08] jeroendesloovere commented on #1389
@bramds: Which Fork CMS version are you using?
I think I looked into this a long time ago.
This problem isn't reproducible anymore in [Fork CMS Demo site](http://demo.fork-cms.com).

[2016-02-09 09:09] jeroendesloovere commented on #1389
@bramds: did you do a "copy/past" of "foto's", or did you type it in yourself?

[2016-02-09 09:10] jeroendesloovere commented on #1389
Strange: it can be reproduced in a page (other then home).
![schermafbeelding 2016-02-09 om 10 10 02](https://cloud.githubusercontent.com/assets/588616/12911827/5cc6ded2-cf15-11e5-994c-5401d7ecbe2f.png)

[2016-02-09 09:13] jeroendesloovere commented on #1389
Maby it is related to [BUG: Special characters in Page URL](https://github.com/forkcms/forkcms/issues/1198)

[2016-02-09 09:25] jeroendesloovere commented on #1389
The problem from @bramds is coming from [these rules in src/Backend/Modules/Pages/Engine/CacheBuilder.php](https://github.com/forkcms/forkcms/blob/master/src/Backend/Modules/Pages/Engine/CacheBuilder.php#L172-L173)

[2016-02-09 09:25] WouterSioen commented on #1389
@jeroendesloovere I think it's related to https://github.com/forkcms/forkcms/pull/1314, that's why I poked @jonasdekeukelaere

[2016-02-09 09:36] WouterSioen commented on #1389
not related to @jonasdekeukelaere 's Pull Request, sorry :wink:

I guess @jeroendesloovere found the source of the bug. :+1:

[2016-02-09 09:38] WouterSioen commented on #1389
It's introduced by @tommyvdv in https://github.com/forkcms/forkcms/commit/325968737dd1793046aa04603725ed429bb7a048

Do you still have an idea what the issue was here? (I don't even know why we need to escape the title)

[2016-02-09 09:48] jeroendesloovere commented on #1389
This was probably to prevent "the cache file" from breaking.
The "cache file", which is now replaced by MatthiasMullie\Scrapbook?

[2016-02-09 09:52] WouterSioen commented on #1389
Ok, this should be tested.

[2016-02-09 09:54] jeroendesloovere commented on #1389
When removing that preg_replace, everything is fixed in backend pages navigation.

[2016-02-09 09:54] WouterSioen commented on #1389
Can you do a PR?

[2016-02-09 09:55] jeroendesloovere commented on #1389
And ```editor_link_list_nl.js``` is also working since we use "double quotes" as you can see here.
![schermafbeelding 2016-02-09 om 10 50 04](https://cloud.githubusercontent.com/assets/588616/12912845/7821e234-cf1b-11e5-9b5c-0fb94365dc03.png)

[2016-02-09 10:16] jeroendesloovere opened #1391 "Cache problem when switching from "dev" to "prod" environment."
**Steps to reproduce**
* Fork CMS in ```dev``` environment.
* Login to /private
* Remove the ```app/cache/prod``` folder if it exists.
* Enable the ```prod``` environment.
* Click to another page in Backend

**Error**
You see a white page, without error notifications in prod.log

[2016-02-09 10:26] #1389 closed

[2016-02-09 12:29] sverraest commented on #1391
I had the same issue a couple of days ago.
My issue was with the CSS/JS minifier. (MinifiedJs, MinifiedCss)
I had to manually create these folders in src/Backend/Cache even though the permissions for the Cache folder and webserver were correctly setup.

[2016-02-09 12:32] sverraest opened #1392 "SMTP Test email succeeds but email notifications by ForkCMS are not being delivered."
I'm using Mandrill for a client, the SPF and DKIM records are successfully setup for the domain.

When using the SMTP API (Username=email, Pass=ApiKey, Host= smtp.mandrillapp.com:587) the Test Emails in the Settings > Advanced > Emails are correctly delivered.

However, all other notifications for blog moderation, form builder send email, etc... are not being send.
In Mandrill I can see the test e

[2016-02-09 13:04] jeroendesloovere commented on #1164
Does anybody has some feedback?
If none, then I will add PR for 3.10 branch

[2016-02-09 13:41] jeroendesloovere commented on #1164
@GhaziTriki Creating adapters is indeed a great work and therefore I choose not to do it like that. I did try to start this kind of thing. But I didn't know which functions would gonna be required to make all the subscribe/unsubscribe magic happen.
But your idea is good an perhaps something worth considering in the future when more functionalities are streamlined into interfaces.

[2016-02-09 16:10] jeroendesloovere commented on #1164
I'm not satisfied with the Class names in the Bundles. Thats why I'm going to refactor this into something like: https://gist.github.com/jeroendesloovere/958d5afe1f4f5b367f43

[2016-02-11 12:22] wouterverstuyf commented on #1127
Hi @GhaziTriki, I was wondering what's the status of the translation? Is it already available?
I need to make a site with Arabic language enabled, so it would be wonderful.

[2016-02-11 13:14] GhaziTriki commented on #1127
Hi @wouterverstuyf,

I am discussing internally with my team to implement Arabic support and RTL for ForkCMS. It should be started soon. But I can't give a date when it will be available. I will follow up with updates as soon as possible.

[2016-02-11 14:14] jeroendesloovere commented on #1127
Should Arabic language require the database to be in utf8mb4?
See issue https://github.com/forkcms/forkcms/issues/1299

[2016-02-11 14:17] jeroendesloovere commented on #1299
I've got [a utf8mb4 branch](https://github.com/jeroendesloovere/forkcms/tree/utf8mb4-integration) for this.
But installation is breaking and throwing errors.

Still looking into this...

[2016-02-11 15:18] WouterSioen commented on #1299
nice that there is progress here!

[2016-02-11 16:12] GhaziTriki commented on #1299
Please take a look at this to understand the difference between utf8mb4_general_ci and utf8mb4_unicode_ci http://stackoverflow.com/questions/766809/whats-the-difference-between-utf8-general-ci-and-utf8-unicode-ci

If Fork CMS is going to support non latin characters then using a utf8mb4_unicode collation is better.

[2016-02-11 16:13] GhaziTriki commented on #1127
Utf8 database encoding is required for storing Arabic content in the database and of course utf8mb4 is advised agains the utf8 encoding

[2016-02-11 16:18] jeroendesloovere commented on #1299
"There is almost certainly no reason to use utf8mb4_general_ci anymore, as we have left behind the point where CPU speed is low enough that the performance difference would be important. Your database will almost certainly be limited by other bottlenecks than this."
=> We will use utf8mb4_unicode...

[2016-02-11 16:19] jeroendesloovere commented on #1127
@GhaziTriki and is it required to have "utf8mb4"
or will your Arabic locales also work with the current "utf8"?

[2016-02-11 16:20] GhaziTriki commented on #1299
:smiley: :+1:

[2016-02-11 16:35] WouterSioen commented on #1299
+1 for latin!

[2016-02-11 17:00] WouterSioen commented on #1127
utf8 and general/unicode character set should be enough to store arabic. But it can't be a problem to bump to utf8mb4 ;)

[2016-02-11 18:05] wouterverstuyf commented on #1127
@GhaziTriki Thx, looking forward to it :)

[2016-02-12 07:58] GhaziTriki opened #1395 "Should UPGRADE_3.10.md and UPGRADE_3.11.md be merged?"
As the next release version is 3.10 and the major release will be 4, isn't wise to merge UPGRADE_3.10.md and UPGRADE_3.11.md to a single file for the next 3.10 release?

[2016-02-12 08:00] WouterSioen commented on #1395
I think this can be merged when releasing.

[2016-02-12 08:20] GhaziTriki commented on #1127
We will start it when the twig implementation is fully ready for version 4, as implementing RTL to the current backend is too much effort.

[2016-02-12 08:43] WouterSioen commented on #1127
:+1:

[2016-02-12 10:21] GhaziTriki commented on #1299
@jeroendesloovere is it possible to provide a PR with utf8_mb4 changes?

[2016-02-12 10:48] jeroendesloovere commented on #1299
@GhaziTriki Sure I can do that.
Please beware that it is a non-working PR.

[2016-02-12 10:55] GhaziTriki commented on #1299
@jeroendesloovere What issues are expected?

[2016-02-12 13:29] GhaziTriki opened #1396 "Documentation is too much outdated"
The documentation is too much outdated, as example git needs to be installed to get a successful `composer install`, should we create a list of what needs to be updated?
- [ ] Debug mode.
- [ ] Routing
- [ ] Forms
- [ ] Theming
- [ ] Cheat sheet

[2016-02-12 14:03] jessedobbelaere commented on #1396
Sounds good, I'll help with updating :+1:

[2016-02-12 16:48] GhaziTriki commented on #962
I have done a test with CKEditor 4.5.7, the upgrade went well :smile:

![image](https://cloud.githubusercontent.com/assets/4991088/13013693/c2402668-d1b0-11e5-897a-a86df0917e21.png)

[2016-02-13 15:11] jessedobbelaere commented on #962
Looking good!
Any chance we can get some color back in the ckeditor theme? Maybe instead of the Moono theme, the Moono color theme? http://ckeditor.com/addon/moonocolor

[2016-02-14 09:06] GhaziTriki commented on #962
The pull request already defines mooncolor as the default theme. https://github.com/forkcms/forkcms/pull/1398/files#diff-ef039632a56f8195d271c9813159127bR233

The screenshot was made prior to checking CKEditor configuration for the pull request.

[2016-02-14 23:46] jessedobbelaere commented on #962
@GhaziTriki Oh, awesome job, thanks!

[2016-02-15 12:49] WouterSioen commented on #962
can you provide a screenshot using the new theme?

[2016-02-16 16:16] GhaziTriki commented on #962
Here it is :smile:

![ckeditor4](https://cloud.githubusercontent.com/assets/4991088/13082432/fd2c19bc-d4d0-11e5-938a-8f87862f2796.png)

[2016-02-17 08:25] jessedobbelaere opened #1400 "Editor LinkList cache not regenerated"
A client mentioned an issue on his site: edit a page, then select a word in ckeditor and press the anchor icon in ckeditor. The "create-link" modal should open but it didn't show up, only the overlay was active and blocking the screen from further interaction.

Found out that I cleared the cache a while ago using `sh remove_cache`.  Which means `/src/Frontend/Cache/Navigation/editor_link_list_nl.j

[2016-02-17 11:17] WouterSioen commented on #962
ok, this looks good :+1:

[2016-02-19 12:25] WouterSioen opened #1405 "XSS is possible"
When doing a post to a page with a form that doesn't set the action, you can inject javascript in the page

`curl -XPOST 'http://demo.forkcms.com/private/en/authentication?xi421%22onclick=%22alert(1)%22ci431=1&f43iy"onmouseover="alert(1)"f43iy=1'` reproduces the issue.

Note that you can ONLY inject data on your own page, and not XSS other persons, which makes this issue not really important.

Cou

[2016-02-19 12:31] WouterSioen commented on #1405
even better would be to fix this in spoon

[2016-02-24 12:12] carakas opened #1406 "Issue and pull request templates"
As per suggestion by @jeroendesloovere on Slack
https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-24 12:24] WouterSioen commented on #1406
a PR is welcome :)

[2016-02-24 12:48] jeroendesloovere commented on #1406
:+1:

[2016-02-24 12:50] carakas commented on #1406
What do I need to include in the templates ? Any suggestions ?

[2016-02-24 15:15] jeroendesloovere opened #1407 ""fork.settings" does not exist when running ForkCMSInstallerBundle"
Hi, I'm trying to implement the MailMotor into Fork CMS.

### Steps to reproduce
* Create custom module
* Add /Resources/config/services.yml with "@fork.settings" as an attribute
* Try to install Fork CMS with this module enabled OR try to deploy using Capistrano

### Problem
But when deploying using capistrano, I get the following error log:
[code]

In the past I sometimes had problems with "fork

[2016-02-24 15:17] carakas commented on #1407
Are your database settings correct ?
If they are not correct the container won't be build, and the services won't be available.
This is so only services of installed modules are loaded

[2016-02-24 15:18] jeroendesloovere commented on #1407
My local website is working perfect!
=> No service definition errors!

I only get this message when using "cap staging deploy".

**Possible problem**
When using capistrano our fork modules "not bundles" are doing something wrong and aren't being defined.

[2016-02-24 16:13] jeroendesloovere commented on #1407
I've added the problem and the (temporary) solution...

[2016-02-25 00:43] ciryk commented on #1181
I still have thesame problem. @Mac MAMP it's working, but on Windows MAMP it isn't. I tried through composer and manually from the zip on fork cms website and also tried overwriting it with github files. Nothing is working so far..

[2016-02-25 12:24] bvdn opened #1408 "Datalist formbuilder not supported in Safari and Chrome"
I am building a form with the selector (selectievakje). It looks like its not supported in Chrome & Safari. < the boxes are not displayed in the 2 browsers > In Firefox it works ok. Anybody a hint / workaround? using fork 3.6.8

[2016-02-27 08:12] jeroendesloovere commented on #1164
Note: every mailmotor repo has a refactored branch.

[2016-02-27 08:22] #649 closed

[2016-02-27 08:23] jeroendesloovere commented on #649
Closed because its merged in branch 3.10 (PR: https://github.com/forkcms/forkcms/pull/1294)

[2016-02-28 07:29] jeroendesloovere opened #1411 "Branch 3.10: Backend > Location > Edit: Delete button is missing?"
### Problem
When visiting Backend > Location > Edit: Delete is missing, the following code is gone?
[code]

[2016-02-28 07:53] jeroendesloovere opened #1412 "Branch 3.10: Backend > Location > Edit: Delete button is missing?"
### Problem

When sending mail from Frontend.
The following error happens

<img width="1098" alt="schermafbeelding 2016-02-28 om 08 52 20" src="https://cloud.githubusercontent.com/assets/588616/13378100/be315660-ddf8-11e5-9b7a-2b0a2aede1fd.png">

[2016-02-28 09:18] jeroendesloovere commented on #1407
I'm integrating the new MailMotor in 3.10 and when trying to install Fork CMS, I get the same error:
[code]

<img width="746" alt="schermafbeelding 2016-02-28 om 10 17 40" src="https://cloud.githubusercontent.com/assets/588616/13378367/727a3032-de04-11e5-968e-b0e4f72f666b.png">

[2016-02-28 09:45] jeroendesloovere commented on #1412
Duplicate

[2016-02-28 09:45] #1412 closed

[2016-02-29 11:14] WouterSioen commented on #1411
nope, it's caused by the options that aren't parsed anymore. I'm working on this (but it goes rather slow, sorry)

[2016-02-29 13:03] jeroendesloovere commented on #531
@lowiebenoot Can you integrate "campaign monitor" oauth into https://github.com/forkcms/forkcms/pull/1413?

[2016-02-29 14:05] GhaziTriki commented on #1406
The issue template can contain the following items:

**Severity**: Trivial, Minor, Major, or Blocker

**Steps to Reproduce**

1. Step one
2. Step two

**Actual Behavior**

Behave strangely.

**Expected Behavior**
Should behave correctly.

**Troubleshooting/Testing Steps Attempted**
A long night debugging and I put my cat over my keyobard and it worked !!!

[2016-02-29 14:25] WouterSioen commented on #1406
that's a good start

[2016-02-29 15:37] jeroendesloovere opened #1415 "Locale: "key" does not understand CamelCased"
You can't overwrite locales with different CamelCasing.

### Example

* "Firstname" in database
* It isn't possible to import "FirstName" from a locale.xml

[2016-02-29 16:13] jeroendesloovere opened #1417 "Add locale for 'sequence updated' in all modules"
For example in FAQ module for Sequence and SequenceQuestions AjaxAction.

[2016-03-01 12:00] wouterverstuyf opened #1419 "Central database / Multiple sites"
Hello

I need to build 4 standalone (mini)-shops with basic shop-features: Login / Profile page / Shopping basket / ... Actually the working principle is the same as Coolblue (but thank god, the mini version... :) )

I'm thinking about the following:
- 1 database for central data (shopping basket, profiles, login information,...)
- 1 database for each site (products, categories, ...)

It should be

[2016-03-01 13:22] WouterSioen commented on #1419
I've done things related to this with Fork. What we did was this:

* add a "sites" and "sites_languages" table
* couple every item to a site_language instead of just a language
* build in a lot of functionality to couple data between site_languages

Note that this was a lot of work and we didn't have separate databases for each site.

You can always make multiple database services in fork. This co

[2016-03-01 13:27] wouterverstuyf commented on #1419
@WouterSioen Thx!

I know, it will be a lot of work and we wil evaluate what's the best way to do this. (one (big) site is the other option but not the preferred one)
Yes, multiple database services is the first step, point the profiles module to that database, and so on... I will try this the coming days/weeks.

Do you have info for multiple database services? (different steps that we will need t

[2016-03-01 13:29] WouterSioen commented on #1419
The normal database service is created here: https://github.com/forkcms/forkcms/blob/master/app/config/config.yml#L47-L58

You could just copy these lines and change the name `database` to `database_xxxxx` with other credentials.

In your models/repositories, you'll need to fetch the right database.

[2016-03-01 13:30] WouterSioen commented on #1419
We still have the "multisite" branch: https://github.com/forkcms/forkcms/tree/multisite

this contains the implementation me and @dubgeiser worked on around two years ago.

[2016-03-01 13:33] wouterverstuyf commented on #1419
Great! Thx, I wil check this out...
The multisite is also something I will check, this could be handy in the case we keep it to 1 site.

Thx for the support!

[2016-03-01 13:58] WouterSioen commented on #1419
I'll close this issue for now. Feel free to reopen or discuss this on slack.

[2016-03-01 13:58] #1419 closed

[2016-03-03 07:52] jeroendesloovere opened #1421 "BUG: "src/Frontend/Cache/Navigation/editor_link_list_nl.js" not exists after deployment"
### Steps to reproduce

* Deploy the website using capistrano

### What happens?

The ```src/Frontend/Cache/Navigation/editor_link_list_nl.js``` and any other _en, _fr files not exist.
Which throws errors in strict browsers like f.e. IE10 on Windows 7.
=> **So you can not add links** in the editor dialog.

### What do you want?

After deployment, when visiting the pages module,
all "src/Frontend/C

[2016-03-03 08:21] jessedobbelaere commented on #1421
Yes, noticed it as well. Used to be created when you first visited a page after cache removal, I think, together with the other cache files.
Related to #1400

[2016-03-03 09:44] V3nn3tj3 opened #1424 "Bug - Saving page results in Notice: Array to string conversion"
When trying to save the "Disclaimer" page the following error occours:

"Notice: Array to string conversion"

It only happens on this page as this is the only page that has the SEO index and SEO follow set.
And if you try to save them without any SEO options, it still fails as the array is just emptied, not unset...

src/Backend/Core/Engine/Meta.php at line 490:

`at SpoonDatabase ->insert ('meta'

[2016-03-03 13:13] jeroendesloovere commented on #1407
I've added an if-statement in [CustomCompilerPass ](https://github.com/forkcms/forkcms/pull/1413/files#diff-119759ce9d3ef9cf33fd708c0c9c5cf9R16) to check if "fork.settings" exist (because "fork.settings" does not exist, when installing the module).

[2016-03-04 07:53] jeroendesloovere opened #1426 "empty ->addDate('birthDate') is not possible"
### What I want

A textfield for birthDate, where the field starts empty!

### What I get

A datefield with the current date filled in.
[code]

### Problem

[code]

[2016-03-07 09:58] jeroendesloovere opened #1429 "BUG: can't add "Editor" block since Fork CMS 3.9.6"
### Steps to reproduce

1. Log in to /private + production environment
2. Modules > Pages > a page > add editor block (had a bug to, fixed with https://github.com/forkcms/forkcms/pull/1420)
3. Add some text
4. Click ok
=> then you don't see any text in the editor block.

![schermafbeelding 2016-03-04 om 09 31 48](https://cloud.githubusercontent.com/assets/588616/13521834/efc2dbda-e1eb-11e5-969a-01

[2016-03-07 12:53] jeroendesloovere opened #1430 "Location module now requires authorization key"
### Problem

I was using the Location module locally, then published the site for production.
Our customer now wants to add another location and it doesn't work anymore.
I tried it and indeed, error is displaying:
![schermafbeelding 2016-03-07 om 13 51 51](https://cloud.githubusercontent.com/assets/588616/13569996/c22f3754-e46b-11e5-89c6-8cd771f94edf.png)

Could it be that the "Authorization key"

[2016-03-07 12:54] carakas commented on #1430
I think so. I have seen this error when using google maps recently and was able to fix it by adding an authorisation key. Maybe we can add it as a required setting in the backend for the location module?

[2016-03-07 12:56] WouterSioen commented on #1430
good idea :+1:

[2016-03-07 13:04] jeroendesloovere commented on #1430
@carakas Why didn't you added an issue for this :-P ?

[2016-03-07 13:14] carakas commented on #1430
@jeroendesloovere because I didn't realize that is would break the Location module since I wasn't using it when I got this error

[2016-03-07 13:24] jeroendesloovere commented on #1430
Allright. Anybody want to create a PR for this?

[2016-03-07 15:23] jeroendesloovere commented on #1430
More news about this issue.

My site was hosted on a new hosting and "allow_url_fopen" was disabled.
```allow_url_fopen``` must be enabled for ```file_get_contents```.

I tested and "key" is not required.
... but how long will this be working...

What should we do @WouterSioen @carakas ?

[2016-03-07 15:25] carakas commented on #1430
I would add the key parameter and require it in the Location module. I have already had it that it didn't work until I added it. In the documentation it is required, so I think it would be best to make it future proof and add they key. Its not like it will hurt to add a key in settings

[2016-03-09 10:59] jeroendesloovere commented on #1429
### How to reproduce in demo.fork-cms.com

1. Open http://demo.fork-cms.com/private and log in with "demo@fork-cms.com" and "demo"
2. Open your browser debug tool for javascript.
2. Click on "Pages > Home"
3. Click "add block" > "editor" > "ok"
4. Enter some text and click "ok".

For every time you do this, you get errors in the console.

![schermafbeelding 2016-03-09 om 11 57 23](https://cloud.gi

[2016-03-09 11:12] jessedobbelaere commented on #1429
I tried firefox, safari and chrome and don't see this error on the demo fork site :S Strange man

[2016-03-09 11:21] #1421 closed

[2016-03-10 10:33] Dextro commented on #1343
We had the same issue on a production server. There are no inodes available anymore, causing issues with writing new (cache) files. So you get http 500 errors.

Is there a reason why there is set a specific path?

[2016-03-10 10:35] WouterSioen commented on #1343
This was a fix to make this work on some servers, but I can't reproduce it anymore. We could probably just use the default php session directory. I guess this is autocleaned?

[2016-03-10 10:43] Dextro commented on #1343
Indeed, see `/etc/cron.d/php5` on Debian/Ubuntu servers.

[2016-03-14 10:19] vytsci opened #1434 "Random data and page generation"
I wound a very annoying bug, when u have random data parsed to template and used within template u receive infinite loop in loop below:
https://github.com/forkcms/forkcms/blob/master/src/Frontend/Core/Engine/Page.php#L361

It checks previously generated positions with new ones and if u have random data that check always returns false, that leads into an infinite loop. Also this method is very insu

[2016-03-14 10:21] vytenizs commented on #1434
For example i had to generate urls with unique tokens and what i got is infinite loops all the time :)

[2016-03-14 10:22] WouterSioen commented on #1434
I've removed the do while loop in some projects because I also can't find why it's done anymore.

It seems like it's introduced by @matthiasmullie so het could maybe stille remember why it's done this way. It's a really really long time ago though, so don't know if he still knows.

Related commit: https://github.com/forkcms/forkcms/commit/4d243446dfa4c80a6312346529683410e93dd7ed

[2016-03-14 10:26] vytenizs commented on #1434
Only way to explain this is that someone wanted to make action able to add position while on render process. I need to know why this was made, maybe I will come with a solution...

[2016-03-14 10:28] matthiasmullie commented on #1434
I can not remember. But it seems to be about recursion, where a position's content could be another position.

[2016-03-14 10:35] vytenizs commented on #1434
I think this loop is useless now, because actually there is no correct way to make position within position.

[2016-03-14 10:38] WouterSioen commented on #1434
@forkcms/core-contributors @forkcms/owner @forkcms/moderators anyone can remember this feature? Is this ever used? I can't imagine I've ever seen this feature used.

[2016-03-14 10:41] matthiasmullie commented on #1434
If I had to guess, I would guess it was an undocumented way of having positions inside a contentblock.

[2016-03-14 10:48] vytenizs commented on #1434
Well either way this should be fixed asap :) cuz this is huge loss in performance... Every page renders multiple times.

[2016-03-14 10:51] WouterSioen commented on #1434
I'm :+1: for removing it, but let's wait for some more responses ;)

[2016-03-14 10:58] carakas commented on #1434
I'm also :+1: for removing it

[2016-03-14 19:48] vytsci opened #1436 "BackendModel extra deletion"
When you use deleteExtra method and pass specific data it deleted required extra, but deletes all extras that has extra data equal to null also. I used this method and got all my main extras deleted. I dunno if it was done intentionally, but i think that this method should delete only those that matches passed data and if data is null only then delete all extras for given parameters.

[2016-03-16 08:51] jeroendesloovere commented on #1429
### Problem

Hi, the problem was with "matthiasmullie/minify".

### Solution

We must load in the latest library.
[code]

Which will do:
[code]

[2016-03-16 08:51] #1429 closed

[2016-03-16 09:01] WouterSioen commented on #1429
for a reference: related issue: https://github.com/matthiasmullie/minify/issues/99

[2016-03-18 19:05] vytenizs opened #1439 "Twig Form and include"
You cant include fields from another file into a form, because u get an exception that u are trying to render field outside form. This is a huge issue. I tried to find workaround, but im too bad for finding a solution. Any suggestions how to fix this?

[2016-03-21 07:14] WouterSioen commented on #1439
This is something that will only be fixed when switching to Symfony forms. Why is this such a big problem?

[2016-03-21 07:19] vytenizs commented on #1439
Well, i have few project that i would like to switch onto twig, but there are lots of forms related includes and complicate things.

[2016-03-21 07:22] WouterSioen commented on #1439
Hmm, SpoonForms and TwigTemplates just don't work that well together. We had to do some rather ugly hacks to even make this work. It's a temporary solution. I'll try to move modules to symfony forms as soon as the new Fork version is released.

[2016-03-21 07:28] vytenizs commented on #1439
Ok :)

[2016-03-21 12:21] WouterSioen commented on #1415
what do you suggest? Because two locales with the same name but different casing can't coëxist. And the keys are case sensitive in the frontend too.

[2016-03-21 12:49] jeroendesloovere commented on #1415
Dunno, a solution is not that obvious

[2016-03-21 13:12] WouterSioen commented on #1415
I don't think it isn't even possible to "solve" this. It's just a requirement: translations are case sensitive. If people write the same terms in different ways, we can't decide in our code which one is the correct one. It's first come first serve now.

[2016-03-21 14:54] jeroendesloovere commented on #1171
@WouterSioen My reference was wrong and I removed it now.

This issue is actually a "request" to use "Translatable" for our modules with "multiple languages".

[2016-03-21 15:46] WouterSioen commented on #1171
Every time I use the "Translatable" behavioural extension, I find it really frustrating to get it to work very well. We could look out if there are better ways to implement this.

[2016-03-28 07:02] vytenizs opened #1441 "Twig wont override Core templates with Form templates"
There is no functionality as it was before. For example you cant override Core Navigation.html.twig with Theme Navigation.html.twig.

[2016-03-29 06:21] WouterSioen commented on #1441
I'll look into this one, thanks!

[2016-03-29 06:48] vytenizs commented on #1441
Sorry dont have time to look into this myself atm.

[2016-03-29 06:48] WouterSioen commented on #1441
No problem, I'm glad you already found this issue ;)

[2016-03-29 06:54] vytenizs commented on #1441
I have a project where im using 3.10 branch, smaller issues i manage to fix myself and PR, but for larger ones im using workarounds. :D

[2016-03-29 07:38] WouterSioen opened #1442 "Remove "manage your dashboard" functionality"
It doesn't work really well, is never used and is implemented in a really odd way. It's time to remove it in Fork 4.

[2016-03-29 07:38] #1439 closed

[2016-03-29 18:30] vytenizs opened #1443 "Twig and open_basedir"
Im having issue launching fork with Twig template engine. The issue is that server does not allow me to disable open_basedir and because of that following error happens:

Warning: is_dir(): open_basedir restriction in effect. File(/) is not within the allowed path(s): (/home/timberca/:/tmp:/usr/share/pear) in /home/timberca/domains/timbercabins.lt/public_html/dev/vendor/twig/twig/lib/Twig/Loader/F

[2016-03-30 06:30] WouterSioen commented on #1443
Do you have a full stack trace?

[2016-03-30 06:37] vytenizs commented on #1443
That is all i have at the moment. It is shared hosting so not so many options in debuging. While Fork needs to enable debug via SetEnv I even cant enable debug mode :) or i dunno how to do so. Because no shared host in my country allows SetEnv. Any suggestions what to do next?

[2016-03-30 06:38] WouterSioen commented on #1443
in your index.php file, you could put `$debug = true` after the environment variables are read. It's a little hacky, but it works in these cases where you can't do it the right way.

[2016-03-30 06:43] vytenizs commented on #1443
Ok ill turn on debug mode and paste output here :)

[2016-03-30 06:44] vytenizs commented on #1443
[1] Symfony\Component\Debug\Exception\ContextErrorException: Warning: is_dir(): open_basedir restriction in effect. File(/) is not within the allowed path(s): (/home/timberca/:/tmp:/usr/share/pear)
    at n/a
        in /home/timberca/domains/timbercabins.lt/public_html/dev/vendor/twig/twig/lib/Twig/Loader/Filesystem.php line 93

    at Symfony\Component\Debug\ErrorHandler->handleError('2', 'is_di

[2016-03-30 08:12] WouterSioen commented on #1443
hmm, thats odd. It seems like Fork adds `/` to the paths to check for templates in. That's really not what should be done. I'll look into it.

[2016-03-30 18:21] vytenizs commented on #1443
Found a solution, but dunno if its proper.
File: src/Frontend/Core/Engine/TwigTemplate.php

Line 279: $loader = new \Twig_Loader_Filesystem(array(
            $this->themePath,
            FRONTEND_MODULES_PATH,
            FRONTEND_PATH,
            '/'
        ));

I replaced with $loader = new \Twig_Loader_Filesystem(array(
            $this->themePath,
            FRONTEND_MODULES_PATH,

[2016-03-31 05:57] vytenizs commented on #1443
Oh boy, those lines:

if (strpos($path['dirname'], 'Widgets') !== false) {
            $this->widgets[$path['filename']] = $this->getPath($template);
        } elseif (strpos($path['filename'], 'Default') === false) {
            $this->block = $this->getPath($template);
        }

How someone comes up with this kinda hardcodes? If i have Widgets word within my path it means im rendering widget an

[2016-03-31 06:17] vytenizs commented on #1443
Made a PR. Please review its only basics of what should be done. Twig implementation is a mess.

[2016-03-31 09:43] jeroendesloovere opened #1446 "FormBuilder + "upload-field" for file/image"
The Core Fork CMS FormBuilder doesn't have a "file/image" upload-field.

This is a feature request by the Fork CMS Community
and we need to discuss how we can get this in the core "secure".

Currently as a fallback, I've copy/pasted the original FormBuilder module
and added a "file/image" upload field. Which uploads files to the document root.

You can view the [adjusted FormBuilder module here](h

[2016-03-31 09:48] WouterSioen commented on #1446
My security requirements:

* Files should be uploaded outside of the document root/ in a secure folder (fe. with `.htaccess` protection).
* Files should only be accessible from the backend for a logged in user.

[2016-04-07 13:30] jacob-v-dam opened #1448 "File browser caching not working with uppercase extensions"
When you have a file named .JPG the .htaccess will not use browser caching because it is case sensitive.

[2016-04-07 13:31] WouterSioen commented on #1448
It normally uses the mime type, not the extension. Are sure about this?

[2016-04-07 13:31] WouterSioen commented on #1448
nevermind, thats the gzip.

[2016-04-07 13:32] WouterSioen commented on #1448
Could probably be fixed with this: http://stackoverflow.com/a/2520601/1454599

Note, I didn't test it

[2016-04-07 13:33] jacob-v-dam commented on #1448
yes that works. I will make a pull request for it.

[2016-04-07 13:35] WouterSioen commented on #1448
great!

[2016-04-07 14:23] jeroendesloovere opened #1449 "Theme feature request: add checkbox to "new visual block" to push it to every page with that theme template."
## Problem

I have a big website and I need to place a certain widget on every page which has that template.
## What you now have to do
1. Add that new visual block "shopCart"
2. Add the widget "shop > widget > shopping cart"
3. Clicking save
4. Now we need to go to pages and open every page where we manually need to add that widget
   ![schermafbeelding 2016-04-07 om 16 18 46](https://cloud.githu

[2016-04-07 14:29] jeroendesloovere opened #1450 "Profiles: when installing I want the added pages to be in my language"
## Problem

I'm Dutch speaking and when I install the "profiles module" in a (multi)-language website,
lots of new pages get added. But all in English.
So I have to change them all to dutch, french, german manually...

## What I want
That the page-names are in the proper language.

![schermafbeelding 2016-04-07 om 16 27 26](https://cloud.githubusercontent.com/assets/588616/14354455/a285ae58-fcdd-1

[2016-04-14 12:07] WouterSioen commented on #1443
This one is fixed in the bootstrap pull request

[2016-04-14 12:07] #1443 closed

[2016-04-14 12:17] WouterSioen commented on #1441
see https://github.com/Katrienvh/forkcms/pull/13 for a fix

[2016-04-14 12:18] #1441 closed

[2016-04-14 12:26] WouterSioen commented on #1343
https://github.com/forkcms/forkcms/pull/1456 fixes this

[2016-04-14 12:56] WouterSioen commented on #1442
done in https://github.com/Katrienvh/forkcms/pull/14

[2016-04-14 13:56] #1343 closed

[2016-04-19 06:24] jeroendesloovere opened #1457 "Quick way to crash demo site"
[Message from sremick on Fork CMS Forum](http://www.fork-cms.com/community/forum/detail/quick-way-to-crash-demo-site#post-954):
I have not installed Fork yet but was just first testing with the demo site. I quickly found a way to bring down the entire site. If one goes to the home page, then delete the following:
The search widget (top block) The item in the left block The item in the right block

[2016-04-19 07:07] WouterSioen commented on #1457
this is already fixed in the master branch, it's just not released yet

[2016-04-19 12:40] #1457 closed

[2016-04-24 20:58] fromgate opened #1458 "Suggestion: Mirrored structure in multilinugal sites"
Hello!

I'm going to create a multilingual site and I find that ForkCMS is good choise for me.
But I miss one feature, that could be added and configured (enable/disable) using config:

Creating multilingual site is same to create two different site now. In fact: you need to re-create site structure from the scratch for every language.

I think when you creating a new page in one language it must

[2016-04-25 06:26] WouterSioen commented on #1458
After your initial setup, you can use a hidden action to copy your site to another language. You can use
http://your-domain.com/private/en/pages/copy?from=en&to=ru

This will copy all pages from the English version to the Russian version.

[2016-04-25 19:06] fromgate commented on #1458
Oh! Great!!! What about future additions: will this "hidden action" overwrite exist pages in Russian?

[2016-04-25 19:16] WouterSioen commented on #1458
yes, it will overwrite. This is just used for initial setup.

We don't want to strictly tie our languages to each others, because a lot of people want slightly different structures.

[2016-04-25 19:49] fromgate commented on #1458
Ok, I got it. But this feature could be optional, so if you accepting new suggestions please don't forget about this one.

[2016-04-25 19:53] WouterSioen commented on #1458
ok, thanks for the suggestion

[2016-04-25 19:53] #1458 closed

[2016-04-26 14:48] jeroendesloovere commented on #1424
@V3nn3tj3 which program did you use here for debugging?

[2016-04-26 14:56] V3nn3tj3 commented on #1424
PHPStorm 11

It's a common setup. Running a local development server which has X-Debug enabled. But without autostart...
Each project can only be debugged by one dev machine at the time. The X-Debug settings are set using the .htaccess file. And PHPStorms listens for incomming connections (X-Debug is configured to send all debug info to one ip).
I'm mostly a Zend Studio user, same principle and wo

[2016-04-26 15:02] WouterSioen commented on #1424
you can do it with almost every editor. (I even have it running in vim).

[2016-04-26 15:10] V3nn3tj3 commented on #1424
Don't know vim was that powerfull? Must be an extention...

[2016-04-26 15:11] WouterSioen commented on #1424
yes it is. Xdebug uses a standard protocol that is used by a lot of other programming languages too, making it easy to build plugins for.

[2016-04-27 07:29] #1424 closed

[2016-05-02 11:36] V3nn3tj3 opened #1460 "hasColumn"
The function hasColumn from Backend\Core\Engine\DataGrid searches in the values of the columns array (in_array). This array holds SpponDatagridColumn objects.

[code]

Should be

[code]

And to keep compability (if any)

[code]

[2016-05-03 06:34] WouterSioen commented on #1460
@carakas you made this method. Can you check this?

[2016-05-03 06:43] carakas commented on #1460
it was @StijnVrolijk

[2016-05-03 09:53] V3nn3tj3 opened #1462 "You have requested a non-existent service "analytics.connector"."
I'm having this problem for quite some time now on several fork installs.

[code]
This happens when i login or want to create a new group of users, etc.
When debugging i see that the analytics service does not exist.

I also see that buildContainer from Kernel does not get called for some reason. So the service will never be found as it is never created.

Any idea's?

[2016-05-03 09:55] WouterSioen commented on #1462
seems like your cache was build when no database connection was available.

try `rm -rf app/cache/<environment>`, so `rm -rf app/cache/dev` when you're in dev mode

[2016-05-03 09:55] V3nn3tj3 commented on #1462
Edit in Kernel.php seems to fix it. But not sure what it all does, so don't know if it is a good idea...

[code]

[2016-05-03 09:56] WouterSioen commented on #1462
building your container in every request would be a really bad thing to do, because it takes a lot of time.

[2016-05-03 09:58] V3nn3tj3 commented on #1462
That was what i was thinking. Will have a look if there is a way to detect and rebuild only when necessary... (if not already present)

[2016-05-03 09:59] WouterSioen commented on #1462
The problem is that you've probably ran `remove_cache` on a place where no database connection was available. This way, the cache was built without the analytics services in there.

If you for example use vagrant, it's better to always run cli tools from inside your vagrant box, or remove the container cache after running your scripts.

[2016-05-03 10:00] jeroendesloovere commented on #1462
I discovered that all custom modules (which contain a "service" integration or parameter from the /app/config/parameters.yml file) throw errors:
* When trying to install fork cms
* When deploying using Capistrano

I found a solution, but only for parameters (from /app/config/parameters.yml)
[Example in fork cms module mailmotor CustomCompilerPass.php](https://github.com/mailmotor/fork-cms-module-m

[2016-05-04 08:36] jeroendesloovere opened #1466 "Fork CMS + Doctrine + \DateTime"
### Example

I want to save $publishOn to "11/05/2016 20:00", this will be saved in the database as "2016-05-11 18:00:00" (Which is correct. Note the two hour difference, because of UTC+1 (Europe/Brussels) + summer time)

If you then want to show "H:i" in your Backend Edit.php action:
[code]

### Actual problem

SpoonDate + SpoonForm

### Problems

**1) Doctrine always uses default timezone**
Doct

[2016-05-07 12:38] Thijzer commented on #1466
I looks like your mismatching some principles here.

### Databases are how we store data, not how we view it.
Doctrine simple stores a value, in the datetime case it's persists the timestamp value stored inside datetime. Doctrine has no knowledge of locale or UTC, so Doctrine is never to blame.

Datetime's timestamp is UTC aware so it represents a timestamp independent of the locale your in. What

[2016-05-10 07:09] jeroendesloovere commented on #1466
@Thijzer Thanks for your reply.
I actually do understand how everything is working, mayby my issue description above wasn't that clear...

Any solution suggestions?

[2016-05-10 07:10] #1400 closed

[2016-05-10 07:11] jeroendesloovere commented on #1400
Closed since bugfix solved this.

[2016-05-17 14:42] V3nn3tj3 opened #1470 "Variable defined in widget bleeds through to other widgets"
When assigning a variable in a widget, this variable still exists in the same and other widgets.
So when WidgetA has the following code:

`$this->tpl->assign('bleed', true);`

This variable is available in both the same widget (from other call) and other widgets.
I can write this in WidgetB:

[code]

[2016-05-17 14:44] WouterSioen commented on #1470
This is done by design, but I also do not think this is a good design. In my opinion, every widget and action should be rendered in it's own scope, without taking other modules into account.

What do the other core devs and contributors think? @forkcms/core-contributors @forkcms/owner @forkcms/moderators

[2016-05-17 14:50] V3nn3tj3 commented on #1470
Oh, by 'design' you say ;).
It would be, like you said, alot better when each widget has it's own scope.

Sorry, thoughed this was a bug. Is there any way to get around this, as i have the same widget multple times. But my option in my tpl should be tied to the scope of the widget and not be global.

Have had this before, when using someone elses code, and using the same variable names. Never gave

[2016-05-17 14:52] WouterSioen commented on #1470
The FormBuilder contains a widget working around this issue. You could try this technique to give your widget it's own scope: https://github.com/forkcms/forkcms/blob/master/src/Frontend/Modules/FormBuilder/Widgets/Form.php#L298-L310

[2016-05-17 14:53] V3nn3tj3 commented on #1470
Will have a look at it! Thanks!

[2016-05-17 15:02] V3nn3tj3 commented on #1470
When using:
[code]

It throws an error on line 57 of file Frontend\Core\Engine\Theme.$file is empty ("")... And can't seem to find out where it gets a empty string...

[code]

[2016-05-17 15:04] WouterSioen commented on #1470
Have you tried a `var_dump` of your `$pathTo` variable? My guess is that `FrontendTheme::getPath` returns an empty string?

[2016-05-17 15:06] V3nn3tj3 commented on #1470
Have been debugging, $pathTo is never "";
Will do some reseach, and will let you know...

[2016-05-17 15:09] V3nn3tj3 commented on #1470
Found it: put this in the loadData() instead of execute. Silly me :)...

[code]

[2016-05-17 15:11] WouterSioen commented on #1470
Ok, glad to help!
I'll keep this issue open for the discussion about the local scope vs global scope in widgets and actions.

[2016-05-18 10:02] timvanwolfswinkel opened #1471 "Frontend Event Hooks Broken"
Hi guys,

The `startProcessingHooks()` function will give a error if you trigger a event from the frontend. It gives the following error:

Notice: Use of undefined constant BACKEND_CACHE_PATH - assumed 'BACKEND_CACHE_PATH'

[2016-05-19 08:01] jeroendesloovere commented on #1471
Hi @timvanwolfswinkel,
Did you use "BACKEND_CACHE_PATH" in the frontend event listener?

[2016-05-19 08:08] jeroendesloovere commented on #1471
Note that currently when you execute a Frontend method, Fork does not now things from Backend and reverse (Backend doesn't know Frontend constants). So if you want to use BACKEND_CACHE_PATH, you need to execute a Backend(Model) method.
=> Or you can forget that hooks and start using $this->get('event_dispatcher')->dispatch($eventName, $eventClassInstance);
=> The internal hooks will soon be replac

[2016-05-20 08:02] jeroendesloovere opened #1473 "Profiles: adding new password should be double checked"
When trying to add a new password, we should double check with two password fields.
![schermafbeelding 2016-05-20 om 09 55 04](https://cloud.githubusercontent.com/assets/588616/15421127/dbd53e16-1e71-11e6-98d7-b6a1a34efb3b.png)

[2016-05-24 13:26] jeroendesloovere opened #1474 "Can't add multiple "og:image:height" or "og:image:width" meta properties."
**What I want**

[code]

**Problem**

That is currently not possible in Fork CMS.
Since "property"+"content" `og:image:width|300` already exists the first time, the second time it won't be shown.

This is the false result:
[code]

[2016-05-24 13:38] jeroendesloovere commented on #1474
I'm working on a backwards fix right now.

[2016-05-27 12:15] #1260 closed

[2016-05-27 12:15] #1395 closed

[2016-05-27 12:15] #1442 closed

[2016-05-29 11:02] WouterSioen commented on #589
Fixed in 4.0.0

[2016-05-29 11:02] #589 closed

[2016-05-29 11:03] WouterSioen commented on #404
Fixed in 4.0.0

[2016-05-29 11:03] #404 closed

[2016-05-29 11:06] #1062 closed

[2016-05-29 11:06] WouterSioen commented on #1299
fixed in 4.0.0

[2016-05-29 11:06] #1299 closed

[2016-05-29 11:08] WouterSioen commented on #1411
fixed in 4.0.0

[2016-05-29 11:08] #1411 closed

[2016-05-29 11:08] WouterSioen commented on #1417
@jeroendesloovere I believe this is fixed, isn't it?

[2016-05-29 11:09] WouterSioen commented on #1448
@jacob-v-dam any news on this pull request?

[2016-05-29 20:37] gertjanwytynck opened #1479 "Routing detail/detail"
Hi,

When I use the action detail as module action I get a wrong url. The template of my detail page is different than the Index-template.

<img width="682" alt="settings" src="https://cloud.githubusercontent.com/assets/2844483/15635902/ad8a9d98-25ed-11e6-9103-c2edb200b3c4.png">

`$link = FrontendNavigation::getURLForBlock('Artists', 'Detail');`
Gives me nl/artiesten/detail/**detail**/some-artist

[2016-05-29 21:30] jessedobbelaere commented on #1479
Hmm not sure, I don't use this often, but have you followed the steps from:
http://www.bubblefish.be/blog/post/fork-cms-tip-pagina-als-module-actie-gebruiken ? Making an entry in the database etc could help

[2016-05-30 06:43] jeroendesloovere commented on #1417
Nope, not yet. Still a plain text message "sequence updated" in every "backend_interface_language".
![schermafbeelding 2016-05-30 om 08 43 21](https://cloud.githubusercontent.com/assets/588616/15641632/9536da40-2642-11e6-9c27-873f7ba041fd.png)

[2016-05-30 08:22] guytarded commented on #1479
Making the entry in the db is necessary, also you need to change some code. It is well explained in that blogpost but the linennumbers aren't correct anymore. You need to search for the given code.

Good luck

[2016-05-30 08:26] gertjanwytynck commented on #1479
Thanks for the help. Will try it tonight.

I will close this issue.

[2016-05-30 08:26] #1479 closed

[2016-06-01 09:41] jeroendesloovere opened #1481 "Can't delete a "locale" value in new fork cms 4"
There is no "delete" button (I'm logged in as a god user)
![schermafbeelding 2016-06-01 om 11 41 04](https://cloud.githubusercontent.com/assets/588616/15705062/be803016-27ed-11e6-979b-8ebaa1930239.png)

[2016-06-01 11:43] jeroendesloovere opened #1482 "Twig converter camelcase has wrong method"
**Problem**
In twig, the `|camelcase` throws error, because of a wrong classname.

**Solution 1**
[code]
Should be changed to
[code]

**Solution2**
Or rename
[code]
to
[code]

And we should test all other twig modifiers if they work.

[2016-06-01 12:24] jeroendesloovere opened #1483 "Reduce database queries for /private/nl/extensions/themes page"
I've got 4 themes available and the database query counter says **322**
![schermafbeelding 2016-06-01 om 14 22 49](https://cloud.githubusercontent.com/assets/588616/15709334/6d3efdce-2804-11e6-97ca-5b5db812b973.png)

[2016-06-01 12:27] jeroendesloovere opened #1484 "Create a "delete theme" CLI Command"
There is no way to delete a theme.

Manually removing it from the folder structure throws errors, because the theme is "installed" and the themes templates are in the database.

[2016-06-01 12:35] jeroendesloovere commented on #1471
Closing this because that is actually how "fork" is working.
Will be better in the future.

[2016-06-01 12:35] #1471 closed

[2016-06-01 13:08] jeroendesloovere commented on #1434
The code was probably added to check old positions if you:
- Installed a new theme
- Or added a "new template" to the page

[2016-06-02 12:34] WouterSioen opened #1487 "Users add/edit doesn't create a source file for avatar"
The source file is used though.

2 possible solutions:

* keep the source
* use a cropped version

I think using the cropped version is better, because people can upload really big images as avatar

[2016-06-02 14:13] freshface opened #1488 "Fork 4.0.0 new UI issues"
- [x] Single element in panel http://jmp.sh/aJTJXnp
- [x] datagrid Blog/ Comments , column to wide http://jmp.sh/mRV4ehE
- [x] Formbuilder field icons http://jmp.sh/oxaQcef
- [x] Installer: previous button is underlined http://jmp.sh/NKJfgZ0
- [x] Installer: required asterisk should not be an icon http://jmp.sh/O3VTmZb
- [x] Installer: password strength http://jmp.sh/5UbTMoK update, should be same

[2016-06-02 14:18] jessedobbelaere commented on #1488
In addition:
* Installer: remove large space between label and field http://jmp.sh/O3VTmZb
* Installer: padding bottom under the buttons is small, while padding left&right of the form is larger. Make padding consistent
* Installer: Could use more blue instead of gray to make it less boring. Maybe a blue tint in the background color or somewhere, or put a logo of fork somewhere

[2016-06-02 14:19] freshface commented on #1488
- Forgot password is not working when trying to login.

[2016-06-02 14:22] carakas commented on #1488
what is wrong with using an icon as asterisk ?

[2016-06-02 14:23] freshface commented on #1488
@carakas It is not consistent with the asterisk in the backend http://jmp.sh/LiUc8yo + it looks to big

[2016-06-03 06:14] WouterSioen commented on #1460
fixed (will be in the upcoming release)

[2016-06-03 06:14] #1460 closed

[2016-06-03 07:23] guytarded commented on #1482
I'm a proponent of the second solution.

[2016-06-07 06:23] #1426 closed

[2016-06-07 07:31] #1487 closed

[2016-06-07 08:56] vidmantasbaz opened #1498 "parseWidget rendering content after default content is loaded"
parseWidget function renders  after  main default  content is loaded  so when it is called   nothing is parsed because content was loaded before

$this->templates[] = array   has  default templates and what  you add from private

on parswidget
$template is   widget template
so its not loading content
   if ($this->baseSpoonFile === $template) {
            return $this->renderTemplate();
        }

[2016-06-07 09:03] carakas opened #1499 "The api is still using SpoonTemplate"

[2016-06-10 08:40] WouterSioen opened #1516 "backend navigation isn't translated"

[2016-06-10 09:00] WouterSioen commented on #1516
fixed!

[2016-06-10 09:00] #1516 closed

[2016-06-10 11:42] WouterSioen opened #1520 "underscore variable names assigned to twig and created in twig."
The twig coding standards state this:

source: http://twig.sensiolabs.org/doc/coding_standards.html

[2016-06-10 17:07] jacob-v-dam opened #1521 "Installer notice unreadable"
While running the installer i get a notice, but it is unreadable:

![image](https://cloud.githubusercontent.com/assets/310526/15972372/7f25b9a6-2f3e-11e6-8b30-d7db17547dbc.png)

[2016-06-13 13:07] jeroendesloovere commented on #1407
@WouterSioen Any news about fixing this in Fork CMS?
"fork.settings" service should be available in the fork installer (because modules can rely on this).
(the service will be empty, since Fork is not yet installed at this moment)

[2016-06-13 13:10] jeroendesloovere commented on #1396
@GhaziTriki Would you be willing to create a list with the documentation that needs to be updated?

[2016-06-15 09:23] afbora opened #1524 "Installer step 6 failed (Uncaught PHP Exception PDOException)"
### Uncaught PHP Exception PDOException

Fork CMS 4.0.2
PHP 5.6.15
MySQL 5.7.9
Apache 2.4.17
On WampServer

[2016-06-15 09:24] jeroendesloovere commented on #1524
Hi @afbora did you try to install custom modules when installing Fork CMS?

[2016-06-15 09:25] WouterSioen commented on #1524
probably related to the utf8mb4 changes (poke @jessedobbelaere )

[2016-06-15 09:27] afbora commented on #1524
@jeroendesloovere I selected all modules :smile:

[2016-06-15 09:31] afbora commented on #1524
I tried to new install with only core modules and same error like following and with `Uncaught PHP Exception PDOException` in logs

[2016-06-15 09:31] WouterSioen commented on #1524
Hmm, I've just tested this and couldn't reproduce the issue. (also selected all modules)

[2016-06-15 09:33] afbora commented on #1524
And tried `default-storage-engine=InnoDB` mysql option but nothing changed.

[2016-06-15 09:34] WouterSioen commented on #1524
all create table statements include the storage engine, so that couldn't be the problem. I'll check if I can test this with the same mysql version.

Can you find more about the error? (like a stack trace?) This could help us find out which module caused the issue.

[2016-06-15 09:41] WouterSioen commented on #1524
@afbora you can toggle debug mode by putting `$env = 'dev';$debug = true;` under this line: https://github.com/forkcms/forkcms/blob/master/index.php#L29 (or by setting the right environment variables)

Can you install again with this change? This should give you a nice stack trace of the error. (probably even containing the query causing the issue.

[2016-06-15 09:41] jeroendesloovere commented on #1524
@afbora Is your database using the required charset "utf8mb4"?

[2016-06-15 09:42] WouterSioen commented on #1524
@jeroendesloovere all our queries set the right charset, so this shouldn't be a problem at all.

[2016-06-15 09:43] jeroendesloovere commented on #1524
@WouterSioen ok, didn't know this. @afbora, you can ignore my question then.

[2016-06-15 09:45] afbora commented on #1524
@jeroendesloovere utf8_unicode_ci

@WouterSioen I couldnt find stack traces. Can i enable from ForkCMS configuration?

[2016-06-15 09:45] WouterSioen commented on #1524
adding `$env = 'dev';$debug = true;` under this line: https://github.com/forkcms/forkcms/blob/master/index.php#L29 or setting the right environment variables should enable stack traces.

[2016-06-15 09:48] jeroendesloovere commented on #1524
or the same can be achieved by adding the following into your `.htaccess`.
[code]

[2016-06-15 09:49] afbora commented on #1524
![bug](https://cloud.githubusercontent.com/assets/3393422/16075427/99ac18d0-32f7-11e6-8f13-a6e3c72cbd76.png)

[2016-06-15 09:53] WouterSioen commented on #1524
Can you try the install again after changing this?

src/Backend/Core/Installer/Data/install.sql line 14

from

[code]

to

[code]

[2016-06-15 09:56] afbora commented on #1524
@WouterSioen Fork CMS is installed! :smile: :clap:

[2016-06-15 10:00] WouterSioen commented on #1524
Ok, I'll do a pull request, thanks for testing this so fast!

[2016-06-15 10:02] afbora commented on #1524
Thanks for amazing assist!

[2016-06-15 10:05] afbora commented on #1524
New issue about analytics `only dashboard`. I have not setup analytics options but this is normal?

### Logs

[2016-06-15 10:06] WouterSioen commented on #1524
your cache is probably corrupt because of the failed installs. Try removing the content of the folders in `app/cache`
The folders will probably be `app/cache/dev` and `app/cache/prod`

[2016-06-15 10:08] afbora commented on #1524
Ohh my mistake, sorry! Fixed.

[2016-06-15 11:29] WouterSioen commented on #1524
bugfix merged in master, thx!

[2016-06-15 11:29] #1524 closed

[2016-06-15 12:30] jeroendesloovere commented on #1524
@afbora If you have more questions, you can find every fork developer in the [ForkCMS channel on Slack](https://fork-cms.herokuapp.com).

[2016-06-15 12:32] afbora commented on #1524
@jeroendesloovere I'll be there, thanks ;))

[2016-06-15 12:33] jeroendesloovere commented on #1524
W're all happy to help.

[2016-06-15 15:08] WouterSioen commented on #1462
I'll close this because it's duplicated and not updated for some time

[2016-06-15 15:08] #1462 closed

[2016-06-15 15:08] WouterSioen commented on #1436
fix merged

[2016-06-15 15:08] #1436 closed

[2016-06-15 15:10] WouterSioen commented on #1415
I'll close this one since no good/possible solution is available. Reopen it if there is a way to solve this please :)

[2016-06-15 15:10] #1415 closed

[2016-06-15 15:29] WouterSioen commented on #1405
updating spoon to https://github.com/forkcms/library/releases/tag/2.2.4 should fix this one

[2016-06-16 07:37] jeroendesloovere commented on #1406
I would minimalize it to tree steps:

**Problem?**
**Steps to reproduce**
**Expected behavior/Proposed solutions**

[2016-06-16 07:58] jacob-v-dam commented on #1446
And a mime-type validation. This a great solution to validate the files.

[2016-06-16 13:18] bartdc opened #1529 "Invisible text during installation."
CSS issues when getting warnings during installation.

Oranje text on oranje background.

![installation_step2_filesystem](https://cloud.githubusercontent.com/assets/1098285/16118043/6ceeecf8-33d5-11e6-95d8-6a75997d677d.png)

White text on white background.

![installation_step7](https://cloud.githubusercontent.com/assets/1098285/16118044/6d077dd6-33d5-11e6-91b3-e500891ac539.png)

[2016-06-16 13:20] bartdc commented on #1529
Forget first one, https://github.com/forkcms/forkcms/issues/1521.

[2016-06-17 06:48] jeroendesloovere opened #1531 "formatCurrency isn't listening to 'Core' 'number_format' setting."
**Problem**

In the backend you can choose the way to show "numbers" in the frontend.
But the currencies aren't looking to this, would be nice if you can change this in the backend.
Since now, you can only do this hardcoded in the method `formatCurrency` in `src/Frontend/Core/Engine/TemplateModifiers.php`.

[2016-06-17 09:02] jeroendesloovere commented on #1466
Didn't read the documentation entirely,
but it seems that [Carbon](http://carbon.nesbot.com/docs/) could help us.

[2016-06-17 13:42] jeroendesloovere opened #1532 "CommonCookie::delete('my_key') is not working?"

[2016-06-18 17:18] carakas commented on #1383
just checked this, and I also get function

[2016-06-19 15:05] jessedobbelaere opened #1535 "Installing module logs you out"
1. Install a module in Fork CMS 4
2. You get logged out
3. Log back in
4. Module is installed

Strange, slightly annoying issue since forkcms 4

[2016-06-19 15:06] carakas commented on #1535
it is the result of a change @WouterSioen made, maybe he can explain why it works like this

[2016-06-21 08:12] WouterSioen commented on #1535
hmm, the location of the sessions is changed, but I can't think of a reason why you get logged out.

[2016-06-21 08:16] WouterSioen commented on #1535
It removes these things:

[code]

The sessions should use the default php session handler which isn't using one of these folders. It seems like there is a sessions folder in the `app/cache` folder though. I'll look into it.

[2016-06-21 08:31] #1482 closed

[2016-06-21 15:13] jeroendesloovere opened #1537 "Improving adding updated locales with a "redo last import" button in "Locale" module"
**Problem**

When developing a module, you sometimes update the "locale" .xml file lots of times.
You always have to:
* Settings > Translations > Import
* Click "Browse" (and select "overwrite existing translations")
* Browsing to your locale .xml file and clicking on it
* Click "Import"

**Enhancement**

We could save the last "path" and "checkbox-setting" and add a new button "import with last s

[2016-06-21 15:14] WouterSioen commented on #1537
You can use the import_locale tool on the cli to easily do this ;)

[2016-06-21 15:15] jessedobbelaere commented on #1537
True, I just run something like this all the time:

`app/console locale:import -f -m Instagram`: Force import (-f) the locale from a module (-m) with name Instagram.

[2016-06-21 15:16] jeroendesloovere opened #1538 "Refactor ModuleInstaller to actually work as an Installer and Uninstaller"
**Problem**

You can't uninstall a module. Which can be a pain in the ass sometimes.

**Solution**

Refactor the "ModuleInstaller", so it can be used to Install or Uninstall a module.

[2016-06-21 15:17] WouterSioen commented on #1538
duplicate of https://github.com/forkcms/forkcms/issues/872

[2016-06-21 15:17] #1538 closed

[2016-06-21 15:20] WouterSioen commented on #1537
I think saving the original path is not even possible using a html file upload.

[2016-06-21 15:49] carakas opened #1539 "addNumber function is implemented in core modules while it is available in common"
Ill fix this tonight

[2016-06-21 15:50] carakas opened #1540 "Translation key validation for import"
a translation name must have a capital letter at the beginning, but this isn't enforced
this leads to translations not working while the import succeded

Ill fix this tonight

[2016-06-21 18:07] carakas commented on #1531
maybe this is something good to look at for this http://php.net/manual/en/function.money-format.php

[2016-06-21 18:17] carakas commented on #1052
Be careful when implementing this that you don't overwrite new pages that have the old url

[2016-06-21 18:20] carakas commented on #959
I'm actually also a fan of making it easier to update modules.

we can always add the version number of the module to the table that now contains the installed modules

What does need to be clarified is if the installer is updated for a fresh install or that the installer runs and the updates follow on a new install. That can maybe be solved by defining a version number in the actuall install code

[2016-06-21 18:21] carakas commented on #872
any update on this ?

[2016-06-21 19:02] jessedobbelaere commented on #872
I think it's pretty easy to do, if we add to each module:
* uninstall.sql: drops custom tables
* uninstaller.php: extends basic uninstaller class with functionality, but in uninstaller.php we can add additional things to cleanup like src/Frontend/Files folders

We can run some general uninstall queries (see [uninstall.sql](https://gist.github.com/jessedobbelaere/cca210875f2ebf58853f) more or less)

[2016-06-21 20:34] carakas commented on #1539
hmm must have been something in the specific project, everything is oke here 👍

[2016-06-21 20:34] #1539 closed

[2016-06-22 01:03] jessedobbelaere opened #1543 "Navigation breaks when using multiple levels"
By default we use `{{ getnavigation('page', 0, 1) }}` for a navigation of 1 level, e.g. in Triton.
If we need `{{ getnavigation('page', 0, 2) }}`, to also show the subpages of the current active page, it breaks.

Example: http://d.pr/i/1iduX

Seems like the subnavigation is rendered as string, and not as raw html. However adding |raw to the navigation doesnt work.
Someone already came across this

[2016-06-22 06:35] #1448 closed

[2016-06-22 16:58] carakas opened #1544 "Content blocks don't work in fork 4"
Template "ContentBlocks/Layout/Widgets/Detail.html.twig" is not defined in Core/Layout/Templates/Home.html.twig at line 54.

[2016-06-23 08:29] carakas commented on #1544
fixed in https://github.com/forkcms/forkcms/pull/1545

[2016-06-23 08:44] carakas commented on #1540
working on this but it is a bit more work to do it cleanly so it might take a little while

[2016-06-24 08:33] jeroendesloovere commented on #1171
This is my "[Translatable](https://gist.github.com/jeroendesloovere/0e339b0c90449e507066d84933411639)" installation guide.
Works perfectly.

[2016-06-24 12:24] carakas opened #1546 "TemplateModifier formatCurrency should use a non breaking space"

[2016-06-24 12:46] jeroendesloovere opened #1547 "FormBuilder is missing a "only send mail" dropdown-choice"
**Problem**

You can only choose options where everything gets saved to database.

**Feature request**
But sometimes customers don't want this to be saved in the database...

What should be done
- At a new option "only send mail" in dropdown
- Add a new "visible_in_backend" boolean for every form request (so it actually gets saved to the database, but you can't view them in the backend)
  ![scherm

[2016-06-24 13:01] WouterSioen commented on #1547
Why would you ever not want it to be stored in the database?

[2016-06-24 13:32] jeroendesloovere opened #1549 "ForkCMS profiles filter: missing "header"-title"
**UI improvement**

I miss a "title", f.e.: "Filter profiles" to be on top of the filter box.
To make clear to users that the fields are to filter things.
![schermafbeelding 2016-06-24 om 15 30 32](https://cloud.githubusercontent.com/assets/588616/16339036/aee97122-3a20-11e6-9533-e9bcb4e526dd.png)
![schermafbeelding 2016-06-24 om 15 30 26](https://cloud.githubusercontent.com/assets/588616/16339035